{% load sass_tags %}
<head>
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css" />
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">
</head>
<div class="message">
	<h1>You have successfully logged out</h1>
	<input class="btn btn-primary" onclick="location.href='{% url 'login' %}';" value="Return to Home Page" type="button" />
</div>

<style>
	.message{
		margin-top:20px;
		text-align:center;
	}
</style>