<!-- templates/registration/login.html -->
{% load sass_tags %}

<head>
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css" />
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">
</head>

<body>
  <div class="login-wrapper">
    <div class="background"></div>

	  <div class="login-form-wrapper">
      <div class="title">
        <h2>Welcome!</h2>
      </div>
      <form method="post">
	    {% csrf_token %}
	      <div class="login-form">
	        <div class="credentials-div">
            {{ form.as_p }}
	        </div>
	        <div class="event-buttons">
	          <button class="btn btn-primary" type="submit">Login</button>
		        <input class="btn btn-primary" type="button" onclick="location.href='{% url 'signup' %}';" value="Create New Account"/>
	        </div>
            <a href="{% url 'password_reset' %}" class="forgot-pwd">Forgot Password</a>
	      </div>
      </form>
    </div>
  </div>
</body>

<style>
  .login-wrapper {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align:center;
  }

  .forgot-pwd {
    font-size:12px;
    bottom: 0;
    text-decoration: underline;
  }

  .login-form-wrapper {
  	position: absolute;
  	border-radius: 20px;
  	width: 50%;
  	background: white;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
  }

  .background {
    background-image: url('/static/img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .credentials{
	  border-left:white;
	  border-right:white;
	  border-top:white;
	  margin:2px;
	  padding: 2px;
	  width:60%;
  }

  .credentials-div{
	  display:inline-block;
	  width:60%;
	  margin-top:2%;
  }

  .login-form {
	  margin-top: 25px;
	  margin-bottom: 40px;
	  text-align: center;
	  vertical-align: middle;
  }

  .title{
  	text-align:center;
  }
</style>