{% load sass_tags %}
<head>
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css" />
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">
</head>
{% block content %}
  <div class="message">
	<p>
	  Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
	</p>
  </div>
{% endblock %}


<style>
	.message{
		margin-top:20px;
		text-align:center;
	}
</style>