{% load sass_tags %}
<head>
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css" />
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">
</head>
{% block content %}
	<div class="message">
	  <p>
	    We've emailed you instructions for setting your password, if an account exists with the email you entered.
	    You should receive them shortly.
	  </p>
	  <p>
	    If you don't receive an email, please make sure you've entered the address you registered with,
	    and check your spam folder.
	  </p>
	  <a href="{% url 'login' %}" class="forgot-pwd">Return to Home Page</a>
	</div>
{% endblock %}

<style>
	.message{
		margin-top:20px;
		text-align:center;
	}
</style>