{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form> -->

  <body>
  <div class="forgot-pwd-wrapper">
    <div class="background"></div>

	  <div class="forgot-pwd-form-wrapper">
      <div class="title">
		  <h1>Forgot your password?</h1>
		  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

      </div>
      <form method="post">
	    {% csrf_token %}
	      <div class="forgot-pwd-form">
	        <div class="email-div">
            {{ form.as_p }}
	        </div>
	        <div class="event-buttons">
		        <input class="btn btn-primary" type="button" onclick="location.href='{% url 'signup' %}';" value="Send me instructions!"/>
	        </div>
	      </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}

<style>
  .background {
    background-image: url('/static/img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .forgot-pwd-wrapper {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align:center;
  }

  .forgot-pwd-form-wrapper {
  	position: absolute;
  	border-radius: 20px;
  	width: 50%;
  	background: white;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  .email-div{
	  display:inline-block;
	  width:60%;
	  margin-top:2%;
  }

  .forgot-pwd-form {
	  margin-top: 25px;
	  margin-bottom: 40px;
	  text-align: center;
	  vertical-align: middle;
  }

</style>
