{% load sass_tags %}
<head>
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css" />
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">
</head>
{% block content %}
  {% if validlink %}
     <body>
      <div class="forgot-pwd-wrapper">
        <div class="background"></div>
        <div class="forgot-pwd-form-wrapper">
          <div class="title">

            <h3>Change password</h3>
          </div>
          <form method="post">
          {% csrf_token %}
            <div class="forgot-pwd-form">
              <div class="email-div">
                {{ form.as_p }}
              </div>
              <div class="event-buttons">
                <button class="btn btn-primary" type="submit">Change password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </body>
  {% else %}
  <div class="message">
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    <a href="{% url 'login' %}" class="forgot-pwd">Return to Home Page</a>
  </div>
  {% endif %}
{% endblock %}

<style>
  .background {
    background-image: url('/static/img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .forgot-pwd-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align:center;
  }

  .forgot-pwd-form-wrapper {
    position: absolute;
    border-radius: 20px;
    width: 50%;
    background: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  .email-div{
    display:inline-block;
    width:60%;
    margin-top:2%;
  }

  .forgot-pwd-form {
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    vertical-align: middle;
  }

  .message{
    margin-top:20px;
    text-align:center;
  }

</style>
