{% load sass_tags %}
<head>
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css" />
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">
</head>
{% block content %}

  <div class="signup-wrapper">
    <div class="background"></div>

	  <div class="signup-form-wrapper">
  <div class="title">
    <h2>{% block title %}Sign Up{% endblock %}</h2>
  </div>
  <form method="post">
    {% csrf_token %}
	<div class="signup-form">
	  <div class="credentials-div">
        {{ form.as_p }}
      </div>
      <div class="event-buttons">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}

<style>

.background {
    background-image: url('/static/img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
  }

.credentials-div{
  display:inline-block;
  width:60%;
  margin-top:2%;
}

.signup-wrapper {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align:center;
  }

  .signup-form-wrapper {
  	position: absolute;
  	border-radius: 20px;
  	width: 50%;
  	background: white;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
  }

.signup-form {
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
}

.title{
  	text-align:center;
  }
</style>
