<html lang="en-US">
  <head>
    <link rel="stylesheet" href="/static/independoc/base.css">
    <title>Scinage Documentation and Tutorial Videos</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <section id="sidebar">
      <header>
        <span id="header-title">{{config.site_title}}</span>
        <a href="{{config.return_url}}">Back to site</a>
      </header>
      {% include 'sidebar.html' %}
    </section>
    <div id="content">
    <main>
        {% block pagetitle %}
        {% endblock %}
      {% block body %}
      {% endblock %}
    </main>
    <footer>
      Generated with Independoc
    </footer>
  </div>
  <script src="/static/independoc/toggleVisible.js"></script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>