{% extends 'UI/skin.html' %}
{% load slide_tags %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Videos' 'videos' %}
{% endblock %}
{% block style %}
<style type="text/css">
	#listImagesLoader > .tab-content{
		margin-top: 10px;
	}
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}
	.itemContainer{
		padding: 2px;
		background-color: #f8bfff;
	}
	.info-td, .video-url{
		max-width: 200px;
	}
	.video-url{
		width: 100%;
		word-wrap: break-word;
	}

</style>
{% endblock %}
{% block body %}
<body>
	<page-header title="Videos" icon="fa-film">
		<button id="upload-video" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Upload video</button>
	</page-header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-xs-12">
				<info-panel title="Upload and delete videos.">
					<p>Videos can be used in widgets. They can be supplied via url or by uploading the video. Uploaded videos can also be deleted (if they are not in use).</p>
					<h4><b>There are no thumbnails.</b></h4>
				</info-panel>
			</div>

			<div class="col-lg-8 col-md-7 col-xs-12">
				<div id="listImagesLoader">
					<div class="tab-content">
						<div class="input-group" style="padding:20px;">
							<input type="text" id="my_images_search" class="form-control" placeholder="search for video title">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
						</div>
						<div class="tab-pane active">
							<table class="table">
								<tbody id="video_list">
								{% for video in videos %}
												{% if video.video %}
									<tr class="itemContainer" data-id="{{video.id}}" data-url="{{video.video.url}}" style="background-color:#e6ccff;">	
										<td class="text-center">{{video.thumbnail}}</td>
										<td class="info-td">
											<p><small>{{video.creation_date}}</small></p>
											<p><small class="video-url">{{video.video.url|url_short}}</small>
											</p>
										</td>
										<td>
											<button class="btn video-delete-button btn-default btn-sm">Delete</button>
										</td>
									</tr>
												{% endif %}
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>				
				</div>
				<div id="upload-modal">
				</div>
				<!-- Deletion Modal -->
				<div class="modal fade" id="deleteVideoModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body">
								<p>You are currently about to delete <b><span id="video-delete-modal-title"></span></b>.
								<p>Deleting this video is <b>permenant</b>, and could effect active widgets using this video.</p>
								<p>Are you sure you want to delete?</p>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button> <button id="video-delete-modal-button" type="button" class="btn btn-danger" data-deleteurl="" data-deleteid="" >DELETE</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
{% block script %}
<script type="text/javascript">
	window.addEventListener("load", windowLoadHandler, false);

	function windowLoadHandler() {
		$("#upload-modal").load('{% url 'video_upload' %}')
	}

	$(function(){
	var currentTimeout

	 $(document).on('change propertychange keyup', '#my_videos_search', function(){
	 	var search = $(this).val().toLowerCase();
	 	if (search.length > 3){
	 		clearTimeout(currentTimeout);
	 		currentTimeout = setTimeout(function(){
	 			var thistab = $("div.active")
	 			$('.itemContainer', thistab).each(function(){
	 				if ($(this).data('url').toLowerCase().includes(search)){
	 					$(this).show()
	 				}
	 				else {
	 					$(this).hide()
	 				}
	 			})
	 		}, 350)
	 	}
	 	else {
	 		var thistab = $("div.active")
	 		$('.itemContainer', thistab).each(function(){
	 			$(this).show()
	 		})
	 	}
	 })
	})

	// Handle Deletion
	var id = ''
	$('.video-delete-button').click(function(){
	  var title = $(this).closest('.itemContainer').find(".video-url").text()
	  var modal = $("#deleteVideoModal")
	  id = $(this).closest('.itemContainer').data('id')
	  $('#video-delete-modal-title').text(title)
	  $('#video-delete-modal-button').data('deleteid', id)
	  modal.modal('show')
	})

	$("#video-delete-modal-button").click(function(){
			id = $('#video-delete-modal-button').data('deleteid')
			if (id != ''){
				$.get("/videos/delete/" + id + "/", function(){
				}).done(function(){
					location.reload()
				}).fail(function(){
				})
			}
		})
</script>
{% endblock %}