<!-- Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="fileModalLabel">Upload Video</h4>
      </div>
      <div class="modal-body">
        <!-- /input-group -->
      	<input id="video_upload" type="file" class="form-control">	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>


  <script>
  var selected_default;
  $(function(){
    $('#upload-video').on('click', function(){
      selected_default = $(this);
      $('#fileModal').modal('show');
    })
    $("#video_upload").on('change' ,function(){
          var video = $('#video_upload')[0].files[0];
          data = new FormData();
          data.append('video', video)
          data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          //POST SELECTED TO /update/id
          $.ajax({
              url: "/uploadvideo/",
              data: data,
              processData: false,
              contentType: false,
              type: 'POST',
              dataType:'json',
              success: function(data){
                location.reload()
                $('#fileModal').modal('hide');
            }
          })
        })
  })
  </script>
