.sidebar-container {
  background-color: #373d47;
  color: #979da7;
  height: 100vh;
  width: 60px;
  flex: 0 0 60px;
  overflow: hidden;
  z-index: 1000;
  transition: flex-basis 250ms ease-out; }
  .sidebar-container.expanded {
    overflow: visible;
    flex-basis: 200px; }
    .sidebar-container.expanded .sidebar-item {
      width: auto; }
      .sidebar-container.expanded .sidebar-item .sidebar-title {
        display: block; }
  .sidebar-container:hover {
    overflow: visible; }

.sidebar {
  line-height: 60px;
  width: 200px; }
  .sidebar .nav {
    display: flex;
    flex-direction: column;
    height: 100vh; }

.sidebar-item {
  width: 60px;
  transition: width 100ms ease-out;
  cursor: pointer; }
  .sidebar-item a {
    color: #ffffff;
    align-items: center;
    display: flex !important;
    height: 60px;
    padding: 0 !important; }
  .sidebar-item i {
    color: #ecf0f1;
    font-size: 19px;
    text-align: center;
    width: 60px; }
  .sidebar-item.sidebar-section-expand {
    margin-top: auto; }
  .sidebar-item.sidebar-section-close {
    margin-top: auto; }
  .sidebar-item a.active {
    box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 0.75); }
  .sidebar-item:hover {
    width: auto;
    box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 0.75); }
    .sidebar-item:hover i {
      color: #ffffff; }
    .sidebar-item:hover a:hover {
      background-color: #7b8a8b; }
    .sidebar-item:hover .sidebar-title {
      display: block; }
  .sidebar-item.sidebar-section-home a:hover, .sidebar-item.sidebar-section-home a.active {
    background-color: #455a64; }
  .sidebar-item.sidebar-section-groups a:hover, .sidebar-item.sidebar-section-groups a.active {
    background-color: #F57C00; }
  .sidebar-item.sidebar-section-screens a:hover, .sidebar-item.sidebar-section-screens a.active {
    background-color: #C2185B; }
  .sidebar-item.sidebar-section-slideshows a:hover, .sidebar-item.sidebar-section-slideshows a.active {
    background-color: #512DA8; }
  .sidebar-item.sidebar-section-slides a:hover, .sidebar-item.sidebar-section-slides a.active {
    background-color: #1976D2; }
  .sidebar-item.sidebar-section-widgets a:hover, .sidebar-item.sidebar-section-widgets a.active {
    background-color: #00796B; }
  .sidebar-item.sidebar-section-images a:hover, .sidebar-item.sidebar-section-images a.active {
    background-color: #AFB42B; }
  .sidebar-item.sidebar-section-videos a:hover, .sidebar-item.sidebar-section-videos a.active {
    background-color: #FFA000; }
  .sidebar-item.sidebar-section-trashbin a:hover, .sidebar-item.sidebar-section-trashbin a.active {
    background-color: #FF5252; }

.sidebar-title {
  display: none;
  height: 60px;
  padding: 19.5px 15px;
  font-size: 19px;
  line-height: 1;
  margin: 0; }

.pageheader {
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75); }
  .pageheader h2 {
    margin: 0; }
    .pageheader h2 i {
      margin-right: 10px; }

.info-panel .panel-heading {
  display: flex; }
  .info-panel .panel-heading i {
    margin-right: 5px; }

.card-link:hover {
  text-decoration: none; }

.card {
  background: #fff;
  border-radius: 5px;
  color: #2C3E50;
  display: flex;
  transition: all 0.25s ease-out;
  margin-bottom: 15px; }
  .card:hover {
    background: #ecf0f1; }
  .card h3 {
    margin-top: 0; }
  .card .card-icon {
    font-size: 26px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    margin: 0;
    padding: 15px;
    width: 60px;
    display: flex;
    justify-content: center; }
  .card .card-icon_slideshows {
    background-color: #512DA8; }
  .card .card-icon_screens {
    background-color: #C2185B; }
  .card .card-icon_slides {
    background-color: #1976D2; }
  .card .card-icon_widgets {
    background-color: #00796B; }
  .card .card-body {
    margin: 10px 15px; }
  .card ul {
    list-style-type: square;
    padding-left: 20px; }

#app {
  display: flex; }

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6; }

.ui-wrapper {
  height: 100vh;
  overflow-y: scroll;
  padding: 50px 30px 0 30px; }

.navbar-inverse {
  margin-left: 60px;
  background-color: #373d47;
  color: #18BC9C; }
  .navbar-inverse a:hover {
    background-color: #222222 !important; }
  .navbar-inverse li a:hover {
    background-color: #222222 !important; }

.navbar-inverse a:hover, .navbar-inverse .navbar-brand:hover {
  color: #18BC9C !important; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px; }

.tabLarge {
  display: none !important; }

.tabSmall {
  display: block !important; }

@media (min-width: 768px) {
  .tabLarge {
    display: block !important; }
  .tabSmall {
    display: none !important; } }

@media (max-width: 768px) {
  .navbar > .container-fluid a.navbar-brand:first-of-type {
    margin-left: 0; } }

/*Styling for inline checkboxes and such */
table .checkbox {
  display: table-cell; }

table .checkbox input[type="checkbox"] {
  margin-left: 10px; }

/*Styling for Layer Stuff*/
.itemContainer {
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 6px solid #333333;
  padding: 10px 0px 10px 0px;
  margin: 0px; }

.itemDescription {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: #ffffff; }

.itemContainerLayer {
  background-color: #eeeeee; }

.itemContainerSlide {
  background-color: #dfe6f6; }

.itemContainerSlideshow {
  background-color: #dff6e0; }

.itemContainerGroup {
  background-color: #f6dff6; }

.itemContainerScreen {
  background-color: #ffe9d3; }

.layerItem,
.slideItem,
.slideshowItem,
.groupItem,
.screenItem {
  padding: 5px; }

.addbuttoncontainer,
.sharebuttoncontainer {
  display: none; }

.aspect_maintain {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%; }

.aspect_maintain iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.modal {
  z-index: 10000; }

.tab-pane {
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }

.tab-content {
  background-color: white;
  border-left: 1px solid ddd;
  border-right: 1px solid ddd;
  border-bottom: 1px solid ddd;
  margin-left: 1px; }

.search-wrapper {
  padding: 20px;
  padding-bottom: 10px; }

#expand-wrapper {
  position: relative;
  width: 100%;
  height: 52px; }

#expand-all {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px; }

.list {
  display: flex;
  flex-wrap: wrap; }

.list .itemContainer {
  height: 100%; }

.list .layerItem {
  min-height: 170px;
  min-width: 200px;
  max-width: 50%; }

.modal .list .layerItem {
  min-width: 200px !important; }

#pub_layers .list .layerItem,
#my_layers .list .layerItem,
#group_layers .list .layerItem {
  min-height: 170px;
  min-width: 300px;
  max-width: none; }

.slideItem,
.slideshowItem {
  min-width: 300px; }

.modal .list .slideItem,
.modal .list .slideshowItem {
  min-height: 160px;
  min-width: 145px;
  max-width: 50%; }

.modal .itemContainerLayer,
.modal .itemContainerSlide,
.modal .itemContainerSlideshow {
  position: relative;
  padding-bottom: 45px; }

.modal #fav_layers {
  padding-left: 20px;
  padding-right: 20px; }

.modal #pub_layers .itemContainerLayer {
  padding-bottom: 5px; }

.addbuttoncontainer {
  position: absolute;
  bottom: 10px; }

.collapse:not(.in) {
  display: none; }

.slideTitle,
.slideshowTitle,
.screenTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px; }

.slideTitle small,
.slideshowTitle small,
.screenTitle small {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis; }

.slideTitle small span,
.slideshowTitle small span,
.screenTitle small span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.top-icons span:not(.pull-right) {
  display: inline-block; }

.layer-icon-wrapper {
  padding-left: 1px;
  width: 20px; }

.rating-selection-wrapper {
  padding-left: 24px;
  display: block;
  margin: 0; }

.fa-check-circle {
  color: #337ab7; }

.fa-heart {
  color: #ff6666; }

.fa-star {
  color: #ffcc00; }

.rating-wrapper {
  width: auto; }

.rating-wrapper:hover {
  color: #337ab7;
  cursor: pointer; }

.rating-selection-wrapper span {
  float: left; }

.rating-selection-wrapper .rating {
  float: right; }

.rating-wrapper:hover > i,
.rating-selection-wrapper:hover .rating:hover,
.rating-selection-wrapper:hover .rating:hover ~ .rating {
  color: #ffd632;
  cursor: pointer; }

.offtoggle:hover,
.previewtoggle:hover {
  color: #23527c;
  cursor: pointer; }

.favtoggle:hover {
  color: #ff3333;
  cursor: pointer; }

.top-icons-expanded .rating-wrapper {
  color: #337ab7; }

.top-icons-expanded .rating-wrapper > i {
  color: #ffd632; }

.top-icons {
  height: 20px;
  overflow: hidden; }

.top-icons.top-icons-expanded {
  height: 45px !important; }

#group_layers .panel-heading,
#group_slides .panel-heading,
#group_slideshows .panel-heading,
#group_screens .panel-heading {
  position: relative; }

#group_layers .panel-heading i,
#group_slides .panel-heading i,
#group_slideshows .panel-heading i,
#group_screens .panel-heading i {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1; }
