@import "variables";

// Import component styles
@import "components/sidebar";
@import "components/sidebar-item";
@import "components/page-header";
@import "components/info-panel";
@import "components/card";

#app {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

.ui-wrapper {
  height: 100vh;
  overflow-y: scroll;
  padding: 50px 30px 0 30px;
}

.navbar-inverse {
  margin-left: $sidebar-width;
  background-color: #373d47;
  color: $brand-success;

  a {
    &:hover {
      background-color: $gray-darker !important;
    }
  }

  li {
    a {
      &:hover {
        background-color: $gray-darker !important;
      }
    }
  }
}

.navbar-inverse {
    a, .navbar-brand {
      &:hover {
        color: $brand-success !important;
      }
  }
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

.tabLarge {
  display: none !important;
}

.tabSmall {
  display: block !important;
}

@media (min-width: 768px) {
  .tabLarge {
    display: block !important;
  }

  .tabSmall {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbar > .container-fluid a.navbar-brand:first-of-type {
    margin-left: 0;
  }
}

/*Styling for inline checkboxes and such */
table .checkbox {
  display: table-cell;
}

table .checkbox input[type="checkbox"] {
  margin-left: 10px;
}

/*Styling for Layer Stuff*/
.itemContainer {
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 6px solid #333333;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.itemDescription {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: #ffffff;
}

.itemContainerLayer {
  background-color: #eeeeee;
}

.itemContainerSlide {
  background-color: #dfe6f6;
}

.itemContainerSlideshow {
  background-color: #dff6e0;
}

.itemContainerGroup {
  background-color: #f6dff6;
}

.itemContainerScreen {
  background-color: #ffe9d3;
}

.layerItem,
.slideItem,
.slideshowItem,
.groupItem,
.screenItem {
  padding: 5px;
}

.addbuttoncontainer,
.sharebuttoncontainer {
  display: none;
}

.aspect_maintain {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect_maintain iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal {
  z-index: 10000;
}

.tab-pane {
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.tab-content {
  background-color: white;
  border-left: 1px solid ddd;
  border-right: 1px solid ddd;
  border-bottom: 1px solid ddd;
  margin-left: 1px;
}

.search-wrapper {
  padding: 20px;
  padding-bottom: 10px;
}

#expand-wrapper {
  position: relative;
  width: 100%;
  height: 52px;
}

#expand-all {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list .itemContainer {
  height: 100%;
}

.list .layerItem {
  min-height: 170px;
  min-width: 200px;
  max-width: 50%;
}

.modal .list .layerItem {
  min-width: 200px !important;
}

#pub_layers .list .layerItem,
#my_layers .list .layerItem,
#group_layers .list .layerItem {
  min-height: 170px;
  min-width: 300px;
  max-width: none;
}

.slideItem,
.slideshowItem {
  min-width: 300px;
}

.modal .list .slideItem,
.modal .list .slideshowItem {
  min-height: 160px;
  min-width: 145px;
  max-width: 50%;
}

.modal .itemContainerLayer,
.modal .itemContainerSlide,
.modal .itemContainerSlideshow {
  position: relative;
  padding-bottom: 45px;
}

.modal #fav_layers {
  padding-left: 20px;
  padding-right: 20px;
}

.modal #pub_layers .itemContainerLayer {
  padding-bottom: 5px;
}

.addbuttoncontainer {
  position: absolute;
  bottom: 10px;
}

.collapse:not(.in) {
  display: none;
}

.slideTitle,
.slideshowTitle,
.screenTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.slideTitle small,
.slideshowTitle small,
.screenTitle small {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slideTitle small span,
.slideshowTitle small span,
.screenTitle small span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-icons span:not(.pull-right) {
  display: inline-block;
}

.layer-icon-wrapper {
  padding-left: 1px;
  width: 20px;
}

.rating-selection-wrapper {
  padding-left: 24px;
  display: block;
  margin: 0;
}

.fa-check-circle {
  color: #337ab7;
}

.fa-heart {
  color: #ff6666;
}

.fa-star {
  color: #ffcc00;
}

.rating-wrapper {
  width: auto;
}

.rating-wrapper:hover {
  color: #337ab7;
  cursor: pointer;
}

.rating-selection-wrapper span {
  float: left;
}

.rating-selection-wrapper .rating {
  float: right;
}

.rating-wrapper:hover > i,
.rating-selection-wrapper:hover .rating:hover,
.rating-selection-wrapper:hover .rating:hover ~ .rating {
  color: #ffd632;
  cursor: pointer;
}

.offtoggle:hover,
.previewtoggle:hover {
  color: #23527c;
  cursor: pointer;
}

.favtoggle:hover {
  color: #ff3333;
  cursor: pointer;
}

.top-icons-expanded .rating-wrapper {
  color: #337ab7;
}

.top-icons-expanded .rating-wrapper > i {
  color: #ffd632;
}

.top-icons {
  height: 20px;
  overflow: hidden;
}

.top-icons.top-icons-expanded {
  height: 45px !important;
}

#group_layers .panel-heading,
#group_slides .panel-heading,
#group_slideshows .panel-heading,
#group_screens .panel-heading {
  position: relative;
}

#group_layers .panel-heading i,
#group_slides .panel-heading i,
#group_slideshows .panel-heading i,
#group_screens .panel-heading i {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1;
}
