<ul id="trashtabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
		  <li role="presentation" class="active"><a href="#trash_slides" aria-controls="trash_slides" role="tab" data-toggle="tab">Slides</a></li>
		  <li role="presentation"><a href="#trash_layers" aria-controls="trash_layers" role="tab" data-toggle="tab">Widgets</a></li>
</ul>
<div id="slidepanes" class="tab-content" style="background-color: white; margin-left: 1px;">
	<div class="input-group" style="padding:20px;">
	  
	  </div>
	  {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="trash_slides">
   	<div class="row">
			{% if trash_slide_list %}
			

					{% for slide in trash_slide_list %}
					{% slide_item slide %}
   					{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   					
   					{% endfor %}
					
				
			{% else %}
				<h4>No slides deleted.</h4>
			{% endif %}
   	</div>
   </div>
   <div role="tabpanel" class="tab-pane" id="trash_layers">
      <div class="row">
			{% if trash_layer_list %}
			
					{% for layer in trash_layer_list %}
					{% layer_item_fav layer mode %}
   					{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   					{% endfor %}

			{% else %}
				<p>No widgets deleted.</p>
			{% endif %}
			
      </div>
   </div>
