{% extends 'UI/skin.html' %}
{% block body %}
<page-header title="Trashbin" icon="fa-trash"></page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-xs-12">
      <info-panel title="About trashbin">
        Deleting items from the trashbin will be <b>PERMANENT</b>. Please be
        sure you wish to delete an item before proceeding.
      </info-panel>
    </div>
    <div id="listScreenLoader" class="col-lg-8 col-md-7 col-xs-12"></div>
    <div id="slidepanes" class="col-lg-8 col-md-7 col-xs-12" style="">
      <ul
        id="trashtabs"
        class="nav nav-tabs"
        role="tablist"
        style="margin-top:10px;"
      >
        <li role="presentation" class="active">
          <a
            href="#trash_slideshows"
            aria-controls="trash_slideshows"
            role="tab"
            data-toggle="tab"
            >Slideshows</a
          >
        </li>
        <li role="presentation">
          <a
            href="#trash_slides"
            aria-controls="trash_slides"
            role="tab"
            data-toggle="tab"
            >Slides</a
          >
        </li>
        <li role="presentation">
          <a
            href="#trash_layers"
            aria-controls="trash_layers"
            role="tab"
            data-toggle="tab"
            >Widgets</a
          >
        </li>
      </ul>
      <div id="trashpanes" class="tab-content" style="background-color: white;">
        <div class="input-group tab-content" style="padding:20px;">
          <input
            type="text"
            id="my_slides_search"
            class="form-control"
            placeholder="search for slide title"
          />
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
        {% load slide_tags %}
        <div
          role="tabpanel"
          class="tab-pane active tab-content"
          id="trash_slideshows"
        >
          <div class="row">
            {% if trash_slideshow_list %}

            <div class="table-responsive">
              <table class="table  table-boarder table-hover">
                <thead>
                  <tr>
                    <th class="col-xs-8">Slideshow title</th>
                    <th class="col-xs-2">Restore</th>
                    <th class="col-xs-2">Delete</th>
                  </tr>
                </thead>

                {% for slideshow in trash_slideshow_list %}

                <tr>
                  <td>
                    <p>{{ slideshow.title }}, {{ slideshow.creation_date }}</p>
                  </td>
                  <td>
                    <a href="{% url 'restore' 'slideshow' slideshow.id%}"
                      >Restore</a
                    >
                  </td>
                  <td>
                    <a href="{% url 'delete' 'slideshow' slideshow.id%}"
                      >Delete</a
                    >
                  </td>
                  {% endfor %}
                </tr>
              </table>
            </div>

            {% else %}
            <table class="table  table-boarder table-hover">
              <tr>
                <td>
                  <p>No slideshows deleted.</p>
                </td>
              </tr>
            </table>

            {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-content" id="trash_slides">
          <div class="row">
            {% if trash_slide_list %}
            <div class="table-responsive">
              <table class="table  table-boarder table-hover">
                <thead>
                  <tr>
                    <th class="col-xs-8">Slide title</th>
                    <th class="col-xs-2">Restore</th>
                    <th class="col-xs-2">Delete</th>
                  </tr>
                </thead>

                {% for slide in trash_slide_list %} {% if slide.uses > 0 %}
                <tr>
                  <td><p>{{ slide.title }}, {{ slide.creation_date }}</p></td>
                  <td>
                    <a href="{% url 'restore' 'slide' slide.id%}">Restore</a>
                  </td>
                  <td><span class="alert-danger">Slide is in use</span></td>
                  {% else %}
                </tr>

                <tr>
                  <td><p>{{ slide.title }}, {{ slide.creation_date }}</p></td>
                  <td>
                    <a href="{% url 'restore' 'slide' slide.id%}">Restore</a>
                  </td>
                  <td>
                    <a href="{% url 'delete' 'slide' slide.id%}">Delete</a>
                  </td>
                  {% endif %} {% endfor %}
                </tr>
              </table>
            </div>
            {% else %}
            <table class="table  table-boarder table-hover">
              <tr>
                <td>
                  <p>No slides deleted.</p>
                </td>
              </tr>
            </table>

            {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-content" id="trash_layers">
          <div class="row">
            {% if trash_layer_list %}
            <div class="table-responsive">
              <table class="table  table-boarder table-hover">
                <thead>
                  <tr>
                    <th class="col-xs-8">Layer title</th>
                    <th class="col-xs-2">Restore</th>
                    <th class="col-xs-2">Delete</th>
                  </tr>
                </thead>
                {% for layer in trash_layer_list %} {% if layer.uses > 0 %}
                <tr>
                  <td><p>{{ layer.title }}, {{ layer.creation_date }}</p></td>
                  <td>
                    <a href="{% url 'restore' 'layer' layer.id%}">Restore</a>
                  </td>
                  <td><span class="alert-danger">Layer is in use</span></td>
                  {% else %}
                </tr>

                <tr>
                  <td><p>{{ layer.title }}, {{ layer.creation_date }}</p></td>
                  <td>
                    <a href="{% url 'restore' 'layer' layer.id%}">Restore</a>
                  </td>
                  <td>
                    <a href="{% url 'delete' 'layer' layer.id%}">Delete</a>
                  </td>
                  {% endif %} {% endfor %}
                </tr>
              </table>
            </div>

            {% else %}
            <p>No widgets deleted.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block style %}
<style>
	td{
		padding-left: 15px;
		padding-right: 15px;
	}

	button{
		margin-top: 2px;
		margin-bottom: 2px;


	}
</style>
{% endblock %}