{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Stations' 'stations' %}
	{% if station != None %}
	{% with "Edit: "|add:station.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Station' %}
    {% endif %}
{% endblock %}

{% block style %}

	<style>
		.addbuttoncontainer{
			display: block;
		}
		#currentItem.addbuttoncontainer{
			display: none;
		}
		#currentItem{
			padding: 8px;
			border-color: grey;
			border: 3px dashed;
			min-height: 20px;
			width: 100%;
			margin: 8px;
		}
	</style>

{% endblock %}

{% block body %}
	<div class="col-lg-6 col-xs-12">
		<form id="station_form" method="POST" action="" style="margin: 5%">
		{% load crispy_forms_tags %}
		{% load slide_tags %}

		{% crispy form %}

		<br><br>
		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 10400'">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Select object to link to</h4>
				</div>
				<div class="modal-body">
					<ul id="AllTabs" class="nav nav-pills" role="tablist" style="">
								<li role="presentation" class="active"><a href="#all_slideshows" aria-controls="all_slideshows" role="tab" data-toggle="tab">Slideshows</a></li>
								<li role="presentation"><a href="#all_slides" aria-controls="all_slides" role="tab" data-toggle="tab">Slides</a></li>
					</ul>
					<div id="all_panes" class="tab-content" style="">
						<div role="tabpanel" class="tab-pane active" id="all_slideshows">
						</div>
						<div role="tabpanel" class="tab-pane" id="all_slides">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
	$('#all_slideshows').load('{% url "list_slideshows" mode="edit" %}');
	$('#all_slides').load('{% url "list_slides" mode="edit" %}');
	$('#all_panes').on('click', '.addslidebutton', function(){
		var item = $(this).closest('.slideItem>.itemContainer').clone();
		$(item).find('.addbuttoncontainer').remove();
		$('#currentItem').html(item);
		$('#id_default_link').val('/slides/view/'+$(this).closest('.slideItem').data('id')+'/');
		$('#myModal').modal('hide')

	})
	$('#all_panes').on('click', '.addslideshowbutton', function(){
		var item = $(this).closest('.slideshowItem>.itemContainer').clone();
		$(item).find('.addbuttoncontainer').remove();
		$('#currentItem').html(item);
		$('#id_default_link').val('/slideshows/view/'+$(this).closest('.slideshowItem').data('id')+'/');
		$('#myModal').modal('hide')
	})


	</script>
{% endblock %}
