{% extends 'UI/skin.html' %}
{% load breadcrumbs %}
{% load static %}

{% block breadcrumbs %}
{% breadcrumb_url 'Stations' 'stations' %}
	{% if station != None %}
		{% with "Edit: "|add:station.title as current %}
			{% breadcrumb current %}
		{% endwith %}
	{% else %}
		{% breadcrumb 'Edit Station' %}
	{% endif %}
{% endblock %}

{% block style %}
	<link href="{% static 'scical/calendar.min.css' %}" rel="stylesheet">
	<style>
		.navbar-collapse.collapse {
			display: none !important
		}
		.nav.ui-nav {
			margin: 0;
			font-size: 14px
		}
		.nav.ui-nav > li {
			margin: 0
		}
		.addbuttoncontainer{
			display: block;
		}
		#ajaxform-modal {
			overflow-y:scroll;
		}
		#currentItem {
			width: 100%;
			margin: 0 auto;
		}
		.popover {
			z-index: 10500
		}
	</style>
{% endblock %}

{% block body %}
<div id="calendar-1" class="row" style="width: 100%"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 10400'">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Select object to link to</h4>
			</div>
			<div class="modal-body">
				<ul id="AllTabs" class="nav nav-pills" role="tablist" style="">
							<li role="presentation" class="active"><a href="#all_slideshows" aria-controls="all_slideshows" role="tab" data-toggle="tab">Slideshows</a></li>
							<li role="presentation"><a href="#all_slides" aria-controls="all_slides" role="tab" data-toggle="tab">Slides</a></li>
				</ul>
				<div id="all_panes" class="tab-content" style="">
					<div role="tabpanel" class="tab-pane active" id="all_slideshows">
					</div>
					<div role="tabpanel" class="tab-pane" id="all_slides">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
$('#all_slideshows').load('{% url "list_slideshows" mode="edit" %}');
$('#all_slides').load('{% url "list_slides" mode="edit" %}');
$('#all_panes').on('click', '.addslidebutton', function(){
	var item = $(this).closest('.slideItem>.itemContainer').clone();
	$(item).find('.addbuttoncontainer').remove();
	$('#currentItem').html(item);
	$('#id_extra_form-link').val('/slides/view/'+$(this).closest('.slideItem').data('id')+'/');
	$('#myModal').modal('hide')

	var title = $('#currentItem').find('b')["0"].innerText
	$('#id_event_form-title').prop('value', title);
	$('#id_extra_form-station').prop('value', '{{ station.id }}')
})
$('#all_panes').on('click', '.addslideshowbutton', function(){
	var item = $(this).closest('.slideshowItem>.itemContainer').clone();
	$(item).find('.addbuttoncontainer').remove();
	$('#currentItem').html(item);
	$('#id_extra_form-link').val('/slideshows/view/'+$(this).closest('.slideshowItem').data('id')+'/');
	$('#myModal').modal('hide')

	var title = $('#currentItem').find('b')["0"].innerText
	$('#id_event_form-title').prop('value', title);
	$('#id_extra_form-station').prop('value', '{{ station.id }}')
})
$(".modal").on("shown.bs.modal", function () {
               if ($(".modal-backdrop").length > 1) {
                   $(".modal-backdrop").not(':first').remove();
               }
           })

</script>
<script src="{% static 'scical/calendar.min.js' %}"></script>
<script>
	$('#calendar-1').load("/cal_calendar/{{station.id}}")
</script>

{% endblock %}
