<ul id="stationtabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
	<li role="presentation" class="active"><a href="#my_stations" aria-controls="my_stations" role="tab" data-toggle="tab">My Stations</a></li>
	<li role="presentation"><a href="#group_stations" aria-controls="group_stations" role="tab" data-toggle="tab">Stations in Groups</a></li>
</ul>
<div id="stationpanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
		<input type="text" id="my_stations_search" class="form-control" placeholder="search for station title">
		<span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
	{% load slide_tags %}
	<div role="tabpanel" class="tab-pane active" id="my_stations">
		<div class="row">
		{% for station in stations %}
		{% station_item station %}
		{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}

		{% endfor %}
		</div>
	</div>
		<div role="tabpanel" class="tab-pane" id="group_stations">
		<div class="row">
			{% for group in groups %}
				<div class="panel panel-default">
					<div class="panel-heading"><span class="panel-title">{{group.title}} </span> <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span></div>
					<div class="panel-body">
						{% for station in group.stations.all %}
							{% station_item station %}
						{% endfor %}
					</div>
				</div>

			{% endfor %}
		</div>
	</div>
</div>

<script>
$(function(){
	var currentTimeout

	$(document).on('change propertychange keyup', '#my_stations_search', function(){
		var search = $(this).val().toLowerCase();
		if (search.length > 3){
			clearTimeout(currentTimeout);
			currentTimeout = setTimeout(function(){
				var thistab = $("#stationpanes div.active")
				$('.stationItem', thistab).each(function(){
					if ($(this).data('title').toLowerCase().indexOf(search) > -1){
						$(this).show()
					}
					else {
						$(this).hide()
					}
				})
			}, 350)
		}
		else {
			var thistab = $("#stationpanes div.active")
			$('.stationItem', thistab).each(function(){
				$(this).show()
				})
		}
	})
})
</script>
