{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Stations' 'stations' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
	<div class="col-lg-6 col-lg-push-6 col-xs-12">
	<h2>Stations <small class="text-muted">Everything on Time</small></h2>


	<p>Scinage stations are the end-all solution to on-campus signage needs. Stations are able to schedule slideshows, or even individual slides, giving each scheduled item a priority number to ensure that each screen is playing what it needs to play when it needs to play it.</p>
	<p>Stations also have the ability to tie into the on-campus emergency notification system (EMERGE), and allow users to add special slides to overlay over any other running slides.</p>
	<a href={% url 'new_station' %} class="btn btn-primary btn-lg">New Station</a>

	</div>
	<div id="listStationLoader" class="col-lg-6 col-lg-pull-6 col-xs-12">

	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="shareModalLabel">Share Station<span id="sharetitle"></span></h4>
			</div>
			<div id="shareModalBody" class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="shareModalLabel">Transfer Station<span id="sharetitle"></span></h4>
			</div>
			<div id="transferModalBody" class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
			</div>
		</div>
	</div>
</div>
<div id="calendar"></div>
{% endblock %}

{% block script %}
<script>
	$('#listStationLoader').load('{% url "list_stations" mode="manage" %}')

	$('#listStationLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/station/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
	})
	$('#listStationLoader').on('click', '.transferbutton', function(){
		$('#transferModalBody').load('/transfer/station/'+$(this).data('itempk')+'/', function(){
			$('#transferModal').modal('show');
		})
	})
</script>

{% if channel %}
<script>
	$('#calendar').load( "{% url name|add:'_calendar' %}")
</script>
{% endif %}

{% endblock %}
