<div data-id="{{station.id}}" data-title="{{station.title}}" class="stationItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerstation row">
	<div class="col-xs-12">
		<span class=""><i class="fa fa-th-list"></i></span>
		<span class="pull-right">

		</span>
	</div>
	<div class="col-xs-8">
	<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
		<h4 style="margin:0; margin-top:5px"><b>{{station.title}}</b>
		<small>(by: {% if station.owner == user %}Me{% else %} {{station.owner.username}}{% endif %})
		<br>
		Last Edited: {{station.edit_date|date:"Y/m/d H:m"}} by {{station.owner}}
		</small>

		</h4>

	</div>
	{% if mode == "manage" %}
		<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
			<p><small></small></p>
			<p>{{station.description}}</p>
		</div>
	</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.use == True %}<a href="{% url 'view_station' station.id %}" class="btn btn-primary btn-sm">View</a>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_station' station.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-itempk="{{station.id}}">Share</button>{% endif %}
				{% if user == station.owner %}<button class="transferbutton btn btn-primary btn-sm" data-itempk="{{station.id}}">Transfer</button>{% endif %}
				{% comment %}
				{% if perms.delete == True %}<a href="{% url 'delete_station' station.id %}" class="btn btn-primary btn-sm">Delete (not actually a thing)</a>{% endif %}
				{% endcomment %}
				<a href="{% url 'schedule_station' station.id %}" class="btn btn-primary btn-sm">Schedule</a>
			</div>
		</div>
	{% else %}
	</div>
	{% endif %}
	<div class="col-xs-12 addbuttoncontainer">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addstationbutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	</div>
</div>

