{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Screen' 'screens' %}
	{% if screen != None %}
	{% with "Edit: "|add:screen.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Screen' %}
    {% endif %}
{% endblock %}

{% block style %}

	<style>
		.addbuttoncontainer{
			display: block;
		}
		#currentItem .addbuttoncontainer{
			display: none;
		}
		#currentItem{
			padding: 8px;
			border-color: grey;
			border: 3px dashed;
			min-height: 20px;
			width: 100%;
			margin: 8px;
		}
		#url-slug{
			font-weight: bold;
		}
		.sharebuttoncontainer{
			display: block;
		}
	</style>

{% endblock %}

{% block body %}
<div class="container-fluid" style="padding:20px;">
	<div class="row">
		<div class="col-lg-6 col-lg-push-6 col-xs-12">
			<h2 style="margin-top: 0px !important;">Editing a Screen</h2>
			<p>
				Please add a title and select which slideshow or slide you would like displaying on this screen (description optional). Note that only one slideshow or slide can be assigned to a screen, and deleted slideshows will be removed from screens.
			</p>
			<br />
			<p><b>Update:</b> Screen URLs now use the screen's ID instead of their slug. Screens using the old URL will continue to work, but switching over to using IDs is recommended.</p>
		</div>
		<div class="col-lg-6 col-lg-pull-6 col-xs-12">
			<form id="screen_form" method="POST" action="" >
			{% load crispy_forms_tags %}
			{% load slide_tags %}
			{% crispy form %}
				<span id="url-slug">
					{% if screen.id == None %}
							URL: {{ request.get_host }}/screens/view/
					{% else %}
							URL: {{ request.get_host }}/screens/view/{{screen.id}}/
					{% endif %}
				</span>
				<div id="currentItem" class='row'>
					{% if item == None %}
						Select an item to point this screen to below...
					{% else %}
						{% if itemtype == 'slideshows' %}
							{% slideshow_item item %}
						{% elif itemtype == 'slides' %}
							{% slide_item item %}
						{% endif %}
					{% endif %}
				</div>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
				  Choose what to show on this screen
				</button>
				<br><br>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Select object to link to</h4>
		      </div>
		      <div class="modal-body">
			      <ul id="AllTabs" class="nav nav-pills" role="tablist" style="">
		      		  <li role="presentation" class="active"><a href="#all_slideshows" aria-controls="all_slideshows" role="tab" data-toggle="tab">Slideshows</a></li>
		      		  <li role="presentation"><a href="#all_slides" aria-controls="all_slides" role="tab" data-toggle="tab">Slides</a></li>
			      </ul>
			      <div id="all_panes" class="tab-content" style="">
			      	<div role="tabpanel" class="tab-pane active" id="all_slideshows">
			      	</div>
			      	<div role="tabpanel" class="tab-pane" id="all_slides">
			      	</div>
			      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="shareModalLabel">Share Slideshow <span id="sharetitle"></span></h4>
		      </div>
		      <div id="shareModalBody" class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="transferModalLabel">Transfer Slideshow <span id="transfertitle"></span></h4>
		      </div>
		      <div id="transferModalBody" class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Deletion Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-body">
		        <p>You are currently about to delete <b><span id="delete-modal-title"></span></b>.
		        <p>Are you sure you want to delete?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button> <button id="delete-modal-button" type="button" class="btn btn-danger" data-deleteurl="" data-deleteid="" >DELETE</button>
		      </div>
		    </div>

		  </div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
$('#all_slideshows').load('{% url "list_slideshows" mode="edit" %}');
$('#all_slides').load('{% url "list_slides" mode="edit" %}');

$('#all_panes').on('click', '.addslidebutton', function(){
	var item = $(this).closest('.slideItem>.itemContainer').clone();
	$(item).find('.addbuttoncontainer').remove();
	$('#currentItem').html(item);
	$('#id_link').val('/slides/view/'+$(this).closest('.slideItem').data('id')+'/');
	$('#myModal').modal('hide')

})
$('#all_panes').on('click', '.addslideshowbutton', function(){
	var item = $(this).closest('.slideshowItem>.itemContainer').clone();
	$(item).find('.addbuttoncontainer').remove();
	$('#currentItem').html(item);
	$('#id_link').val('/slideshows/view/'+$(this).closest('.slideshowItem').data('id')+'/');
	$('#myModal').modal('hide')
})
$('#currentItem').on('click', '.sharebutton', function(){
	$('#shareModalBody').load('/share/'+$(this).data('type')+'/'+$(this).data('itempk')+'/', function(){
		$('#shareModal').modal('show');
	})
	$('#sharetitle').html($(this).data('itemtitle'));
})
$('#currentItem').on('click', '.transferbutton', function(){
	$('#transferModalBody').load('/transfer/'+$(this).data('type')+'/'+$(this).data('itempk')+'/', function(){
		$('#transferModal').modal('show');
	})
	$('#transfertitle').html($(this).data('itemtitle'));
})
// Handle Deletion
$('.slideshow-delete-button, .slide-delete-button').click(function(){
	var url = $(this).data('deleteurl');
	var modal = $("#deleteModal")
	if ($(this).hasClass('slideshow-delete-button')){
		var title = $(this).closest('.slideshowItem').find(".slideshowTitle").text()
		var id = $(this).closest('.slideshowItem').attr('id')
	}
	else{
		var title = $(this).closest('.slideItem').find(".slideTitle").text()
		var id = $(this).closest('.slideItem').attr('id')
	}
	$('#delete-modal-title').text(title)
	$('#delete-modal-button').data('deleteurl', url)
	$('#delete-modal-button').data('deleteid', id)
	modal.modal('show')
})

$("#delete-modal-button").click(function(){
	$.post($('#delete-modal-button').data('deleteurl'), {'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
		if (data == "SUCCESS"){
		   $("#" + $('#delete-modal-button').data('deleteid')).remove()
		   $('#currentItem').html('Select an item to point this screen to below...')
		   $('#id_link').val('')
		   $("#deleteModal").modal('hide')
		}
	})
})
$(".slideItem").on('click', '.previewtoggle', function(){
  var icon = $(this);
  var container = $(this).closest('.slideItem');
  var itemid = container.data('id');
  if (icon.hasClass('fa-eye')){
     $.get('/slides/view/'+itemid+'/?preview=true', success=function(data){
        var iframe = $('<iframe scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

        container.find('.slidepreview>div').html(iframe)
        container.find('.slidepreview').slideDown();

     })
  }
  else{
     container.find('.slidepreview').hide()
     container.find('.slidepreview iframe').remove()
  }
  icon.toggleClass('fa-eye fa-eye-slash')
 })

</script>
{% endblock %}
