<ul id="screentabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
		  <li role="presentation" class="active"><a class="tabLarge" href="#my_screens" aria-controls="my_screens" role="tab" data-toggle="tab">My Screens</a><a class="tabSmall" href="#my_screens" aria-controls="my_screens" role="tab" data-toggle="tab">Owned</a></li>
		  <li role="presentation"><a class="tabLarge" href="#group_screens" aria-controls="group_screens" role="tab" data-toggle="tab">Group Screens</a><a class="tabSmall" href="#group_screens" aria-controls="group_screens" role="tab" data-toggle="tab">Group</a></li>
</ul>
<div id="screenpanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
	  <input type="text" id="my_screens_search" class="form-control" placeholder="search for screen title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="my_screens">
   	<div class="row list">
   	{% for screen in screens %}
   	{% screen_item screen request.get_host %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% if mode != 'manage' %}
   	{% endif %}

   	{% endfor %}
   	</div>
   </div>
      <div role="tabpanel" class="tab-pane group-pane" id="group_screens">
      <div class="row">
        <div id="expand-wrapper">
          <button id="expand-all" type="button" class="btn btn-default">
            Collapse All <i class="fa fa-chevron-up"></i>
          </button>
        </div>
         {% for group in groups %}
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#{{group.id}}">
                <span class="panel-title">{{group.title}} </span>
                <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span>
                <i class="fa fa-chevron-up"></i>
              </div>
              <div id="{{group.id}}" class="panel-body collapse in">
                <div class="list">
                {% for screen in group.screens.all %}
                  {% screen_item screen %}
                  {% endfor %}
                </div>
              </div>
            </div>

         {% endfor %}
      </div>
   </div>
</div>

<script>
$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_screens_search', function(){
 	var search = $(this).val().toLowerCase();
 	if (search.length > 3){
 		clearTimeout(currentTimeout);
 		currentTimeout = setTimeout(function(){
 			var thistab = $("#screenpanes div.active")
 			$('.screenItem', thistab).each(function(){
 				if ($(this).data('title').toLowerCase().includes(search)){
 					$(this).show()
 				}
 				else {
 					$(this).hide()
 				}
        if ($(this).siblings(':visible').length == 0 && $(this).is(':hidden')){
          $(this).parents('.panel').hide()
        }
        else{
          $(this).parents('.panel').show()
        }
 			})
 		}, 350)
 	}
 	else {
 		var thistab = $("#screenpanes div.active")
 		$('.screenItem', thistab).each(function(){
 			$(this).show()
      $(this).parents('.panel').show()
 			})
 	}
 })
})

function btnFlip(){
  if ($('.panel-heading.collapsed').length == ($('.panel-heading').length)){
    $('#expand-all').html('Expand All <i class="fa fa-chevron-down"></i>')
  }
  else if ($('.panel-heading.collapsed').length == 0){
    $('#expand-all').html('Collapse All <i class="fa fa-chevron-up"></i>')
  }
}

function iconFlip(icon){
  var icon = icon
  if (icon.hasClass('collapsed')){
    icon.find('i').removeClass('fa-chevron-down')
    icon.find('i').addClass('fa-chevron-up')
  }
  else{
    icon.find('i').removeClass('fa-chevron-up')
    icon.find('i').addClass('fa-chevron-down')
  }
}

$('.panel-heading').click(function(){
  iconFlip($(this));
  setTimeout(function(){
    btnFlip(),
    100
  })
})

$('#expand-all').click(function(){
  var status = 'Expand'
  var i = String($(this).html())
  if (i.includes('Collapse')){
    $(this).html('Expand All <i class="fa fa-chevron-down"></i>')
    status = 'Expand'
  }
  else{
    $(this).html('Collapse All <i class="fa fa-chevron-up"></i>')
    status = 'Collapse'
  }
  $('.row .panel-heading').each(function(){
    if (!($(this).hasClass('collapsed')) && status == 'Expand'){
      $(this).click()
    }
    else if ($(this).hasClass('collapsed') && status == 'Collapse'){
      $(this).click()
    }
  })
})
</script>
