<div data-id="{{screen.id}}" data-title="{{screen.title}}" class="screenItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerScreen row">
		<div class="col-xs-12">
			<span class=""><i class="fa fa-th-list"></i></span>
			<span class="pull-right">
			</span>
		</div>
		<div class="col-xs-8">
			<h4 style="margin:0; margin-top:5px" class="screenTitle"><b>{{screen.title}}</b>
				<small>(by: {% if screen.owner == user %}Me{% else %} {{screen.owner.username}}{% endif %})
					<br>
						Last Seen: {% if screen.last_connect %}{{screen.last_connect|date:"Y/m/d H:i"}}{% else %}Never{% endif %}
					<br>
						IP Address: {{screen.ip}}
					<br>
					<span title="{{ domain }}/screens/view/{{screen.id}}/">
						URL: {{ domain }}/screens/view/{{screen.id}}/
					</span>
				</small>
			</h4>
			<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
				<p><small></small></p>
				<p>{{screen.description}}</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-type="screen" data-itempk="{{screen.id}}" data-itemtitle="{{screen.title}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_screen' screen.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
				<a href="{% url 'view_screen' screen.id %}?preview=true" class="btn btn-primary btn-sm">View</a>
				{% if user == screen.owner %}
				<button class="transferbutton btn btn-primary btn-sm" data-type="screen" data-itempk="{{screen.id}}" data-itemtitle="{{screen.title}}">Transfer</button>
				{% endif %}
				{# {% if perms.delete == True %}<a href="{% url 'delete_screen' screen.id %}" class="btn btn-sm btn-default">Delete</a>{% endif %} #}
			</div>
		</div>
	</div>
</div>
