<html>
<head>
	<style type="text/css">
	html body{
		margin:0;
		padding:0;
		{% if request.GET.preview %}
		background-color: black;
		overflow: auto;
		{% else %}
		/*The issue is due to inherited styling from slideshowrender;
		just need to either prevent this, change selector, or add
		additional html structor to wrap such that we do not need to
		target the body, but rather the wrapper.*/
		background-color: #474d57;
		overflow: hidden;
		{% endif %}
		min-height: 100vh;
		height: 100vh;
		max-height: 100vh;
		width: 100vw;
		max-width: 100vw;
		position:absolute;
	}
	.element{
		width: 100%; height: 100%; position:absolute; left: 0; top: 0;
	}
	#element-wrapper, #slideholder{
	{% if request.GET.preview %}

		margin: auto;
		position: relative;
		background-color: #474d57;

		width: {{dimensions.0}}%;
	}
	#element-wrapper:before, #slideholder:before{
	    content: '';
	    display: block;
	{% endif %}
	}
	.fade{
		opacity: 1;
		-webkit-transition: opacity 0.6s ease-in-out;
	    -moz-transition: opacity 0.6s ease-in-out;
	    -ms-transition: opacity 0.6s ease-in-out;
	    -o-transition: opacity 0.6s ease-in-out;
	}

	</style>
</head>
<body>
<script src="/static/js/jquery-2.2.0.min.js"></script>
<script>
		var link = "{{screen.link}}"
		var emergency = ""
	$(function(){
		$('body').load('{{screen.link}}')
		setInterval(function(){
			$.get('/screens/ping/{{screen.slug}}/', function(data){
				if (typeof data !== 'object'){
					if (emergency != data){
						emergency = data
						link = ""
						$('body').html(emergency)
					}
				}
				else if (data.target){ // data.target checks if slide has been updated
					location.reload();
				}
			})
		}, 40000)
	})
</script>
</body>
</html>
