{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Groups' 'groups' %}
	{% if group != None %}
	{% with "Edit: "|add:group.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Group' %}
    {% endif %}
{% endblock %}

{% block style %}

<style>
#controls_container tr>td:last-of-type,
#controls_container tr>th:last-of-type {
	border-left: solid 1px #DDDDDD;
}
#controls_container thead th:last-of-type {
	color: #a94442;
}
button:disabled {
	cursor: not-allowed;
}
.can_edit_permissions, .can_edit_permissions-head{
	{% if not owner %}
	display: none !important;
	{% else %}
	border-right: solid 1px #DDDDDD;
	border-left: solid 1px #DDDDDD;
	{% endif %}
}
</style>

{% endblock %}

{% block body %}
<div class="container-fluid" style="padding:20px;">
	<div class="row">
		<div class="col-lg-6 col-lg-push-6 col-xs-12">
			<h2 style="margin-top: 0px !important;">Editing a Group{% if group_owner %}<small> (owned by: {% if owner %}me{% else %}{{group_owner}}{% endif %})</small>{% endif %}</h2>
			<p>
				Please add a title and description for this group. Users must first be added to the group by the owner, but can be added by group members if given the appropriate permissions.
			</p>
		</div>
		<div class="col-lg-6 col-lg-pull-6 col-xs-12">
			<form id="group_form" method="POST" action="" >
			{% load crispy_forms_tags %}
			{% crispy form %}
				<hr>
			{% crispy membersform helper %}
				<button type="button" id="addcontrol" {% if not perms.can_add_users and group != None %}disabled{% endif %}>Add User</button>
				<button type="submit">Submit</button>
			</form>
			<table id="empty_form" style="display:none">
				<tbody>
				{% crispy membersform.empty_form trhelper%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
$('#addcontrol').click(function(ev){
	ev.preventDefault();
	var count = $('#controls_container > tbody > tr').length;
	var tmplMarkup = $('#empty_form>tbody').html();
	var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
	$('table#controls_container>tbody').append(compiledTmpl);

	// update form count
	$('#id_member-TOTAL_FORMS').attr('value', count+1);
})
$('th .textInput').each(function(){
	if (!($(this).parents('.form-group').hasClass('has-error'))){
		$(this).prop('readonly', true)
	}
})
$(':checkbox').click(function(){
	if ($(this).prop('readonly')){
		return false
	}
})
var True = true
var False = false
var owner = {{owner|safe}}
console.log('owner', owner)
var perms = {{perms|safe}}
if(perms['can_edit_permissions'] == false){
	$('th input').prop('readonly', true)
	if (perms['can_remove_users'] == true){
		$('th.DELETE input').prop('readonly', false)
	}
}
if (!(owner)){
	$('#id_title, textarea').prop('readonly', true)
}
</script>
{% endblock %}
