<ul id="grouptabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
		  <li role="presentation" class="active"><a href="#my_groups" aria-controls="my_groups" role="tab" data-toggle="tab">My groups</a></li>
		  <li role="presentation"><a href="#other_groups" aria-controls="other_groups" role="tab" data-toggle="tab">Groups I'm in</a></li>
</ul>
<div id="grouppanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
	  <input type="text" id="my_groups_search" class="form-control" placeholder="search for group title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="my_groups">
   	<div class="row">
   	{% for group in groups %}
   	{% group_item group %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% endfor %}
   	</div>
   </div>
   <div role="tabpanel" class="tab-pane" id="other_groups">
      <div class="row">
      {% for group in other_groups %}
      {% group_item group %}
      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
      {% endfor %}
      </div>
   </div>
</div>



<script>
$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_groups_search', function(){
 	var search = $(this).val().toLowerCase();
 	if (search.length > 3){
 		clearTimeout(currentTimeout);
 		currentTimeout = setTimeout(function(){
 			var thistab = $("#grouppanes div.active")
 			$('.row>.groupItem', thistab).each(function(){
 				if ($(this).data('title').toLowerCase().indexOf(search) > -1){
 					$(this).show()
 				}
 				else {
 					$(this).hide()
 				}
 			})
 		}, 350)
 	}
 	else {
 		var thistab = $("#grouppanes div.active")
 		$('.row>.groupItem', thistab).each(function(){
 			$(this).show()
 			})
 	}
 })
})
</script>