
<div data-id="{{group.id}}" data-title="{{group.title}}" class="groupItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerGroup row">
		<div class="col-xs-12">
			<span class=""><i class="fa fa-users"></i></span>
			<span class="pull-right">
		</div>

		<div class="col-xs-8">
		<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
			<h4 style="margin:0; margin-top:5px"><b>{{group.title}}</b>
			<br>
			<small>(by: <span class="owner">{% if group.owner == user %}Me{% else %}{{group.owner.username}}{% endif %}</span>)
			</small>

			</h4>

		</div>
		{% if mode == "manage" %}
			<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
				<p><small></small></p>
				<p>{{group.description}}</p>
			</div>
		</div>
			<div class="col-xs-4">
				<div class="btn-group-vertical btn-block" role="group" aria-label="...">
					<a href="{% url 'view_group' group.id %}" class="btn btn-primary btn-sm">View</a>
					{% if perms.can_add_users == True or perms.can_remove_users == True %}<a href="{% url 'edit_group' group.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
					{% if group.owner == user %}
					<button class="transferbutton btn btn-primary btn-sm" data-itempk="{{group.id}}">Transfer</button>
					{# <a href="{% url 'delete_group' group.id %}" class="btn btn-primary btn-sm">Delete</a> #}
					{% endif %}
				</div>
			</div>
		{% else %}
		</div>
		{% endif %}
		{# The below is unneeded...why would you share a group? just add any user you want to "share" the group with... #}
		<div class="col-xs-12 sharebuttoncontainer">
			{% if perms.can_add_items == True %}
			<button type="button" class=" btn btn-block btn-primary sharegroupbutton">Share</button>
			{% else %}
			<button type="button" class=" btn btn-block btn-primary disabled">Cannot Share</button>
			{% endif %}
		</div>
	</div>
</div>
