{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Groups' 'groups' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}

</style>
{% endblock %}

{% block body %}
<page-header title="Groups" icon="fa-users">
	<a href="{% url 'new_group' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New group</a>
</page-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-md-5 col-xs-12">
			<info-panel title="You know what a group is">
				Groups allow you to put all the people and objects you need in a single convienient place. This is the alpha test, anybody using this site right now knows exactly what a group is why am I even typing this?
			</info-panel>
		</div>
		<div id="listGroupsLoader" class="col-lg-8 col-md-7 col-xs-12">
		</div>
	</div>
</div>

<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Transfer Group<span id="sharetitle"></span></h4>
      </div>
      <div id="transferModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listGroupsLoader').load('{% url "list_groups" mode="manage" %}')
	$('#listGroupsLoader').on('click', '.transferbutton', function(){
		$('#transferModalBody').load('/transfer/group/'+$(this).data('itempk')+'/', function(){
			$('#transferModal').modal('show');
		})
	})
</script>
{% endblock %}