This item is in the following Groups:
<div id="sharedList"></div>

<hr>
<div id="sharegrouplist"></div>
<div id="emptyAddedGroup" style="display:none;">
	<div data-groupid="-1" class="col-xs-12 addedgroup" style="border:1px solid black;">
		<b class="title"></b>
	</div>
</div>
<script>
	function addGroup(id, title, candelete){
		var newShare = $($("#emptyAddedGroup").html());
		newShare.attr('data-groupid', id)
		// MAKE SURE THIS SHIT DOESN'T ALREADY EXIST
		newShare.find(".title").html(title)
		if (candelete == true){
			newShare.append('<b class="deleteitem pull-right">delete</b>')
		}
		$("#sharedList").append(newShare)
	}
	function delGroup(addedgroupdiv){}
	$(function(){
		var currentGroups = {{groups|safe}}
		for (var i=0; i < currentGroups.length; i++){
			addGroup(currentGroups[i]['id'], currentGroups[i].title, currentGroups[i].candelete)
		}
		$("#sharegrouplist").load('{% url "list_groups" mode="edit" %}')
		// Load up all the current groups
		$("#sharedList").on('click', '.addedgroup>.deleteitem', function(){
			var share = $(this).closest('.addedgroup')
			share.remove();
		})
		$("#sharegrouplist").on('click', '.sharegroupbutton', function(){
			var group = $(this).closest('.groupItem')
			addGroup(group.data('id'), group.data('title'), true);
		})
		// Remove previous button stuff
		$("#saveshare").unbind();
		$("#saveshare").click(function(){
			// Get the IDs for all the added groups...
			var data = {'data': [], 'csrfmiddlewaretoken': "{{csrf_token}}"}
			$('.addedgroup').each(function(){
				if ($(this).data('groupid') != -1){
					data.data.push($(this).data('groupid'))
				}
			})
			// Post this information
			$.post('/share/{{itemtype}}/{{item.id}}/', data, function(){
				$("#shareModal").modal('hide');
			})
		})
	})
</script>
