<p><b>Transfer this {{itemtype}} to another person</b></p>
<p>You may transfer this item to another user by entering their 8-character UWaterloo username into the box below.<p>
<p class="text-danger">This action cannot be undone. Please ensure the UWaterloo username is entered correctly. The transfer will be cancelled if this person has not logged into scinage before.</p>

<b>Recipient:</b>
<input class="form-control" type="text" id="transferrecipient">
<span class="transferissue"></span>
{% if itemtype == "group" %}
<br>
<input type="checkbox" id="transfer_all_items" value="true"> Transfer all items (Slides, Slideshows, Screens etc.) which I own that are shared with this group as well.
{% else %}
<input type="hidden" id="transfer_all_items" value=''>
{% endif %}
<script>
	$(function(){
		// Remove previous button stuff
		$("#dotransfer").unbind();
		$("#dotransfer").click(function(){
			// Get the IDs for all the added groups...
			var data = {'recipient': $('#transferrecipient').val(), 'transfer_all_items': $('#transfer_all_items').val(), 'csrfmiddlewaretoken': "{{csrf_token}}"}
			// Post this information
			$.post('/transfer/{{itemtype}}/{{item.id}}/', data, function(resp){
				if(resp=="SUCCESS"){
					location.reload();
				}
				else{
					$('.transferissue').html("User invalid!")
				}
			})
		})
	})
</script>
