{% extends 'UI/skin.html' %}
{% load breadcrumbs %}
{% load slide_tags %}


{% block breadcrumbs %}
{% breadcrumb_url 'Groups' 'groups' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-lg-push-6 col-xs-12">
			<h2>{{group.title}} <small class="text-muted">(Owned by: {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %})</small></h2>
			<p>{{group.description}}</p>
		</div>
		<div id="" class="col-lg-6 col-lg-pull-6 col-xs-12">
			<ul id="grouptabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
				<li role="presentation" class="active"><a href="#group_members" aria-controls="group_members" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Members</a></li>
				<li role="presentation"><a class="{% if group.screens.all.count == 0 %}disabled{% endif %}" href="#group_screens" aria-controls="group_screens" role="tab" data-toggle="tab"><i class="fa fa-television"></i> Screens</a></li>
				<li role="presentation"><a class="{% if group.slideshows.all.count == 0 %}disabled{% endif %}" href="#group_slideshows" aria-controls="group_slideshows" role="tab" data-toggle="tab"><i class="fa fa-th-list"></i> Slideshows</a></li>
				<li role="presentation"><a class="{% if group.slides.all.count == 0 %}disabled{% endif %}" href="#group_slides" aria-controls="group_slides" role="tab" data-toggle="tab"><i class="fa fa-object-group"></i> Slides</a></li>
				<li role="presentation"><a class="{% if group.layers.all.count == 0 %}disabled{% endif %}" href="#group_layers" aria-controls="group_layers" role="tab" data-toggle="tab"><i class="fa fa-object-ungroup"></i> Widgets</a></li>
			</ul>
			<div id="grouppanes" class="tab-content" style="">
			   <div role="tabpanel" class="tab-pane active" id="group_members">
			   	<div class="row">
				   	<b>You ({{user.username}})</b>
				   	<br>
			   	{% for member in group.groupmembership_set.all %}
			   	{% if not member.user.username == user.username %}
				   	<b>{{member.user.username}}</b>
				   	<br>
			   	{% endif %}
			   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
			   	{% endfor %}
			   	</div>
			   </div>
			   <div role="tabpanel" class="tab-pane" id="group_screens">
			      <div class="row">
			      {% if group.screens.all.count != 0 %}
			      {% for item in group.screens.all %}
			      {% screen_item item %}
			      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
			      {% endfor %}
			      {% else %}
				      <p>No screens shared.</p>
			      {% endif %}
			      </div>
			   </div>
			   <div role="tabpanel" class="tab-pane" id="group_slides">
			      <div class="row">
			      {% if group.slides.all.count != 0 %}
			      {% for item in group.slides.all %}
			      {% slide_item item %}
			      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
			      {% endfor %}
			      {% else %}
				      <p>No slides shared.</p>
			      {% endif %}
			      </div>
			   </div>
			   <div role="tabpanel" class="tab-pane" id="group_slideshows">
			      <div class="row">
			      {% if group.slideshows.all.count != 0 %}
			      {% for item in group.slideshows.all %}
			      {% slideshow_item item %}
			      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
			      {% endfor %}
			      {% else %}
				      <p>No slideshows shared.</p>
			      {% endif %}
			      </div>
			   </div>
			   <div role="tabpanel" class="tab-pane" id="group_layers">
			      <div class="row">
			      {% if group.layers.all.count != 0 %}
			      {% for item in group.layers.all %}
			      {% layer_item_fav item %}
			      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
			      {% endfor %}
			      {% else %}
				      <p>No widgets shared</p>
			      {% endif %}
			      </div>
			   </div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share Slide <span id="sharetitle"></span></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="transferModalLabel">Transfer Slide <span id="transfertitle"></span></h4>
      </div>
      <div id="transferModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
 $("#group_slides").on('click', '.previewtoggle', function(){
  var icon = $(this);
  var container = $(this).closest('.slideItem');
  var itemid = container.data('id');
  if (icon.hasClass('fa-eye')){
     $.get('/slides/view/'+itemid+'/', success=function(data){
        var iframe = $('<iframe scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

        container.find('.slidepreview>div').html(iframe)
        container.find('.slidepreview').slideDown();

     })
  }
  else{
     container.find('.slidepreview').hide()
     container.find('.slidepreview iframe').remove()
  }
  icon.toggleClass('fa-eye fa-eye-slash')
 })

 $("#group_layers").on('click', '.previewtoggle', function(){
   var icon = $(this);
   var container = $(this).closest('.layerItem');
   var itemid = container.data('version');
   if (icon.hasClass('fa-eye')){
      $.post('/slides/layerpreview/', {'version': itemid}, function(data){
         var iframe = $('<iframe width="100%" height="200px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

         container.find('.layerpreview>div').html(iframe)
         container.find('.layerpreview').slideDown();

      })
   }
   else{
      container.find('.layerpreview').hide()
      container.find('.layerpreview iframe').remove()
   }
   icon.toggleClass('fa-eye fa-eye-slash')
  })
 $('#grouppanes').on('click', '.sharebutton', function(){
 	$('#shareModalBody').load('/share/'+$(this).data('type')+'/'+$(this).data('itempk')+'/', function(){
 		$('#shareModal').modal('show');
 	})
 	$('#sharetitle').html($(this).data('itemtitle'));
 })
 $('#grouppanes').on('click', '.transferbutton', function(){
 	$('#transferModalBody').load('/transfer/'+$(this).data('type')+'/'+$(this).data('itempk')+'/', function(){
 		$('#transferModal').modal('show');
 	})
 	$('#transfertitle').html($(this).data('itemtitle'));
 })
</script>
{% endblock %}
