{% extends 'UI/skin.html' %}
{% load breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb_url 'Slides' 'slides' %}
	{% if slide != None %}
	{% with "Edit: "|add:slide.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Slide' %}
    {% endif %}
{% endblock %}

{% block style %}
	<style>
		#canvasContainer {
			position: absolute;
			width: 100vw;
			height: 100vh;
			left: 0;
			padding-left: 70px;
		}

		.bar{
			background-color: #E6E6E6;
		}
		#leftbar{
			padding-left: 75px;
			padding-right: 10px;
			padding-top:55px;
			width:300px;
			height:100vh;
			min-height: 100vh;
			max-height: 100vh;
			position: absolute;
			top:0px;
			left:0px;
		}
		#layerlist{
			width:280px;
			height: 300px;
			max-height: 500px;
			left: 10px;
			background-color: white;
			overflow-y: auto;
			resize: vertical;
			padding-bottom: 15px;
			/*position: absolute;*/

		}
		.layerIcon{
			width: 90%;
			height: 55px;
			background-color: lightgrey;
			margin: 8px;
			margin-bottom: 0px;
			display: none
		}
		.layerSelected{
			background-color: lightgreen;
		}
		.canvasSelected{
			outline: 2px dotted rgba(255, 255, 255, 0.3);
		}
		.activeIcon{
			display:block;

		}
		#rightbar{
			padding-left: 5px;
			padding-right: 5px;
			padding-top:90px;
			width:300px;
			height:100vh;
			min-height: 100vh;
			max-height: 100vh;
			overflow-y: scroll;
			position: fixed;
			top:0px;
			right:0px;
		}
		#layername{
			font-weight: bold;
		}
		#helpBtn:hover{
			cursor: pointer;
			color: #2e6da4;
		}
		#centerdiv{
			margin-left: 300px;
			margin-right: 300px;
			margin-top: -40px;
			padding-top:50px;
			margin-bottom: 0px;
			height: 100vh;
			background-color: #474d57;
		}

		div.stretchy-wrapper {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
			position: relative;
			top:0px;bottom:0; /* vertical center */
			    left:0px;right:0px; /* horizontal center */
			background:  #373d47;
		}

		div.stretchy-wrapper > div {
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;

			color: white;
			font-size: 24px;
			text-align: center;
		}
		.canvaslayer{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
		}
		#fakecanvas{
			position: fixed;
			display: none;
			top:0;
			right: 0;
		}

		#savestatus{
			z-index:1000;

			position:fixed;
			width:100%;
			height:30%;
			top:0px;
			left:0px;
			{% if savestatus == True %}
			background: rgba(0,255,0,0.4);
			{% else %}
			background: rgba(255,0,0,0.4);
			{% endif %}
			{% if savestatus == None %}
			display:none;
			{% endif %}
		}
		#savetext {
		    position: absolute;
		    width: 100px;
		    height: 50px;
		    top: 50%;
		    left: 50%;
		    margin-left: -50px; /* margin is -0.5 * dimension */
		    margin-top: -25px;
		}​
		.ui-sidebar-wrapper{
			height:100vh;
			margin-left: 52px;
		}

		.addbuttoncontainer{
			display: block;
		}
		#refreshbutton{
			cursor: pointer;
			color: purple;
		}
		.modal-thumbnails{
			min-height: 60px;
			max-height: 120px;
			max-width: 200px;
			height: auto;
			width: auto;
			display: block;
		}
		.title{
			width:55%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.btn-group, .btn-group-help{
			height: 100%;
			position: absolute;
			top: 0;
		}
		.btn-group{
			width: 63px;
			right: 0;
		}
		.btn-group-help{
			width: 32px;
			right: 66px;
		}
		.slide-btn{
			position: absolute;
			width: 30px;
			height: 26px;
		}
		.slide-btn:disabled{
			cursor: not-allowed;
		}
		.update-wrapper{
			padding-top: 5px;
			padding-bottom: 0px;
			margin-bottom: 0px;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.updatego{
			background-color: #337ab7;
			border-color: #2e6da4;
			border: 1px;
			color: white;
			font-weight: bold;
		}
		.layercopy{
			left: 0;
			top: 0;
		}
		.layerup{
			right: 0;
			top: 0;
		}
		.layerdelete{
			left: 0;
			bottom: 0;
		}
		.layerdown{
			right:0;
			bottom: 0;
		}
		.layerdocumentation{
			left: 0;
			top: 0;
			background-color: #4787be;
			border: 1px solid #337ab7;
			color: white;
		}
		.layerfeedback{
			left: 0;
			bottom: 0;
			background-color: #f0ad4e;
			border: 1px solid #d89b46;
			color: white;
		}
		.btn-divider{
			height: 100%;
			width:1px;
			background-color:#b0b0b0;
			position:absolute;
			top:0;
			right:65px;
		}
		#documentationmodal .modal-body{
			overflow-wrap: break-word;
		}
		#feedbackmodal .textarea{
			max-width: 100%;
		}

	</style>
{% endblock %}
{% block body %}
<div id="canvasContainer">
	<div id="savestatus">
		<h1 id="savetext">
			{% if savestatus == True %}SAVED!{% else %}Save Failed{% endif %}
		</h1>
	</div>
	<canvas id="fakecanvas" width="1" height="1"></canvas>
	<div id="centerdiv">
		<div class="stretchy-wrapper">
			<div id="canvas-holder">
				<canvas class="canvaslayer" style="z-index: 99" id="myCanvas"></canvas>
			</div>
		</div>
	</div>
	<div id="leftbar" class="bar">
		<form id="slideform" method="POST" action="">
			{% csrf_token %} {% load crispy_forms_tags %} {% crispy form %}

			<button id="layeradd">Add Widget</button
			><button id="submitbutton">Save</button>
			{% load slide_tags %} {% slidelayers_all %}
		</form>
	</div>
	<div id="rightbar" class="bar">
		Editing: <span id="layername"></span>
		<br />
		Position
		<div class="input-group">
			<span class="input-group-addon"><b>X</b></span>
			<input type="number" class="form-control" id="xinput" />
			<span class="input-group-btn">
				<button class="btn btn-default" id="xcenter">Center</button>
			</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon"><b>Y</b></span>
			<input type="number" class="form-control" id="yinput" />
			<span class="input-group-btn">
				<button class="btn btn-default" id="ycenter">Center</button>
			</span>
		</div>
		Size
		<br />
		Width: <input type="range" class="widthinput" min="0" max="100" /><input
			type="number"
			class="form-control widthinput"
		/>
		<br />
		Height: <input type="range" class="heightinput" min="0" max="100" /><input
			type="number"
			class="form-control heightinput"
		/>
		<br />
		<br />
		Widget Settings <span id="refreshbutton">(refresh)</span>:
		<div id="layersettings"></div>
	</div>
	<div id="layersModal" class="modal fade" style="z-index:2000;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="padding: 10px;">
				<div id="listLayersLoader" class="modal-body"></div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div id="controls-extra"></div>
	<div id="version-feedback">
		<div id="feedbackmodal" style="z-index:30000;" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content"></div>
			</div>
		</div>
	</div>
	<div id="widget-documentation">
		<div id="documentationmodal" style="z-index:30000;" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}

		<script type="text/javascript">

			var formUpdated = false; var formSubmitting = false;
			var setFormSubmitting = function() { formSubmitting = true; };

			window.onload = function() {
			    window.addEventListener("beforeunload", function (e) {
			        if (formSubmitting || !formUpdated) {
			            return undefined;
			        }
			        (e || window.event).returnValue = true;
			    });
			};

			window.addEventListener("load", windowLoadHandler, false);
			function iframeCheck(status=false){
			}
			window.iframeCheck = iframeCheck
			//For debug messages
			var Debugger = function() { };
			Debugger.log = function(message) {
				try {
					console.log(message);
				}
				catch (exception) {
					return;
				}
			}
			function windowLoadHandler() {
				$('#listLayersLoader').load('{% url "list_layers" mode="edit" %}')
				$("#controls-extra").load('{% url 'extra_controls' %}')
				canvasApp();
				iframeCheck();
			}
			function canvasApp() {
				var theCanvas = document.getElementById('myCanvas');
				var fakelayer = {x:0, y:0, width:0, height:0, canvas: document.getElementById("fakecanvas"), context: document.getElementById("fakecanvas").getContext("2d"),}
				var layer;
				// Initialize Everything!!
				// If we just saved, fade ouuut
				$('#savestatus').fadeOut();
				// order icons by index..
				$('#layerlist').each(function(){
				    var $this = $(this);
				    $this.append($this.find('.activeIcon').get().sort(function(a, b) {
				        return $('div>.index', b).val() - $('div>.index', a).val();
				    }));
				});
				// Hide layers which need deleting
				$('#layerlist>.activeIcon').each(function(){
					if ($("div>[id$='-DELETE']", this).is(':checked')){
						$(this).removeClass('activeIcon');
					}
					else{
						createLayer($(this), $('div>.index', $(this)).val());
					}
				})
				if ($('#layerlist>.activeIcon').length>0){
					selectLayer($('#layerlist>.activeIcon').first());
				}
				resizescreen();
				// We need to try some things...
				function resizescreen(){
					// resize the canvas
					var aspect = $('#id_aspect_ratio').val().split('x')
					$('div.stretchy-wrapper').css('width', '100%').css('height', '100%')
					var width = $('div.stretchy-wrapper').width()
					var height = width * (parseFloat(aspect[1])/parseFloat(aspect[0]))
					if (height > $(window).height() - 50){
						$('div.stretchy-wrapper').width($('div.stretchy-wrapper').height() * (parseFloat(aspect[0])/parseFloat(aspect[1])))
					}
					else{
						$('div.stretchy-wrapper').height(height)
					}

					//$('div.stretchy-wrapper')
					$('.canvaslayer').attr('width', document.getElementById('canvas-holder').clientWidth);
					$('.canvaslayer').attr('height', document.getElementById('canvas-holder').clientHeight);
					refresh();

				}
				window.onresize = resizescreen;
				// Handle various key presses... ///////////////////////////////////////////
				// $(document).keyup(function(e) {
				// 	 // If key is ESC and we have the preview up, exit it!
				// 	 // No longer needed, we took out the preview key.
				//     //  if (e.keyCode == 27) {
				//     //    // e.preventDefault();

				//     // }
				// });
				// Handle saving and stuff...
				$(document).bind('keydown', function(e) {
				  if(e.ctrlKey && (e.which == 83)) {
				    e.preventDefault();
				    $('#slideform').submit();
				    // {% if slide == None %}
				    // $('#slideform').attr('action', '/slides/new/').attr('target', '').submit()
				    // {% else %}
				    // $('#slideform').attr('action', '/slides/edit/{{slide.id}}/').attr('target', '').submit()
				    // {% endif %}
				    return false;
				  }
				});
				// Handle Aspect Ratio
				$(document).on('change', '#id_aspect_ratio', function(){
					formUpdated = true;
					resizescreen();
				})
				// ///// Handle all the buttons!!
				// Select a layer
				$(document).on('click', '.layerIcon', function(evt){
					evt.preventDefault();
					selectLayer($(this));
					refresh()
				})
				// CHange x/y inputs
				$('#xinput').change(function(){
					formUpdated = true;
					var width = parseFloat($(".layerSelected>div>.width").val());
					if ($(this).val() >= 100-width){
						$(this).val(100-width);
					}
					$(".layerSelected>div>.x").val($(this).val());
					drawScreen($(".layerSelected"));
				})
				$('#yinput').change(function(){
					formUpdated = true;
					var height = parseFloat($(".layerSelected>div>.height").val());
					if ($(this).val() >= 100-height){
						$(this).val(100-height);
					}
					$(".layerSelected>div>.y").val($(this).val());
					drawScreen($(".layerSelected"));
				})
				// Change width/height inputs
				$('.widthinput').change(function(){
					formUpdated = true;
					var width = parseFloat($(".layerSelected>div>.width").val());
					var x = parseFloat($(".layerSelected>div>.x").val());
					var val = parseFloat($(this).val())
					if (x + val >= 100){
						val = 100-x;
					}
					$(".layerSelected>div>.width").val(parseFloat(val));
					$('.widthinput').val(val);
					drawScreen($(".layerSelected"))
				})
				$('.heightinput').change(function(){
					formUpdated = true;
					var height = parseFloat($(".layerSelected>div>.height").val());
					var y = parseFloat($(".layerSelected>div>.y").val());
					var val = parseFloat($(this).val())
					if (y + val >= 100){
						val = 100-y;
					}
					$(".layerSelected>div>.height").val(parseFloat(val));
					$('.heightinput').val(val);
					drawScreen($(".layerSelected"))
				})
				// Click various buttons
				$(document).on('click', '#xcenter', function(){
					formUpdated = true;
					var width = parseFloat($(".layerSelected>div>.width").val());
					$('#xinput').val(50-width/2);
					$('#xinput').change();
				})
				$(document).on('click', '#ycenter', function(){
					formUpdated = true;
					var height = parseFloat($(".layerSelected>div>.width").val());
					$('#yinput').val(50-height/2);
					$('#yinput').change();
				})
				// Handle ordering layers and such
				$(document).on('click', '.layerup', function(evt){
					formUpdated = true;
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					if (icon.prev().length > 0){
					  var prev = icon.prevAll('.activeIcon').first();
					  icon.insertBefore(prev);
					  // Increase this index
					  $('div>.index', icon).val(parseInt($('div>.index', icon).val()) + 1)
					  // Decrease Prev index
					  $('div>.index', prev).val(parseInt($('div>.index', prev).val()) - 1)
					  // Also update canvases..
					  $('#'+$('.canvas_link', icon).text()).css('z-index', $('div>.index', icon).val());
					  $('#'+$('.canvas_link', prev).text()).css('z-index', $('div>.index', prev).val());
					}
					$('#layerlist').scrollTop($('#layerlist') + icon.position().top);
				})
				$(document).on('click', '.layerdown', function(evt){
					formUpdated = true;
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					if (icon.next().length > 0){
					  var next = icon.nextAll('.activeIcon').first();
					  icon.insertAfter(next);
					  // Decrease this index
					  $('div>.index', icon).val(parseInt($('div>.index', icon).val()) - 1)
					  // Increase next index
					  $('div>.index', next).val(parseInt($('div>.index', next).val()) + 1)
					  // Also update canvases..
					  $('#'+$('.canvas_link', icon).text()).css('z-index', $('div>.index', icon).val());
					  $('#'+$('.canvas_link', next).text()).css('z-index', $('div>.index', next).val());
					}
					$('#layerlist').scrollTop($('#layerlist') + icon.position().top);
				})
				$(document).on('click', '.layercopy', function(evt){
					formUpdated = true;
					evt.preventDefault();
					if (true){
						var layertype = $("div>.version", $(this).closest('.layerIcon')).val()
						$.get('/slides/layerjson/new/'+layertype+'/', function(jsonData){
							// Get highest layer
							var index_highest = 0;
							$("#layerlist>.activeIcon").each(function() {
							    var index_current = parseInt($("div>.index",this).val());
							    if(index_current > index_highest) {
							        index_highest = index_current;
							    }
							});
							var count = $('#layerlist>.layerIcon').length;
							var tmplMarkup = $('#emptylayer').html();
							var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
							$('#layerlist').prepend(compiledTmpl);
							//Grab this newest layer we just added...
							var newlayer = $('#layerlist .layerIcon:first-child')
							// Fill it with goodies from the jsonData
							$("div>.index", newlayer).val(index_highest+1)
							$(".title", newlayer).val(jsonData.title)
							$("div>.version", newlayer).val(jsonData.versionid)
							$("div>.data", newlayer).text(JSON.stringify(jsonData.data))
							// update form count
							var new_total = $('#id_layer-TOTAL_FORMS').attr('value', count+1);
							createLayer(newlayer, new_total.val());
							resizescreen();
							init($('#layerList'));
						})
					}
				})
				$(document).on('click', '.layerdelete', function(evt){
					formUpdated = true;
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					  icon.prevAll('.activeIcon').each(function(){
					  	// Decrease index of all layers above
					  	$('div>.index', this).val(parseInt($('div>.index', this).val()) - 1)
					  	// lower canvas stuff
					  	$('#'+$('.canvas_link', this).text()).css('z-index', $('div>.index', this).val());
					  })
					  // Delete the canvas
					  // mark for deletion
					  $("div>[id$='-DELETE']", icon).prop('checked', true);
					  icon.removeClass('activeIcon');
					  $('#'+$('.canvas_link', icon).text()).remove();
				})
				$(document).on('click', '.updatego', function(evt){
					formUpdated = true;
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					var old_json = JSON.parse($("div>.data", icon).val())
					$("div>[id$='-version']", icon).val($(this).data('updateid'))
					var layertype = $(this).data('updateid')
					$.get('/slides/layerjson/new/'+layertype+'/', function(jsonData){
							var new_json = jsonData.data
							for (key in new_json){
								if (old_json[key]){
									new_json[key] = old_json[key]
								}
							}
							$("div>.data", icon).text(JSON.stringify(new_json))
							init($('.layerSelected'));
						})
					$(this).closest('p').remove()
				})
				// Change Layername
				$(document).on('change', '.layername', function(){
					formUpdated = true;
					var icon = $(this).closest('.layerIcon');
					layers[icon.data('layer')].title = $(this).val();
					drawScreen(layers[icon.data('layer')]);
				})
				$(document).on('change', '.control-input-class', function(){
					// Save the new setting to the 'data' field!
					// We load the data to json
					// Save the field
					// Re stringify
					// It ain't pretty, but it works.
					formUpdated = true;
					var json = $('.layerSelected>div>.data');
					var data = JSON.parse(json.val());
					data[$(this).attr('name')] = $(this).val();
					json.text(JSON.stringify(data));
					// Then reload the iframe!!
					init($('.layerSelected'))
				})
				$(document).on('click', '#refreshbutton', function(){
					init($('.layerSelected'));
				})
				// Add Layers
				$(document).on('click', '#layeradd', function(evt){
					formUpdated = true;
					evt.preventDefault();
					$('#layersModal').modal('show')
				})
				$(document).on('click', '.addlayerbutton', function(evt){
					formUpdated = true;
					evt.preventDefault();
					$('#layersModal').modal('toggle')
					if (true){
						var layertype = $(this).closest('.layerItem').data('version')
						// Add to update boi
						$.get('/slides/layerjson/new/'+layertype+'/', function(jsonData){
							// Get highest layer
							var index_highest = 0;
							$("#layerlist>.activeIcon").each(function() {
							    var index_current = parseInt($("div>.index",this).val());
							    if(index_current > index_highest) {
							        index_highest = index_current;
							    }
							});
							var count = $('#layerlist>.layerIcon').length;
							var tmplMarkup = $('#emptylayer').html();
							var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
							$('#layerlist').prepend(compiledTmpl);
							//Grab this newest layer we just added...
							var newlayer = $('#layerlist .layerIcon:first-child')
							// Fill it with goodies from the jsonData
							$("div>.index", newlayer).val(index_highest+1)
							$(".title", newlayer).val(jsonData.title)
							$("div>.version", newlayer).val(jsonData.versionid)
							$("div>.data", newlayer).text(JSON.stringify(jsonData.data))
							// update form count
							var new_total = $('#id_layer-TOTAL_FORMS').attr('value', count+1);
							createLayer(newlayer, new_total.val());
							resizescreen();
						})
					}
				})
				//////////////////////////////////////////////////////////
				// for (var i=0; i < layers.length; i++){
				// 	init(layers[i]);
				// }
				//init(layer);
				theCanvas.addEventListener("mousedown", mouseDownListener, false);
				var dragIndex;
				var dragging;
				var resizeMode;
				var mouseX;
				var mouseY;
				var dragHoldX;
				var dragHoldY;
				var timer;
				var targetX;
				var targetY;
				var easeAmount = 0.45;
				function init(thislayer) {
					loadIframe(thislayer)
					drawScreen(thislayer)
				}
				function refresh(layers){
					$('#layerlist>.activeIcon').each(function(){
						drawScreen($(this))
					})
				}
				function loadIframe(thislayer){
					$.post('/slides/layerpreview/', {version: $('div>.version', thislayer).val(), data: $('div>.data', thislayer).val()}, function(data){
						$('#'+$('.canvas_link', thislayer).text()).attr('srcdoc', data)
					})
				}
				function hitTest(hitX, hitY){
					// Loop through all widgets in the list and check if any of them have been hit
					for(let i = 0; i < $('#layerlist>.activeIcon').length; i++) {
						var templayer = $($('#layerlist>.activeIcon').get(i));
						var x = parseFloat($("div>.x", templayer).val())
						var y = parseFloat($("div>.y", templayer).val())
						var height = parseFloat($("div>.height", templayer).val())
						var width = parseFloat($("div>.width", templayer).val())
						// Test if the widget has been hit. If yes, select it and return true on hit test
						if(((hitX < (x + width))&&(hitX > x)&&(hitY > y)&&(hitY < (y + height)))){
							selectLayer(templayer)
							return true
						}
					}
					return false
				}
				function resizeHitTest(hitX, hitY){

					var x = parseFloat($('.layerSelected>div>.x').val())
					var y = parseFloat($('.layerSelected>div>.y').val())
					var height = parseFloat($('.layerSelected>div>.height').val())
					var width = parseFloat($('.layerSelected>div>.width').val())
					return((hitX < (x + width))&&(hitX > x + width-5)&&(hitY > y + height - 5)&&(hitY < (y + height)));

				}
				function selectLayer(thislayer){
					$('.layerSelected').removeClass('layerSelected');
					thislayer.addClass('layerSelected')
					$('.canvasSelected').css('resize', 'none');
					$('.canvasSelected').removeClass('canvasSelected');
					$('#'+$('.canvas_link', thislayer).text()).addClass('canvasSelected')
					$('#'+$('.canvas_link', thislayer).text()).css('resize', 'both')


					var bRect = theCanvas.getBoundingClientRect();
					var maxHeight = bRect.bottom - $('.layerSelected>div>.y').val();
					var maxWidth = bRect.right - $('.layerSelected>div>.x').val();
					$('#'+$('.canvas_link', thislayer).text()).css('max-height', maxHeight + "px")
					$('#'+$('.canvas_link', thislayer).text()).css('max-width', maxWidth + "px")
					// Set up the right bar
					var rightbar = $('#rightbar');
					$('#xinput').val($("div>.x", thislayer).val());
					$('#yinput').val($("div>.y", thislayer).val());
					$('.widthinput').val($("div>.width", thislayer).val());
					$('.heightinput').val($("div>.height", thislayer).val());
					$('#layername').html($(".title", thislayer).val());
					$.post('/slides/layersettings/'+$("div>.version", thislayer).val()+'/', JSON.parse($("div>.data", thislayer).val()), function(data){
						$("#layersettings").html(data);
						// APPLY COOL CONTROL EFFECTS!
						$("#layersettings").find('.control-input-class.fontselect').fontselect();
					})
				}
				// Feedback modal stuff
				$('body').on('click', '.layerfeedback', function(){
					var version_id = parseInt($("div>.version", $(this).parents('.layerIcon')).val())
					$('#version-feedback .modal-content').load('/versionfeedback/' + version_id + '/', function(){
						$("#feedbackmodal").modal({'show': true})
					})
				})
				$('#feedbackSubmit').click(function(){
					$('#versionFeedbackForm').submit()
				})
				// Documentation modal stuff
				$('body').on('click', '.layerdocumentation', function(){
					var version_id = parseInt($("div>.version", $(this).parents('.layerIcon')).val())
					$('#widget-documentation .modal-content').load('/widgets/documentation/' + version_id + '/', function(){
						$("#documentationmodal").modal({'show': true})
					})
				})
				function selectNoLayer(){
					layer = fakelayer;
					$('.layerSelected').removeClass('layerSelected');
				}
				function createLayer(thislayer, index=0){
					 //Make our canvas...
					 var canvas = document.createElement("iframe");
					 var canvas_id = 'canvas-'+String(index)
					 $(canvas).addClass('editlayer')
					 .attr('scrolling',"no")
					 .attr('marginwidth',"0")
					 .attr('marginheight',"0")
					 .attr('frameborder',"0")
					 .attr('vspace',"0")
					 .attr('hspace',"0")
 					 .css('position', 'absolute')
 					 .css('z-index', $('div>.index', thislayer).val())
 					 .css('left', $('div>.x', thislayer).val()+'%')
 					 .css('top', $('div>.y', thislayer).val()+'%')
 					 .css('width', $('div>.width', thislayer).val()+'%')
					 .css('height', $('div>.height', thislayer).val()+'%')
					 .attr('id', canvas_id);
					 // Link this canvas with our layer
					 $(".canvas_link", thislayer).text(canvas_id);
					 $('#canvas-holder').append(canvas);
					 selectLayer(thislayer);
					 init(thislayer);
				}
				// Do not think the below func is used...
				function loadData(data){
					var layers = []
					for (var i=0; i < data.length; i++){
						createLayer(i, data[i].index, layers, jQuery.extend(true, {}, data[i]));
					}
					// Order the layer icons accordingly...
					return layers
				}
				function mouseDownListener(evt) {
					formUpdated = true;
					//getting mouse position correctly
					var bRect = theCanvas.getBoundingClientRect();
					mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width)/theCanvas.width*100;
					mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height)/theCanvas.height*100;
					/*
					Below, we find if a shape was clicked. Since a "hit" on a square or a circle has to be measured differently, the
					hit test is done using the hitTest() function associated to the type of particle. This function is an instance method
					for both the SimpleDiskParticle and SimpleSqureParticle classes we have defined with the external JavaScript sources.
					*/
					if (hitTest(mouseX, mouseY)) {
						dragging = true;
						//the following variable will be reset if this loop repeats with another successful
					}

					if(resizeHitTest(mouseX, mouseY)) {
						resizeMode = true;
					}

					if(resizeMode && dragging) {
						window.addEventListener("mousemove", mouseMoveListener, false);

						dragHoldX = mouseX - parseFloat($('.layerSelected>div>.x').val());
						dragHoldY = mouseY - parseFloat($('.layerSelected>div>.y').val());
						//The "target" position is where the object should be if it were to move there instantaneously. But we will
						//set up the code so that this target position is approached gradually, producing a smooth motion.
						targetX = mouseX - dragHoldX;
						targetY = mouseY - dragHoldY;
						//start timer
						timer = setInterval(onTimerTick, 1000/30);
					}
					else if (dragging) {
						window.addEventListener("mousemove", mouseMoveListener, false);
						//place currently dragged shape on top
						//shapeto drag is now last one in array
						dragHoldX = mouseX - parseFloat($('.layerSelected>div>.x').val());
						dragHoldY = mouseY - parseFloat($('.layerSelected>div>.y').val());
						//The "target" position is where the object should be if it were to move there instantaneously. But we will
						//set up the code so that this target position is approached gradually, producing a smooth motion.
						targetX = mouseX - dragHoldX;
						targetY = mouseY - dragHoldY;
						//start timer
						timer = setInterval(onTimerTick, 1000/30);
					}
					theCanvas.removeEventListener("mousedown", mouseDownListener, false);
					window.addEventListener("mouseup", mouseUpListener, false);
					//code below prevents the mouse down from having an effect on the main browser window:
					if (evt.preventDefault) {
						evt.preventDefault();
					} //standard
					else if (evt.returnValue) {
						evt.returnValue = false;
					} //older IE
					return false;
				}
				function onTimerTick() {
					//because of reordering, the dragging shape is the last one in the array.
					var x = parseFloat($('.layerSelected>div>.x').val());
					var y = parseFloat($('.layerSelected>div>.y').val());
					var height = parseFloat($('.layerSelected>div>.height').val())
					var width = parseFloat($('.layerSelected>div>.width').val())
					if(!resizeMode && dragging){

						x = x + easeAmount*(targetX - x);
						y = y + easeAmount*(targetY - y);
					} else {

						height = (mouseY - y)
						if(height < 0){
							height = 0
						}
						width = (mouseX - x)
						if(width < 0){
							width = 0
						}
					}
					//console.log(layer.x)
					//console.log(layer.y)
					//stop the timer when the target position is reached (close enough)
					if ((!dragging)&&(Math.abs(x - targetX) < 0.1) && (Math.abs(y - targetY) < 0.1)) {
						if(!resizeMode){
							x = targetX;
							y = targetY;
						}
						//stop timer
						clearInterval(timer);
					}
					if(!resizeMode){
						$("#xinput").val(x);
						$('.layerSelected>div>.x').val(x)
						$("#yinput").val(y);
						$('.layerSelected>div>.y').val(y)
					} else {
						$(".widthinput").val(width);
						$('.layerSelected>div>.width').val(width)
						$(".heightinput").val(height);
						$('.layerSelected>div>.height').val(height)
					}
					drawScreen($(".layerSelected"));
				}
				function mouseUpListener(evt) {
					formUpdated = true;
					theCanvas.addEventListener("mousedown", mouseDownListener, false);
					window.removeEventListener("mouseup", mouseUpListener, false);

					if (resizeMode) {
						resizeMode = false
					}
					if (dragging) {
						dragging = false;
						window.removeEventListener("mousemove", mouseMoveListener, false);
					}
				}
				function mouseMoveListener(evt) {
					formUpdated = true;
					var posX;
					var posY;
					var minX = 0;
					var maxX = 100 - $('.layerSelected>div>.width').val();
					var minY = 0;
					var maxY = 100 - $('.layerSelected>div>.height').val();

					var minHeight = 0.001;
					var maxHeight = 100 - $('.layerSelected>div>.y').val();
					var minWidth = 0.001;
					var maxWidth = 100 - $('.layerSelected>div>.x').val();
					//getting mouse position correctly
					var bRect = theCanvas.getBoundingClientRect();
					mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width)/theCanvas.width*100;
					mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height)/theCanvas.height*100;
					//clamp x and y positions to prevent object from dragging outside of canvas
					if(!resizeMode){
						posX = mouseX - dragHoldX;
						posX = (posX < minX) ? minX : ((posX > maxX) ? maxX : posX);
						posY = mouseY - dragHoldY;
						posY = (posY < minY) ? minY : ((posY > maxY) ? maxY : posY);
						targetX = posX;
						targetY = posY;
					} else {
						// if user tries to go beyond the canvas, just stay at maximum size
						if (mouseX >= 100) {
							mouseX = 100
						}
						if (mouseY >= 100) {
							mouseY = 100
						}
					}
				}
				function drawShapes(thislayer) {
					// Draw a layer
					// var context = document.getElementById($('.canvas_link', thislayer).text()).getContext("2d");
					var x = ($('div>.x', thislayer).val())
					var y = ($('div>.y', thislayer).val())
					var height = ($('div>.height', thislayer).val())
					var width = ($('div>.width', thislayer).val())
					var canvas = $('#'+$('.canvas_link', thislayer).text())
					canvas.css('height', height+'%')
					canvas.css('width', width+'%')
					canvas.css('left', x+'%')
					canvas.css('top', y+'%')
				}
				function drawScreen(thislayer) {
					drawShapes(thislayer);
				}
			}
			</script>
{% endblock %}
