<html>
	<head>
		<style>
			body{
				margin: 0px;
				padding: 0px;
			}
			.bar{
				background-color: #DDDDDD;
			}
			#leftbar{
				width:300px;
				height:100vh;
				min-height: 100vh;
				max-height: 100vh;
				position: fixed;
				top:0px;
				left:0px;
			}
			#layerlist{
				width:280px;
				height: 48vh;
				min-height: 48vh;
				max-height: 48vh;
				top:50vh;
				left: 10px;
				background-color: white;
				overflow-y: scroll;
				position: fixed;
			}
			.layerIcon{
				width: 90%;
				height: 80px;
				background-color: lightgrey;
				margin: 8px;
				margin-bottom: 0px;
				display: none
			}
			.layerSelected{
				background-color: lightgreen;
			}
			.canvasSelected{
				outline: 3px solid white;
			}
			.activeIcon{
				display:block;

			}
			#rightbar{
				width:300px;
				height:100vh;
				min-height: 100vh;
				max-height: 100vh
				overflow: scroll;
				position: fixed;
				top:0px;
				right:0px;
			}
			#centerdiv{
				margin-left: 300px;
				margin-right: 300px;
				margin-top: 0px;
				margin-bottom: 0px;
				height: 100vh;
				background-color: #666666;
				-moz-box-shadow:    inset 0 0 20px #000000;
				-webkit-box-shadow: inset 0 0 20px #000000;
				box-shadow:         inset 0 0 20px #000000;
			}

			div.stretchy-wrapper {
				width: 100%;
				padding-bottom: 56.25%; /* 16:9 */
				position: relative;

				background: blue;
			}

			div.stretchy-wrapper > div {
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;

				color: white;
				font-size: 24px;
				text-align: center;
			}
			.canvaslayer{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
			}
			#fakecanvas{
				position: fixed;
				display: none;
				top:0;
				right: 0;
			}

			#savestatus{
				z-index:1000;

				position:fixed;
				width:100%;
				height:30%;
				top:0px;
				left:0px;
				{% if savestatus = True %}
				background: rgba(0,255,0,0.4);
				{% else %}
				background: rgba(255,0,0,0.4);
				{% endif %}
				{% if savestatus = None %}
				display:none;
				{% endif %}
			}
			#savetext {
			    position: absolute;
			    width: 100px;
			    height: 50px;
			    top: 50%;
			    left: 50%;
			    margin-left: -50px; /* margin is -0.5 * dimension */
			    margin-top: -25px; 
			}​

		</style>
	</head>
	<body>
	<div id="savestatus">
		<h1 id="savetext">{% if savestatus == True %}SAVED!{% else %}Save Failed{% endif %}</h1>
	</div>
		<canvas id="fakecanvas" width="1" height="1"></canvas>
		<div id="centerdiv">
			<div class="stretchy-wrapper">
				<div id='canvas-holder'>
					<canvas class="canvaslayer" style="z-index: 99" id="myCanvas"></canvas>
				</div>
			</div>
		</div>
		<div id="leftbar" class="bar">
		<form id="slideform" method="POST" action="">
		{% csrf_token %}
		{{form}}
		<br>
			<select id="layertype">
				{% for layer in layers %}
					<option value="{{layer.latest.id}}">{{layer.title}}</option>
				{% endfor %}
			</select>
			<button id="layeradd">Add Layer</button>
		{% load slide_tags %}
		{% slidelayers_all %}
		<input id="submitbutton" type="submit">
		</form>
		</div>
		

		<div id="rightbar" class="bar">
			Editing: <span id="layername"></span>
			<br>
			Position
			<br>
			X: <input type="number" id="xinput"><button id="xcenter">Center</button>
			<br>
			Y: <input type="number" id="yinput"><button id="ycenter">Center</button>
			<br>
			Size
			<br>
			Width: <input type="range" class="widthinput" min="0", max="100"><input type="number" class="widthinput">
			<br>
			Height: <input type="range" class="heightinput" min="0", max="100"><input type="number" class="heightinput">

			<br>
			<br>
			Layer Settings:
			<div id="layersettings">
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	

		<script type="text/javascript">
			window.addEventListener("load", windowLoadHandler, false);

			//For debug messages
			var Debugger = function() { };
			Debugger.log = function(message) {
				try {
					console.log(message);
				}
				catch (exception) {
					return;
				}
			}

			function windowLoadHandler() {
				canvasApp();
			}


			function canvasApp() {
				var theCanvas = document.getElementById('myCanvas');
				var fakelayer = {x:0, y:0, width:0, height:0, canvas: document.getElementById("fakecanvas"), context: document.getElementById("fakecanvas").getContext("2d"),}
				var layer;

				// Initialize Everything!!				
				// If we just saved, fade ouuut
				$('#savestatus').fadeOut();
				// order icons by index..
				$('#layerlist').each(function(){
				    var $this = $(this);
				    $this.append($this.find('.activeIcon').get().sort(function(a, b) {
				        return $('div>.index', b).val() - $('div>.index', a).val();
				    }));
				});
				// Hide layers which need deleting
				$('#layerlist>.activeIcon').each(function(){
					if ($("div>[id$='-DELETE']", this).is(':checked')){
						$(this).removeClass('activeIcon');
					}
					else{
						createLayer($(this));
					}
				})

				if ($('#layerlist>.activeIcon').length>0){
					selectLayer($('#layerlist>.activeIcon').first());
				}

				resizescreen();
				// Various Screen shits
				function resizescreen(){
					$('.canvaslayer').attr('width', document.getElementById('canvas-holder').clientWidth);
					$('.canvaslayer').attr('height', document.getElementById('canvas-holder').clientHeight);
					refresh();
					
				}

				window.onresize = resizescreen;

				// Handle various key presses... ///////////////////////////////////////////
				$(document).keyup(function(e) {
					 // If key is ESC and we have the preview up, exit it!
					 // No longer needed, we took out the preview key.
				     if (e.keyCode == 27) {
				        e.preventDefault();

				    }
				});
				// Handle saving and stuff...
				$(document).bind('keydown', function(e) {
				  if(e.ctrlKey && (e.which == 83)) {
				    e.preventDefault();
				    $('#slideform').submit();
				    // {% if slide == None %}
				    // $('#slideform').attr('action', '/slides/new/').attr('target', '').submit()
				    // {% else %}
				    // $('#slideform').attr('action', '/slides/edit/{{slide.id}}/').attr('target', '').submit()
				    // {% endif %}
				    return false;
				  }
				});


				// ///// Handle all the buttons!! 
				// $(document).on('click', '#submitbutton', function(evt){
				// 	evt.preventDefault();
				// 	{% if slide == None %}
				// 	$('#slideform').attr('action', '/slides/new/').attr('target', '').submit()
				// 	{% else %}
				// 	$('#slideform').attr('action', '/slides/edit/{{slide.id}}/').attr('target', '').submit()
				// 	{% endif %}

				// })

				// Select a layer
				$(document).on('click', '.layerIcon', function(evt){
					evt.preventDefault();
					selectLayer($(this));
					refresh()
				})

				// CHange x/y inputs
				$('#xinput').change(function(){
					if ($(this).val() >= 100-layer.width){
						$(this).val(100-layer.width);
					}
					layer.x = parseFloat($(this).val());
					drawScreen(layer)
				})
				$('#yinput').change(function(){
					if ($(this).val() >= 100-layer.height){
						$(this).val(100-layer.height);
					}
					layer.y = parseFloat($(this).val());
					drawScreen(layer)
				})

				// Change width/height inputs
				$('.widthinput').change(function(){
					var width = parseFloat($(".layerSelected>div>.width").val());
					var x = parseFloat($(".layerSelected>div>.x").val());
					var val = parseFloat($(this).val())
					if (x + val >= 100){
						val = 100-x;
					}
					$(".layerSelected>div>.width").val(parseFloat(val));
					$('.widthinput').val(val);
					drawScreen($(".layerSelected"))
				})
				$('.heightinput').change(function(){
					var height = parseFloat($(".layerSelected>div>.height").val());
					var y = parseFloat($(".layerSelected>div>.y").val());
					var val = parseFloat($(this).val())
					if (y + val >= 100){
						val = 100-y;
					}
					$(".layerSelected>div>.height").val(parseFloat(val));
					$('.heightinput').val(val);
					drawScreen($(".layerSelected"))
				})

				// Click various buttons
				$(document).on('click', '#xcenter', function(){
					$('#xinput').val(50-layer.width/2);
					$('#xinput').change();
				})
				$(document).on('click', '#ycenter', function(){
					$('#yinput').val(50-layer.height/2);
					$('#yinput').change();
				})

				// Handle ordering layers and such
				$(document).on('click', '.layerup', function(evt){
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					if (icon.prev().length > 0){
					  var prev = icon.prevAll('.activeIcon').first();
					  icon.insertBefore(prev);
					  // Increase this index
					  $('div>.index', icon).val(parseInt($('div>.index', icon).val()) + 1)
					  // Decrease Prev index
					  $('div>.index', prev).val(parseInt($('div>.index', prev).val()) - 1)
					  // Also update canvases..
					  $('#'+$('.canvas_link', icon).text()).css('z-index', $('div>.index', icon).val());
					  $('#'+$('.canvas_link', prev).text()).css('z-index', $('div>.index', prev).val());

					} 
					$('#layerlist').scrollTop($('#layerlist') + icon.position().top);

				})
				$(document).on('click', '.layerdown', function(evt){
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					if (icon.next().length > 0){
					  var next = icon.nextAll('.activeIcon').first();
					  icon.insertAfter(next);
					  // Decrease this index
					  $('div>.index', icon).val(parseInt($('div>.index', icon).val()) - 1)
					  // Increase next index
					  $('div>.index', next).val(parseInt($('div>.index', next).val()) + 1)

					  // Also update canvases..
					  $('#'+$('.canvas_link', icon).text()).css('z-index', $('div>.index', icon).val());
					  $('#'+$('.canvas_link', next).text()).css('z-index', $('div>.index', next).val());
					}
					$('#layerlist').scrollTop($('#layerlist') + icon.position().top);

				})
				$(document).on('click', '.layerdelete', function(evt){
					evt.preventDefault();
					var icon = $(this).closest('.layerIcon');
					  icon.prevAll('.activeIcon').each(function(){
					  	// Decrease index of all layers above
					  	$('div>.index', this).val(parseInt($('div>.index', this).val()) - 1)
					  	// lower canvas stuff
					  	$('#'+$('.canvas_link', this).text()).css('z-index', $('div>.index', this).val());
					  })
					  // Delete the canvas
					  // mark for deletion
					  $("div>[id$='-DELETE']", icon).prop('checked', true);
					  icon.removeClass('activeIcon');
					  $('#'+$('.canvas_link', icon).text()).remove();


				})
				// Change Layername
				$(document).on('change', '.layername', function(){
					var icon = $(this).closest('.layerIcon');
					layers[icon.data('layer')].title = $(this).val();
					drawScreen(layers[icon.data('layer')]);
				})
				$(document).on('change', '.control-input-class', function(){
					// Save the new setting to the 'data' field!
					// We load the data to json
					// Save the field
					// Re stringify
					// It ain't pretty, but it works.
					var json = $('.layerSelected>div>.data');
					var data = JSON.parse(json.val());
					data[$(this).attr('name')] = $(this).val();
					json.text(JSON.stringify(data));
					// Then reload the iframe!!
					init($('.layerSelected'))
				})
				// Add Layers
				$(document).on('click', '#layeradd', function(evt){
					evt.preventDefault();
					if ($("#layertype").val() != ''){
						$.get('/slides/layerjson/new/'+$("#layertype").val()+'/', function(jsonData){
							// Get highest layer
							var index_highest = 0;
							$("#layerlist>.activeIcon").each(function() {
							    var index_current = parseInt($("div>.index",this).val());
							    if(index_current > index_highest) {
							        index_highest = index_current;
							    }
							});
							var count = $('#layerlist>.layerIcon').length;
							var tmplMarkup = $('#emptylayer').html();
							var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
							$('#layerlist').prepend(compiledTmpl);
							//Grab this newest layer we just added...
							var newlayer = $('#layerlist .layerIcon:first-child')
							// Fill it with goodies from the jsonData
							$("div>.index", newlayer).val(index_highest+1)
							$(".title", newlayer).val(jsonData.title)
							$("div>.version", newlayer).val(jsonData.versionid)
							$("div>.data", newlayer).text(JSON.stringify(jsonData.data))
							// update form count
							$('#id_layer-TOTAL_FORMS').attr('value', count+1);
							createLayer(newlayer);
							resizescreen();
						})
						
					}
				})

				//////////////////////////////////////////////////////////
				

				// for (var i=0; i < layers.length; i++){
				// 	init(layers[i]);
				// }
				//init(layer);
				theCanvas.addEventListener("mousedown", mouseDownListener, false);

				var dragIndex;
				var dragging;
				var mouseX;
				var mouseY;
				var dragHoldX;
				var dragHoldY;
				var timer;
				var targetX;
				var targetY;
				var easeAmount = 0.45;
				
				function init(thislayer) {
					loadIframe(thislayer)
					drawScreen(thislayer);
				}

				function refresh(layers){
					$('#layerlist>.activeIcon').each(function(){
						drawScreen($(this))
					})
				}
				
				function loadIframe(thislayer){
					$.post('/slides/layerpreview/', {version: $('div>.version', thislayer).val(), data: $('div>.data', thislayer).val()}, function(data){
						$('#'+$('.canvas_link', thislayer).text()).attr('srcdoc', data)
					})
				}

				function hitTest(hitX, hitY){
					var x = parseFloat($('.layerSelected>div>.x').val())
					var y = parseFloat($('.layerSelected>div>.y').val())
					var height = parseFloat($('.layerSelected>div>.height').val())
					var width = parseFloat($('.layerSelected>div>.width').val())

					return((hitX < (x + width))&&(hitX > x)&&(hitY > y)&&(hitY < (y + height)));


				}

				function selectLayer(thislayer){
					//layer = thislayer;
					//var layer_canvas = $(thislayer.canvas).attr('id');
					$('.layerSelected').removeClass('layerSelected');
					thislayer.addClass('layerSelected')

					$('.canvasSelected').removeClass('canvasSelected');
					$('#'+$('.canvas_link', thislayer).text()).addClass('canvasSelected')

					// Set up the right bar
					var rightbar = $('#rightbar');
					$('#xinput').val($("div>.x", thislayer).val());
					$('#yinput').val($("div>.y", thislayer).val());
					$('.widthinput').val($("div>.width", thislayer).val());
					$('.heightinput').val($("div>.height", thislayer).val());
					$('#layername').html($(".title", thislayer).val());

					$.post('/slides/layersettings/'+$("div>.version", thislayer).val()+'/', JSON.parse($("div>.data", thislayer).val()), function(data){
						$("#layersettings").html(data);
					})


				}
				function selectNoLayer(){
					layer = fakelayer;
					$('.layerSelected').removeClass('layerSelected');

				}

				function createLayer(thislayer){
					 //Make our canvas...
					 var canvas = document.createElement("iframe");
					 var canvas_id = 'canvas-'+String($('#canvas-holder>.editlayer').length)
					 $(canvas).addClass('editlayer')
					 .attr('scrolling',"no") 
					 .attr('marginwidth',"0")
					 .attr('marginheight',"0")
					 .attr('frameborder',"0")
					 .attr('vspace',"0")
					 .attr('hspace',"0")
 					 .css('position', 'absolute')
 					 .css('z-index', $('div>.index', thislayer).val())
 					 .css('left', $('div>.x', thislayer).val()+'%')
 					 .css('top', $('div>.y', thislayer).val()+'%')
 					 .css('width', $('div>.width', thislayer).val()+'%')
					 .css('height', $('div>.height', thislayer).val()+'%')
					 .attr('id', canvas_id);
					 // Link this canvas with our layer
					 $(".canvas_link", thislayer).text(canvas_id);
					 $('#canvas-holder').append(canvas);
					 // layer.canvas = canvas;
					 // layer.context = canvas.getContext('2d');
					 // layers.push(layer);

					 // // Create Layer Icon
					 // var layerIcon = document.createElement("div");
					 // $(layerIcon).addClass('layerIcon');
					 // $(layerIcon).addClass('canvas'+String(index))
					 // $(layerIcon).data('layer', String(index))
					 // var input = document.createElement("input");
					 // $(input).attr('type', 'text');
					 // $(input).addClass('layername');
					 // $(input).val(layer.title)

					 // $(layerIcon).append(input)
					 // $(layerIcon).append("("+layer.type+")")
					 // // Add buttons and stuff.. up and down buttons...
					 // var button = document.createElement("button");
					 // $(button).addClass('layerup');
					 // $(button).text('Move Up');
					 // $(layerIcon).append(button);
					 // button = document.createElement("button");
					 // $(button).addClass('layerdown');
					 // $(button).text('Move Down');
					 // $(layerIcon).append(button);
					 //  button = document.createElement("button");
					 // $(button).addClass('layerdelete');
					 // $(button).text('Delete!');
					 // $(layerIcon).append(button);

					 // $("#layerlist").prepend(layerIcon);
					 selectLayer(thislayer);
					 init(thislayer);
					 

				}
				function loadData(data){
					var layers = []
					for (var i=0; i < data.length; i++){
						createLayer(i, data[i].index, layers, jQuery.extend(true, {}, data[i]));

					}
					// Order the layer icons accordingly...
					
					return layers
				}
				
				function mouseDownListener(evt) {
					
					//getting mouse position correctly 
					var bRect = theCanvas.getBoundingClientRect();
					mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width)/theCanvas.width*100;
					mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height)/theCanvas.height*100;
							
					/*
					Below, we find if a shape was clicked. Since a "hit" on a square or a circle has to be measured differently, the
					hit test is done using the hitTest() function associated to the type of particle. This function is an instance method
					for both the SimpleDiskParticle and SimpleSqureParticle classes we have defined with the external JavaScript sources.		
					*/
					if (hitTest(mouseX, mouseY)) {	
						dragging = true;
						//the following variable will be reset if this loop repeats with another successful 
					}
					
					if (dragging) {
						window.addEventListener("mousemove", mouseMoveListener, false);
						
						//place currently dragged shape on top						
						//shapeto drag is now last one in array
						dragHoldX = mouseX - parseFloat($('.layerSelected>div>.x').val());
						dragHoldY = mouseY - parseFloat($('.layerSelected>div>.y').val());
						
						//The "target" position is where the object should be if it were to move there instantaneously. But we will
						//set up the code so that this target position is approached gradually, producing a smooth motion.
						targetX = mouseX - dragHoldX;
						targetY = mouseY - dragHoldY;
						
						//start timer
						timer = setInterval(onTimerTick, 1000/30);
					}
					theCanvas.removeEventListener("mousedown", mouseDownListener, false);
					window.addEventListener("mouseup", mouseUpListener, false);
					
					//code below prevents the mouse down from having an effect on the main browser window:
					if (evt.preventDefault) {
						evt.preventDefault();
					} //standard
					else if (evt.returnValue) {
						evt.returnValue = false;
					} //older IE
					return false;
				}
				
				function onTimerTick() {
					//because of reordering, the dragging shape is the last one in the array.
					var x = parseFloat($('.layerSelected>div>.x').val());
					var y = parseFloat($('.layerSelected>div>.y').val());

					x = x + easeAmount*(targetX - x);
					y = y + easeAmount*(targetY - y);

					//console.log(layer.x)
					//console.log(layer.y)
					
					//stop the timer when the target position is reached (close enough)
					if ((!dragging)&&(Math.abs(x - targetX) < 0.1) && (Math.abs(y - targetY) < 0.1)) {
						x = targetX;
						y = targetY;
						//stop timer
						clearInterval(timer);
					}
					$("#xinput").val(x);
					$('.layerSelected>div>.x').val(x)
					$("#yinput").val(y);
					$('.layerSelected>div>.y').val(y)
					drawScreen($(".layerSelected"));
				}
				
				function mouseUpListener(evt) {
					theCanvas.addEventListener("mousedown", mouseDownListener, false);
					window.removeEventListener("mouseup", mouseUpListener, false);
					if (dragging) {
						dragging = false;
						window.removeEventListener("mousemove", mouseMoveListener, false);
					}
				}

				function mouseMoveListener(evt) {
					var posX;
					var posY;
					var minX = 0;
					var maxX = 100 - $('.layerSelected>div>.width').val();
					var minY = 0;
					var maxY = 100 - $('.layerSelected>div>.height').val();

					
					//getting mouse position correctly 
					var bRect = theCanvas.getBoundingClientRect();
					mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width)/theCanvas.width*100;
					mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height)/theCanvas.height*100;
					
					//clamp x and y positions to prevent object from dragging outside of canvas
					posX = mouseX - dragHoldX;
					posX = (posX < minX) ? minX : ((posX > maxX) ? maxX : posX);
					posY = mouseY - dragHoldY;
					posY = (posY < minY) ? minY : ((posY > maxY) ? maxY : posY);
					
					targetX = posX;
					targetY = posY;
				}
					
				function drawShapes(thislayer) {

					// Draw a layer
					// var context = document.getElementById($('.canvas_link', thislayer).text()).getContext("2d");
					var x = ($('div>.x', thislayer).val())
					var y = ($('div>.y', thislayer).val())
					var height = ($('div>.height', thislayer).val())
					var width = ($('div>.width', thislayer).val())
					var canvas = $('#'+$('.canvas_link', thislayer).text())

					canvas.css('height', height+'%')
					canvas.css('width', width+'%')
					canvas.css('left', x+'%')
					canvas.css('top', y+'%')
					// var title = $('.title', thislayer).val()
					// if (thislayer.hasClass('layerSelected')){
					// 	context.fillStyle = '#90EE90';
					// 	context.strokeStyle = "#FFFFFF";
					// 	context.lineWidth   = 1;
						    
					// }
					// else{
					// 	context.fillStyle = '#D3D3D3';
					// 	context.strokeStyle = "#000000";
					// 	context.lineWidth   = 1;
					// }
					// context.globalAlpha = 0.9
					// context.fillRect(x/100 * theCanvas.width, y/100 * theCanvas.height, width/100 * theCanvas.width, height/100 * theCanvas.height);
					// context.strokeRect(x/100 * theCanvas.width, y/100 * theCanvas.height, width/100 * theCanvas.width, height/100 * theCanvas.height);
					// context.fillStyle = '#000000';
					// context.font = String(4/100*theCanvas.height) + "px Arial";
					// context.fillText(title,(1+x)/100 * theCanvas.width,(5+y)/100 * theCanvas.height);
				}
				
				function drawScreen(thislayer) {
					// var context = document.getElementById($('.canvas_link', thislayer).text()).getContext("2d");
					// context.clearRect(0,0,theCanvas.width,theCanvas.height);
					
					drawShapes(thislayer);		
				}
				
			}

			</script>
		</script>
	</body>
</html>