<div id="slideItem-{{slide.id}}" data-id="{{slide.id}}" data-title="{{slide.title}}" class="slideItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerSlide row">
		<div class="col-xs-12">
			<span class=""><i class="fa fa-object-group"></i></span>
			<span class="pull-right">
			{% if mode  == 'manage' %}
				<a target="_blank" href="{% url 'clone_slide' slide.id %}"><i class="favtoggle fa fa-copy" title="Clone this slide"></i></a>
				<i class="fa fa-eye previewtoggle" title="Preview this slide"></i>
			{% endif %}
			</span>
		</div>
	<div class="col-xs-12 slidepreview" style="display:none; padding:10px">
		<div class="aspect_maintain" style="">
		</div>
	</div>
	<div class="{% if mode == "manage" %}col-xs-8{% else %}col-xs-12{% endif %}">
		<h4 style="margin:0; margin-top:5px" class="slideTitle"><span title="{{slide.title}}"><b>{{slide.title}}</b></span>
			<br>
			<small>
				(by: <span class="owner">{% if slide.owner == user %}Me{% else %} {{slide.owner.username}}{% endif %}</span>)
				{% load slide_tags %}
				<br>
				Used in Slideshows:
				<a href="#!" data-toggle="popover" data-trigger="focus" title="Slideshows" data-html = "true" style="display: inline; cursor: pointer;"
					data-content="{% slide_item_slideshow slide %}</div>">
					view</a>
				<br>
				Last Edited: {{slide.edit_date|date:"Y/m/d"}} by {% if slideshow.last_edit %}{{slideshow.last_edit}}{% else %}{{slide.owner.username}}{% endif %}
			</small>
		</h4>
	{% if mode == "manage" %}
		<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
			<p><small></small></p>
			<p>{{slide.description}}</p>
		</div>
	</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button type="button" class="sharebutton btn btn-primary btn-sm" data-type="slide" data-itempk="{{slide.id}}" data-itemtitle="{{slide.title}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_slide' slide.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
				{% if perms.use == True %}<a href="{% url 'view_slide' slide.id %}?preview=true" class="btn btn-primary btn-sm">View</a>{% endif %}
				{% if slide.owner == user %}
				<button type="button" class="transferbutton btn btn-primary btn-sm" data-type="slide" data-itempk="{{slide.id}}" data-itemtitle="{{slide.title}}">Transfer</button>
				{% endif %}
				{% if perms.delete == True %}<button type="button" class="btn slide-delete-button btn-default btn-sm" data-deleteurl="{% url 'delete_slide' slide.id%}">Delete</button>{% endif %}
			</div>
		</div>
	{% else %}
	</div>
	{% endif %}
	<div class="col-xs-12 addbuttoncontainer">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addslidebutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	</div>
</div>

<script>
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>

<style>
	.popover {
    max-height: 20vh;
    overflow-y: auto;
    white-space: pre-wrap;
}
</style>
