<div class="layerIcon activeIcon" style="position: relative;">
	{{form.title}}<span class="short"></span>
	<div class="btn-group">
		<button class="layercopy slide-btn" title="Clone"><i class="fa fa-clone"></i></button>
		<button class="layerup slide-btn" title="Move up"><i class="fa fa-arrow-circle-up"></i></button>
		<button class="layerdelete slide-btn" title="Remove"><i class="fa fa-times-circle"></i></button>
		<button class="layerdown slide-btn" title="Move down"><i class="fa fa-arrow-circle-down"></i></button>
	</div>
	<div class="btn-divider"></div>
	<div class="btn-group-help">
		<button class="layerfeedback slide-btn" title="Feedback"><i class="fa fa-comment-o"></i></button>
		<button class="layerdocumentation slide-btn" title="Documentation"><i class="fa fa-info"></i></button>
	</div>
	{% if form.instance.id %}
		{% with update=form.instance.version.updateAvailable %}
			{% if update != None %}
				<p class="update-wrapper"><button class="updatego" data-updateid="{{ update.id }}" type="button">Update</button>
				</p>
			{% endif %}
		{% endwith %}
	{% endif %}
	{{ form.non_field_errors }}
	       {{ form.errors }}
	<div style="display:none;">
	{{form.id}}{{form.x}}{{form.y}}{{form.width}}{{form.height}}{{form.version}}{{form.data}}{{form.DELETE}}{{form.index}}
	</div>
	<span class="canvas_link" style="display:none;"></span>
</div>
