<html>
<head>
	<style type="text/css">
	body{
		margin:0;
		padding:0;
		{% if request.GET.overlay %}
		background-color: transparent !important;
		{% endif %}
		{% if request.GET.preview %}
		background-color: black;
		overflow: auto;
		{% else %}
		background-color: #474d57;
		overflow: hidden;
		{% endif %}
		min-height: 100vh;
		height: 100vh;
		max-height: 100vh;
		width: 100vw;
		max-width: 100vw;
	}
	.element{
		width: 100%; height: 100%; position:absolute; left: 0; top: 0;
	}
	#slideholder{
	{% if request.GET.preview %}

		margin: auto;
		position: relative;
		background-color: #474d57;

		width: {{dimensions.0}}%;
	}
	#slideholder:before {padding-top: {{dimensions.1}}%;
	    content: '';
	    display: block;
	{% endif %}
		padding-top: {{dimensions.1}}%;
	}
	</style>
</head>
<body>
<div id="slideholder" style="">
	<div class='element'>
	{% for layer in slidelayers %}
		<iframe srcdoc="{{layer.1}}" style="width: {{layer.0.width}}%; height: {{layer.0.height}}%; position:absolute; left: {{layer.0.x}}%; top: {{layer.0.y}}%; z-index:{{layer.0.index}};"
		scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" sandbox="allow-scripts allow-same-origin">
		</iframe>
	{% endfor %}
	</div>
</div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<script>
$.holdReady(true);
var count = 0
var loaded = 0
function iframeCheck(status=false){
	var status = status
	if (status == true){
		loaded += 1
	}
	else{
		count += 1
	}
	if (loaded == count){
		$.holdReady(false)
	}
}
window.iframeCheck = iframeCheck
</script>
</body>
</html>