{% load slide_tags %}
{{layerset.management_form}}
<div id="layerlist">

{% for form in layerset %}
	{% slidelayers_single form %}
{% endfor %}

</div>
<div id="emptylayer" style="display:none;">
	{% slidelayers_single layerset.empty_form %}
</div>
