{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slides' 'slides' %}
{% endblock %}

{% block style %}
<style>
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<page-header title="Slides" icon="fa-object-group">
  <a href="{% url 'new_slide' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New slide</a>
</page-header>
<div class="container-fluid">
	<div class="row">
    <div class="col-lg-4 col-md-5 col-xs-12">
			<info-panel title="Simple screen layouts">
				A slide is very close to what you would expect from something like a powerpoint slide. You simply add the widgets you need. Slides store the widgets, and your options for each added widget, so that the content can be displayed on any screen via slideshow.
			</info-panel>
		</div>
		<div id="listSlidesLoader" class="col-lg-8 col-md-7 col-xs-12">
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share Slide <span id="sharetitle"></span></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="transferModalLabel">Transfer Slide <span id="transfertitle"></span></h4>
      </div>
      <div id="transferModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listSlidesLoader').load('{% url "list_slides" mode="manage" %}')
	$('#listSlidesLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/slide/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
		$('#sharetitle').html($(this).data('itemtitle'));
	})
	$('#listSlidesLoader').on('click', '.transferbutton', function(){
		$('#transferModalBody').load('/transfer/slide/'+$(this).data('itempk')+'/', function(){
			$('#transferModal').modal('show');
		})
		$('#transfertitle').html($(this).data('itemtitle'));
	})
</script>
{% endblock %}