<ul id="slidetabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
		  <li role="presentation" class="active"><a class="tabLarge" href="#my_slides" aria-controls="my_slides" role="tab" data-toggle="tab">My Slides</a><a class="tabSmall" href="#my_slides" aria-controls="my_slides" role="tab" data-toggle="tab">Owned</a></li>
		  <li role="presentation"><a class="tabLarge" href="#group_slides" aria-controls="group_slides" role="tab" data-toggle="tab">Group Slides</a><a class="tabSmall" href="#group_slides" aria-controls="group_slides" role="tab" data-toggle="tab">Group</a></li>
</ul>
<div id="slidepanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
	  <input type="text" id="my_slides_search" class="form-control" placeholder="search for slide title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="my_slides">
   	<div class="row list">
   	{% for slide in slides %}
   	{% slide_item slide %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% if mode != 'manage' %}
   	{% endif %}

   	{% endfor %}
   	</div>
   </div>
   <div role="tabpanel" class="tab-pane group-pane" id="group_slides">
      <div class="row">
        <div id="expand-wrapper">
          <button id="expand-all" type="button" class="btn btn-default">
            Collapse All <i class="fa fa-chevron-up"></i>
          </button>
        </div>
         {% for group in groups %}
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#{{group.id}}">
                <span class="panel-title">{{group.title}} </span>
                <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span>
                <i class="fa fa-chevron-up"></i>
              </div>
              <div id="{{group.id}}" class="panel-body collapse in list">
                {% for slide in group.slides.all|dictsort:"last_edit" %}
                  {% slide_item slide %}
                {% endfor %}
              </div>
            </div>

         {% endfor %}
      </div>
   </div>
</div>
{% if mode != 'edit' %}
<!-- Deletion Modal -->
<div class="modal fade" id="deleteSlideModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>You are currently about to delete <b><span id="slide-delete-modal-title"></span></b>.
        <p>Are you sure you want to delete?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button> <button id="slide-delete-modal-button" type="button" class="btn btn-danger" data-deleteurl="" data-deleteid="" >DELETE</button>
      </div>
    </div>

  </div>
</div>
{% endif %}


<script>
// Handle Deletion
$('.slide-delete-button').click(function(){
  var url = $(this).data('deleteurl');
  var title = $(this).closest('.slideItem').find(".slideTitle").text()
  var modal = $("#deleteSlideModal")
  var id = $(this).closest('.slideItem').attr('id')
  $('#slide-delete-modal-title').text(title)
  $('#slide-delete-modal-button').data('deleteurl', url)
  $('#slide-delete-modal-button').data('deleteid', id)
  modal.modal('show')
})

$("#slide-delete-modal-button").click(function(){
  $.post($('#slide-delete-modal-button').data('deleteurl'), {'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
    if (data == "SUCCESS"){
       $("#" + $('#slide-delete-modal-button').data('deleteid')).remove()
       $("#deleteSlideModal").modal('hide')
    }
  })
})

$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_slides_search', function(){
 	var search = $(this).val().toLowerCase();
 	if (search.length > 3){
 		clearTimeout(currentTimeout);
 		currentTimeout = setTimeout(function(){
 			var thistab = $("#slidepanes div.active")
 			$('.slideItem', thistab).each(function(){
 				if ($(this).data('title').toLowerCase().includes(search)){
 					$(this).show()
 				}
 				else {
 					$(this).hide()
 				}
        if ($(this).siblings(':visible').length == 0 && $(this).is(':hidden')){
          $(this).parents('.panel').hide()
        }
        else{
          $(this).parents('.panel').show()
        }
 			})
 		}, 350)
 	}
 	else {
 		var thistab = $("#slidepanes div.active")
 		$('.slideItem', thistab).each(function(){
 			$(this).show()
      $(this).parents('.panel').show()
 			})
 	}
 })

 $("#slidepanes").on('click', '.previewtoggle', function(){
  var icon = $(this);
  var container = $(this).closest('.slideItem');
  var itemid = container.data('id');
  if (icon.hasClass('fa-eye')){
     $.get('/slides/view/'+itemid+'/?preview=true', success=function(data){
        var iframe = $('<iframe scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

        container.find('.slidepreview>div').html(iframe)
        container.find('.slidepreview').slideDown();

     })
  }
  else{
     container.find('.slidepreview').hide()
     container.find('.slidepreview iframe').remove()
  }
  icon.toggleClass('fa-eye fa-eye-slash')
 })
})

function btnFlip(){
  if ($('.panel-heading.collapsed').length == ($('.panel-heading').length)){
    $('#expand-all').html('Expand All <i class="fa fa-chevron-down"></i>')
  }
  else if ($('.panel-heading.collapsed').length == 0){
    $('#expand-all').html('Collapse All <i class="fa fa-chevron-up"></i>')
  }
}

function iconFlip(icon){
  var icon = icon
  if (icon.hasClass('collapsed')){
    icon.find('i').removeClass('fa-chevron-down')
    icon.find('i').addClass('fa-chevron-up')
  }
  else{
    icon.find('i').removeClass('fa-chevron-up')
    icon.find('i').addClass('fa-chevron-down')
  }
}

$('.panel-heading').click(function(){
  iconFlip($(this));
  setTimeout(function(){
    btnFlip(),
    100
  })
})

$('#expand-all').click(function(){
  var status = 'Expand'
  var i = String($(this).html())
  if (i.includes('Collapse')){
    $(this).html('Expand All <i class="fa fa-chevron-down"></i>')
    status = 'Expand'
  }
  else{
    $(this).html('Collapse All <i class="fa fa-chevron-up"></i>')
    status = 'Collapse'
  }
  $('.row .panel-heading').each(function(){
    if (!($(this).hasClass('collapsed')) && status == 'Expand'){
      $(this).click()
    }
    else if ($(this).hasClass('collapsed') && status == 'Collapse'){
      $(this).click()
    }
  })
})

</script>
