@import "../variables";

.card-link:hover {
	text-decoration: none;
}

.card {
	background: #fff;
	border-radius: 5px;
	color: $brand-primary;
	display: flex;
	transition: all 0.25s ease-out;
	margin-bottom: 15px;

	&:hover {
		background: $gray-lighter;
	}

	h3 {
		margin-top: 0;
	}

	.card-icon {
		font-size: 26px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    margin: 0;
    padding: 15px;
    width: 60px;
    display: flex;
    justify-content: center;
	}

	.card-icon_slideshows {
		background-color: $brand-slideshows;
	}

	.card-icon_screens {
		background-color: $brand-screens;
	}

	.card-icon_slides {
		background-color: $brand-slides;
	}

	.card-icon_widgets {
		background-color: $brand-widgets;
	}

	.card-body {
		margin: 10px 15px;
	}

	ul {
		list-style-type: square;
		padding-left: 20px;
	}
}
