@import "../variables";

.pageheader {
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 15px -12px rgba(0,0,0,0.75);


  h2 {
    margin: 0;

    i {
      margin-right: 5px;
    }
  }
}
