@import "../variables";

.sidebar-container {
  background-color: #373d47;
  color: #979da7;
  height: 100vh;
  width: $sidebar-width;
  flex: 0 0 $sidebar-width;
  overflow: hidden;
  z-index: $zindex-navbar;
  transition: flex-basis 250ms ease-out;

  &.expanded {
    overflow: visible;
    flex-basis: 200px;

    .sidebar-item {
      width: auto;

      .sidebar-title {
        display: block;
      }
    }
  }

  &:hover {
    overflow: visible;
  }
}

.sidebar {
  line-height: $sidebar-width;
  width: 200px;

  .nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

// .ui-sidebar-activate {
//   height: 100vh;
//   position: fixed;
//   width: 10px;
//   overflow: hidden;
//   z-index: 1901;
//   padding-top: 50px;
// }

// .ui-sidebar {
//   width: 200px;
//   padding: 0px;
//   line-height: 40px;
// }

// .ui-sidebar i {
//   padding-right: 20px;
// }

// .ui-sidebar-wrapper {
//   margin-left: 52px;
//   position: relative;
//   padding-top: 50px;
// }

// .ui-sidebar-container.ui-expanded {
//   width: 200px;
// }

// .ui-sidebar-wrapper.ui-expanded {
//   margin-left: 200px;
// }

// .ui-nav-light li {
//   background-color: #474d57;
// }

// ul.nav.ui-nav a {
//   color: #979da7 !important;
//   padding: 0;
//   padding-left: 16px;
// }

// .navbar-inverse span.navbar-brand:hover,
// .navbar-inverse span.navbar-brand:focus {
//   background-color: transparent;
//   color: #999999;
// }

// ul.nav.ui-nav li.active {
//   background-color: #474d57;
// }

// .navbar-brand {
//   max-width: 500px;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
