@import "../variables";

.sidebar-item {
  width: 60px;
  transition: width 100ms ease-out;
  cursor: pointer;

  a {
    color: #ffffff;
    align-items: center;
    display: flex !important;
    height: $sidebar-width;
    padding: 0 !important;
  }

  i {
    color: $gray-lighter;
    font-size: $font-size-large;
    text-align: center;
    width: $sidebar-width;
  }

  &.sidebar-section-expand {
    margin-top: auto;
  }

  &.sidebar-section-close {
    margin-top: auto;
  }

  a.active {
    box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.75);
  }

  &:hover {
    width: auto;
    box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.75);

    i {
      color: #ffffff;
    }

    a:hover {
      background-color: $gray-dark;
    }

    .sidebar-title {
      display: block;
    }
  }

  &.sidebar-section-home {
    a:hover, a.active {
      background-color: $brand-home;
    }
  }

  &.sidebar-section-groups {
    a:hover, a.active {
      background-color: $brand-groups;
    }
  }

  &.sidebar-section-screens {
    a:hover, a.active {
      background-color: $brand-screens;
    }
  }

  &.sidebar-section-slideshows {
    a:hover, a.active {
      background-color: $brand-slideshows;
    }
  }

  &.sidebar-section-slides {
    a:hover, a.active {
      background-color: $brand-slides;
    }
  }

  &.sidebar-section-widgets {
    a:hover, a.active {
      background-color: $brand-widgets;
    }
  }

  &.sidebar-section-images {
    a:hover, a.active {
      background-color: $brand-images;
    }
  }

  &.sidebar-section-videos {
    a:hover, a.active {
      background-color: $brand-videos;
    }
  }

  &.sidebar-section-trashbin {
    a:hover, a.active {
      background-color: $brand-trashbin;
    }
  }
}

.sidebar-title {
  display: none;
  height: 60px;
  padding: 19.5px 15px;
  font-size: 19px;
  line-height: 1;
  margin: 0;
}
