<html>
<style>
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 5px;
  }
  a {
    color: #0073CF;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
  div {
    padding: 0 10px;
  }
  div p {
    white-space: pre-wrap;
  }
</style>
<body>
    <h1>
        Scinage Widget Feedback
    </h1>
    <p>
        Your widgets have received feedback this week. Please review and address the below as you see fit.
    </p>
    <div>
    {% for v in feedback %}
        {% ifchanged v.version.layer %}
            {% if not forloop.first %}
            <hr>
            {% endif %}
            <h2>
              {{v.version.layer.title}}
            </h2>
            <span>
              <a href="{{url}}/widgets/edit/{{v.version.layer.id}}">
                Go to {{v.version.layer.title}} edit page
              </a>
            </span>
        {% endifchanged %}
        {% ifchanged v.feedback_type v.version.layer %}
            <h3>{{v.get_feedback_type_display}}</h3>
        {% endifchanged %}
            <ul>
                <li>
                    <p>From {{v.user.username}} ({{v.creation_date}}): {{v.feedback|linebreaksbr}}</p>
                </li>
            </ul>  
    {% endfor %}
    </div>
    <br>
    <p>
        If you have any questions please email Troy Grandy (<a href="mailto:trgrandy@uwaterloo.ca?Subject=Scinage%20Feedback%20Help" target="_top">trgrandy@uwaterloo.ca</a>).
    </p>
</body>
</html>
