{% extends 'UI/skin.html' %}

{% block style %}
  <style>
    .page-not-found {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    p {
        margin-bottom: 3em;
    }
    </style>
{% endblock %}

{% block body %}
<div class="page-not-found">
    <h1>Page Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <a href={% url 'home' %} class="btn btn-primary btn-lg">Back to Homepage</a>
</div>
{% endblock %}
