{% extends 'UI/skin.html' %}

{% block style %}
<style>
.fpblock{
	padding-top:10px;
	padding-bottom:10px;
}
#leftcol, #rightcol{
	padding: 0;
}
#rightcol{
	overflow: auto;
	padding-right: 10px;
}
#leftcol{
	padding-left: 10px;
}
#off-screens{
	padding-left: 20px;
	overflow-y: auto;
}
@media(max-width: 991px){
	#leftcol, #rightcol, #centercol {
		padding: 0;
	}
}
</style>
{% endblock %}

{% block body %}
<page-header title="Welcome, {{username}}!" icon="fa-home"></page-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-7 col-xs-12">
			<card title="Screens" icon="fa fa-television" link="{% url 'screens' %}">
				<ul>
					<li>You have set <b>{{ owned_screens }}</b> screens</li>
					<li>You have access to <b>{{ other_screens }}</b> other screens within groups</li>
					<li>
						{% if off_screens %}
							The following screens are "off":
								<ul id="off-screens">
								{% for s in off_screens %}
									<li>
										<a href="{% url 'edit_screen' s.id %}">{{s.title}}: Last accessed at {{s.last_connect|date:"Y/m/d H:i"}}</a>
									</li>
								{% endfor %}
								</ul>
						{% else %}
							All screens are on
						{% endif %}
					</li>
				</ul>
			</card>
			<card title="Slideshows" icon="fa fa-th-list" link="{% url 'slideshows' %}">
				<ul>
					<li>You have made <b>{{ owned_slideshows }}</b> slideshows</li>
					<li>You have access to <b>{{ other_slideshows }}</b> other slideshows within groups</li>
				</ul>
			</card>
			<card title="Slides" icon="fa fa-object-group" link="{% url 'slides' %}">
				<ul>
					<li>You have made <b>{{ owned_slides }}</b> slides</li>
					<li>You have access to <b>{{ other_slides }}</b> other slides within groups</li>
				</ul>
			</card>
			<card title="Widgets" icon="fa fa-object-ungroup" link="{% url 'layers' %}">
				<ul>
					<li>You have made <b>{{ owned_layers }}</b> widgets and favorited <b>{{fav_layers}}</b></li>
					<li>You have access to <b>{{ other_layers }}</b> other widgets within groups</li>
					<li>{{shared_layers}} of your widgets have been shared</li>
					{% if shared_layers > 0 %}
						<li>Your shared widgets have been used {{layer_uses}} times</li>
					{% endif %}
				</ul>
			</card>
		</div>
		<div class="col-lg-push-1  col-md-5 col-xs-12">
			<info-panel title="New and Updated">
				<ul class="fa-ul">
					{% for version in changed_layers %}
						<li><i class="fa-li fa fa-angle-double-right"></i><b>{{ version.layer.title }}</b> - {{ version.edit_date }}
						<br/>
						{% if version.last_edit %}By {{version.last_edit}}: {% endif %}{{ version.changes }}</li>
					{% endfor %}
				</ul>
				<div class="row">
					<div class="col text-center">
						<button class="btn btn-primary btn-sm" onclick="location.href='{% url 'layer_change_log' %}'" >Show More</button>
					</div>
				</div>
			</info-panel>
		</div>
	</div>
	<div class="row text-center" style="margin-top: 150px;">
		<p>
			<img height="30px" src="/static/img/logo.png" style="margin-right: 15px;">
			<a href="https://git.uwaterloo.ca/science-computing/Scinage" target="_blank">Scinage</a> is developed by <a href="https://uwaterloo.ca/science-computing/" target="_blank">Science Computing</a> at the <a href="https://uwaterloo.ca/" target="_blank">University of Waterloo</a>
			<span style="margin-left: 15px; color: #808080; font-size: 12px;">BETA 3.0</span>
		</p>
	</div>
</div>
{% endblock %}
