{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Scinage</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% sass_src 'css/_bootstrap.scss' %}" type="text/css"></link>
  <link rel="stylesheet" href="{% sass_src 'css/_global.scss' %}" type="text/css"></link>

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fontselect/fontselect.css">

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>


  <!-- Latest compiled and minified JavaScript -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <style>
    {% if newlysaved %}

    .navbar-inverse {
      animation-name: flash;
      animation-duration: 2s;
      -webkit-animation-name: flash;
      -webkit-animation-duration: 2s;
    }

    @-webkit-keyframes flash {
      from {
        background-color: green;
      }

      to {
        background-color: #222;
      }
    }

    @keyframes flash {
      0% {
        background-color: green;
      }

      100% {
        background-color: #222;
      }
    }

    {% endif %}
  </style>

  {% block style %}
  {% endblock %}
</head>

<body>
  <div id="app">
    {% url 'new_layer' as new_layer_url %}
    {% url 'new_slide' as new_slide_url %}
    {% url 'home' as home_url %}
    {% url 'groups' as groups_url %}
    {% url 'layers' as layers_url %}
    {% url 'slides' as slides_url %}
    {% url 'slideshows' as slideshows_url %}
    {% url 'screens' as screens_url %}
    {% url 'images' as images_url %}
    {% url 'videos' as videos_url %}
    {% url 'trashbin' as trashbin_url %}
    <sidebar :forcecollapse="{% if new_layer_url in request.get_full_path or 'widgets/edit/' in request.get_full_path or new_slide_url in request.get_full_path or 'slides/edit/' in request.get_full_path %}true{% else %}false{% endif %}">
      <sidebar-item
        icon="fa-home"
        link="{{ home_url }}"
        title="Home"
        v-bind:active="{% if request.get_full_path == home_url %}true{% else %}false{% endif %}"
      ></sidebar-item>
      <sidebar-item
        icon="fa-users"
        link="{{ groups_url }}"
        title="Groups"
        v-bind:active="{% if groups_url in request.get_full_path %}true{% else %}false{% endif %}"
      ></sidebar-item>
      <sidebar-item
        icon="fa-television"
        link="{{ screens_url }}"
        title="Screens"
        v-bind:active="{% if screens_url in request.get_full_path %}true{% else %}false{% endif %}"
      ></sidebar-item>
      <sidebar-item
        icon="fa-th-list"
        link="{{ slideshows_url }}"
        title="Slideshows"
        v-bind:active="{% if slideshows_url in request.get_full_path %}true{% else %}false{% endif %}"
      ></sidebar-item>
      <sidebar-item
        icon="fa-object-group"
        link="{{ slides_url }}"
        title="Slides"
        v-bind:active="{% if slides_url in request.get_full_path %}true{% else %}false{% endif %}"
      ></sidebar-item>
      <sidebar-item
        v-bind:active="{% if layers_url in request.get_full_path %}true{% else %}false{% endif %}"
        link="{{ layers_url }}"
        icon="fa-object-ungroup"
        title="Widgets"
      ></sidebar-item>
      <sidebar-item
        v-bind:active="{% if images_url in request.get_full_path %}true{% else %}false{% endif %}"
        link="{{ images_url }}"
        icon="fa-picture-o"
        title="Images"
      ></sidebar-item>
      <sidebar-item
        v-bind:active="{% if videos_url in request.get_full_path %}true{% else %}false{% endif %}"
        link="{{ videos_url }}"
        icon="fa-film"
        title="Videos"
      ></sidebar-item>
      <sidebar-item
        v-bind:active="{% if trashbin_url in request.get_full_path %}true{% else %}false{% endif %}"
        link="{{ trashbin_url }}"
        icon="fa-trash"
        title="Trashbin"
      ></sidebar-item>
    </sidebar>
    <div class="ui-wrapper container">
      <nav class="navbar navbar-inverse navbar-fixed-top" style="z-index:1901">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Scinage</a>
          {% block breadcrumbs %}{% endblock %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>-->
            {% if request.user.is_staff %}<li><a href="{% url 'dashboard' %}">Analytics</a></li>{% endif %}
            <li><a href="/static/documentation/index.html">Help</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        </div>
      </nav>
        {% block body %}
        {% endblock %}
    </div>
  </div>

  <div>
    {% block bodywithscript %}
    {% endblock %}
  </div>

  <!-- All the javascripts -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/fontselect/jquery.fontselect.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- development version, includes helpful console warnings -->
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> {% endcomment %}
  <!-- Add Vue components before main.js (where Vue is instatiated) -->
  <script type="text/javascript" src="/static/js/components/sidebar.js"></script>
  <script type="text/javascript" src="/static/js/components/sidebar-item.js"></script>
  <script type="text/javascript" src="/static/js/components/page-header.js"></script>
  <script type="text/javascript" src="/static/js/components/info-panel.js"></script>
  <script type="text/javascript" src="/static/js/components/card.js"></script>
  <!-- Main javascript logic -->
  <script type="text/javascript" src="/static/js/main.js"></script>

  {% block script %}
  {% endblock %}
  </body>

</html>