@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  color: #412234;
  background-color: #E6E6E6;
}
#sidebar{
  width: 260px;
  min-width: 260px;
  background-color: #373d47;
  color: white;
}
header, nav{
  position: sticky;
}
header{
  text-align: center;
  background-color: #0073CF;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  top: -66px;
}
#header-title{
  font-size: 20px;
  padding-bottom: 18px;
  flex-grow: 1;
}
header a{
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
#content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 400px;
  box-sizing: border-box;
  padding: 16px;
  background-color: white;
}
nav{
  top: 66px;
  overflow-y: auto;
  max-height: 100vh;
}
nav ul{
  list-style: none;
  padding: 0;
  display: block;
  margin: 0;
}
nav ul ul {
  display: none;
}
nav ul ul a {
  padding-left: 32px;
  padding-right: 2px;
  word-wrap: break-word;
  font-size: 14px;
}
.visible{
  display: block;
}
nav a{
  text-decoration: none;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #FFF;
  cursor: pointer;
}
nav a:hover{
  background-color: #86A5D9;
  
}
main{
   flex-grow: 1;
   padding: 0 12px 12px 12px;
   box-sizing: border-box;
  
}
footer{
  border-top: 1px solid #ddd;
  padding-top: 18px;
}
h1:not(:first-of-type){
  margin: .5em 0;
}
#page-title{
  border-bottom: 1px solid #ddd;
  margin: 0.5em 0;
}
.title, .subtitle{
  line-height: 1.15;
  margin: 0;
}
.title{
  font-size: 35px;
  padding-bottom: 4px;
}
.subtitle{
  font-size: 20px;
  color: #666666;
}
ul+ul, ol+ol{
  margin-top: 0;
  margin-bottom: 0;
}
ol{
  list-style: disc;
}
.start{
  margin-bottom: 0;
}
.lst-kix_pjnyte6i5upu-1, .lst-kix_gg11zth5of9i-1, .lst-kix_rdx3p6lka9gz-1{
  padding-left: 72px;
  margin: 5px 0;
  list-style: square;
}
.lst-kix_pjnyte6i5upu-2{
  padding-left: 96px;
  list-style: circle;
}
@media only screen and (max-width: 768px) {
    body {
       flex-direction: column;
    }
    #sidebar{
      width: auto;
      max-height: none;
    }
    header{
      text-align: left;
      height: 40px;
      padding-top: 8px;
      margin-bottom: 0;
      flex-direction: row;
    }
    
    header a{
      padding: 0;
      padding-right: 8px;
      padding-top: 5px;
      box-sizing: border-box;
      border: none;
      font-size: 12px;
    }
    nav{
      max-height: none;
      overflow-y: visible;
    }    
    nav ul li{
      display: inline-block;
      position: relative;
    }
    nav a{
      padding-right: 16px;
    }    
    nav ul ul a{
      padding-left: 16px;
    }    
    nav ul ul {
      position: absolute;
      top: 34px;
      left: 0;
      background-color: #412234;
      width: 160px;
    }
    nav ul li ul li{
      display: block;
    }
}
video {
  width: 100%    !important;
  height: auto   !important;
  margin-bottom: 12px;
}
img {
  max-width: 100%;
}
