{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Layers' 'layers' %}
	{% if layer != None %}
	{% with "Edit: "|add:layer.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Layer' %}
    {% endif %}
{% endblock %}

{% block style %}
	<style>
		body{
			padding: 0;
			margin: 0;
		}
		#layersettings{
			padding-top:55px;
			width: 50%;
			height: 100%;
			overflow-y: scroll;
			position: absolute;
			left: 0;
			top:0;
			background-color: #E6E6E6;
		}
		#preview-holder{
			padding-top:65px;
			padding-left:15px;
			width: 50%;
			height: 100%;
			position: absolute;
			right: 0;
			top:0;
			background-color: #373d47;
		}
		#preview{
			background: #474d57;
			outline: 3px solid white;
			overflow: hidden;
			resize: both;
			width: 100%;
			height: 300px;
			min-width: 300px;
			min-height: 150px;
			max-width: 40vw;
			max-height: 80vh;
		}
		#controls{
			width: 100%;
		}
		.ui-sidebar-wrapper{
			height:100vh;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="layersettings">
	<div class="col-xs-12">
		<br>
		<form id="controls_form" method="POST" action="/layers/preview/" enctype="multipart/form-data">
		{% load crispy_forms_tags %}

		{% crispy layerform %}
		{% crispy versionform %}
		<button type="button" id="preview-button">Preview</button>
		<button type="button" id="submit-button">Submit</button>
		{% crispy controlsform helper %}
		<table id="empty_form" style="display:none">
			<tbody>
                {% crispy controlsform.empty_form trhelper%}
      </tbody>
		</table>
		<button type="button" id="addcontrol">Add Control</button>
		</form>
	</div>
	</div>

	<div id="preview-holder">
		<iframe name="preview_frame" id="preview" width="160px" height="120px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">>
		</iframe>
	</div>


 <div id="controls-extra">
 </div>

{% endblock %}
{% block script %}

	<script>

		$(function(){
			var doc = $("#preview")[0].contentWindow.document;
			var body = $('body',doc);
			body.html({{preview|safe}})
			$( "#preview" ).draggable({
			  containment: "parent"
			});

			$("#controls-extra").load('{% url 'extra_controls' %}')
			$('#preview-button').click(function(ev){
				{% if layer != None %}
				$('#controls_form').attr('action', '/layers/edit/{{layer.id}}/?preview=True').attr('target', 'preview_frame').submit()
				{% else %}
				$('#controls_form').attr('action', '/layers/new/?preview=True').attr('target', 'preview_frame').submit();
				{% endif %}
			})
			$('#submit-button').click(function(ev){
				{% if layer != None %}
				$('#controls_form').attr('action', '/layers/edit/{{layer.id}}/').attr('target', '').submit()
				{% else %}
				$('#controls_form').attr('action', '/layers/new/').attr('target', '').submit();
				{% endif %}
			})
			$('#id_publish').click (function(){
			  var thisCheck = $(this);

			  if ( thisCheck.is(':checked') ) {
			  	$("#changesmodal").modal({'show': true})
			    
			  }
			});
			// Change default input html when changing thingies
			$('#controls').on('change', '.type', function(ev){
				var row = $(this).closest('tr')
				row.find('.defaultinput').load('/layers/editorinput/'+$(this).val())
			})

			$('#addcontrol').click(function(ev){
						ev.preventDefault();
						var count = $('#controls_container > tbody > tr').length;
						var tmplMarkup = $('#empty_form>tbody').html();
						var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
						$('table#controls_container>tbody').append(compiledTmpl);

						// update form count
						$('#id_controls-TOTAL_FORMS').attr('value', count+1);
					})

		})
	</script>
{% endblock %}
