{% extends 'UI/skin.html' %}
{% load slide_tags %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Widgets' 'layers' %}
	{% if layer != None %}
	{% with "Edit: "|add:layer.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Widget' %}
    {% endif %}
{% endblock %}

{% block style %}	

	<link rel="stylesheet" href="/static/easyui/easyui.css">
	<style>
		body{
			padding: 0;
			margin: 0;
		}
		#layersettings{
			padding: 60px 15px 15px 70px !important;
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			position: absolute;
			left: 0;
			top:0;
			background-color: #E6E6E6;
		}
		#preview-holder{
			padding-top:65px;
			padding-left:15px;
			width: 50%;
			height: 100%;
			position: absolute;
			right: 0;
			top:0;
			background-color: #373d47;
		}
		#preview{
			background: #474d57;
			z-index: 1;
			overflow: hidden;
			resize: both;
			width: 100%; 
		    height: 200px;
			min-width: 10px;
			min-height: 10px;
			max-width: 100%;
			max-height: 100%;
			position: center;
			padding: 0px !important;
		}
		#controls{
			width: 100%;
		}
		.ui-sidebar-wrapper{
			height:100vh;
		}
		.tab {
  			float: left;
  		}
		#top{
			width: 100%;
			height: 45%;
			overflow: auto;
			background-color: transparent;
			border-top: 0px;
    		border-left: 0px;
    		border-right: 0px;
		}
		.layereditcomp{
			width:auto;
			
		}
		.tab-pane > .form-group{
			width:100px;
			display: block;
		}
		
		.help-block{
			width: auto;
		}
		#submit-button{
			margin-left:15px;
		}
		.tab-pane{
			padding-top:5px;
		}
		.tab-content{
			height:auto;
			width:auto;
		}
		#previewtab{
			align-items: stretch;
			padding: 0px;
			width: 100%;

		}
		#layersettings > #pane-container > .panel{
    		background: linear-gradient(0deg, white calc(100% - 46px), transparent 46px);

		}
		.panel-with-icon{
			padding-left: 0px;
		}

		#left, #middle, #right{
			padding: 2px;
		}
		#left{
			margin-left:0px;
		}
		#right{
			margin-left:0px;
		}
		.panel-body{
			font-size: 14px;
		}
		
		#layereditpanes > #settings, #controls, #documentationtab, #feedbacktab{
			padding: 10px 5px 5px 5px !important;
		}
		.modal{
			z-index: 100000 !important;
		}
		.CodeMirror{
			height:auto !important;
		}
		.layout-panel-center{
			z-index: 20;
		}
		.layout-panel-west, .layout-panel-east, .layout-panel-south{
			z-index: 30;
		}
		#bottom{
			background-color: transparent;
			height: 100px;
			padding: 5px 5px 5px 8px;
		}
		#feedbackWrapper, #summernoteWrapper{
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;		
		}
		#summernoteWrapper{
			padding-top: 10px;
		}
		#feedbackWrapper h3{
			margin-top: 10px;
		}
		#feedbackWrapper ul{
			padding-left: 20px;
		}
		#feedbackWrapper>p{
			padding-left: 10px;
		}
		.note-insert, .btn-fullscreen{
			display: none;
		}
		#documentation-blurb{
			margin-bottom: 10px;
		}
		
	</style>
	{{ versionform.media }}
{% endblock %}

{% block bodywithscript %}
{% load crispy_forms_tags %}
	<form id="controls_form" method="POST" action="/layers/preview/" enctype="multipart/form-data">
	<div id="layersettings" style="cursor: auto; overflow: auto; padding-left: 5px;">
	<div id="controls-extra" z-index="100000">
				 			</div>
		<div id="pane-container" class="easyui-layout" style="width:100%; height:100%; background-color: transparent !important;">
			<div id="top" class="top" data-options="region:'north', split:true" style="display: flex;background-color: transparent;">
				<div style="align-items: stretch; width: 100%;">
					<ul id="layeredittabs" class="nav nav-tabs" role="tablist" style="margin-top:5px;">
				        <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
				        <li role="presentation"><a href="#controls" aria-controls="controls" role="tab" data-toggle="tab">Controls</a></li>
					  	<li role="presentation"><a href="#previewtab" aria-controls="preview" role="tab" data-toggle="tab" id="preview-button">Preview <i class="fa fa-refresh"></i></a></li>
					  	<li role="presentation"><a href="#documentationtab" aria-controls="documentation" role="tab" data-toggle="tab">Documentation <i class="fa fa-info-circle"></i></a></li>
					  	<li role="presentation"><a href="#feedbacktab" aria-controls="feedback" role="tab" data-toggle="tab">Feedback <i class="fa fa-comment-o"></i></a></li>
					</ul>
				
					<div id="layereditpanes" class="tab-content" style="align-items: stretch;">
						<div role="tabpanel" class="tab-pane active" id="settings">
							
							{% crispy layerform %}
							<div class='col-lg-2 col-xs-2' style='vertical-align: center; height:45px;'>
								<div class='form-group'>
									<div class='checkbox'>
										<label for="publish" style=''>

											<input id="publish" class='checkboxinput' type="checkbox" name="publish" value="publish" style=''>
		                    Publish
		                    


		    




		    



		                

										</label>
									</div>
								</div>
							</div>
							<div class='col-lg-4 col-xs-4'>
								<button type="button" id="submit-button">Save</button>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="controls">
							{% crispy controlsform helper %}
							<table id="empty_form" style="display:none">
								<tbody>
					                {% crispy controlsform.empty_form trhelper%}
					      		</tbody>
							</table>
							<button type="button" id="addcontrol">Add Control</button>
							
						</div>
						<div role="tabpanel" class="tab-pane" id="previewtab" style="">
							<iframe name="preview_frame" id="preview" width="0px" height="0px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" allowfullscreen>
							</iframe>
						</div>
						<div role="tabpanel" class="tab-pane" id="documentationtab">
							<div id="summernoteWrapper">
								<div id="documentation-blurb">
									Provide documentation for users. This will be viewable in the slide edtior. Note documentation is tied to the <b>widget</b>, not a version, so if changes are made to your widget you may need to update the documentation as well.
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="feedbacktab">
							<div id="feedbackWrapper">
							{% if feedback and feedback_count > 0 %}
								{% for v in feedback %}
									{% if v.bugs or v.generals or v.others %}
										<h3>
											Version {{v.id}} {% if forloop.first %}(Current published){% endif %}
										</h3>
										{% if v.bugs %}
										<h4>
											Bugs/Issues
										</h4>
										<ul>
										{% for x in v.bugs %}
											{% if x.feedback %}
											<li>
												<p>
													From {{x.user.username}} ({{x.creation_date}}): {{x.feedback}}
												</p>
											</li>
											{% endif %}
										{% endfor %}
										</ul>
										{% endif %}
										{% if v.generals %}
										<h4>
											General Feedback
										</h4>
										<ul>
										{% for x in v.generals %}
											{% if x.feedback %}
											<li>
												<p>
													From {{x.user.username}} ({{x.creation_date}}): {{x.feedback}}
												</p>
											</li>
											{% endif %}
										{% endfor %}
										</ul>
										{% endif %}
										{% if v.others %}
										<h4>
											Other Feedback
										</h4>
										<ul>
										{% for x in v.others %}
											{% if x.feedback %}
											<li>
												<p>
													From {{x.user.username}} ({{x.creation_date}}): {{x.feedback}}
												</p>
											</li>
											{% endif %}
										{% endfor %}
										</ul>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% else %}
								<p>
									No feedback for this widget.
								</p>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="right" class="tab" data-options="region:'east', split:true" title="JS" style="width:33%;">
				{{ versionform.content_js }}
			</div>
			<div id="left" class="tab" data-options="region:'west', split:true" title="HTML" style="width:33%;">
				{{ versionform.content }}
			</div>
			<div id="middle" class="tab" data-options="region:'center', iconCls:'icon-ok'" title="CSS" style="">
				{{versionform.content_css}}
			</div>
			<div id="bottom" title="Help and tips" data-options="region:'south', collapsed:true, split:true, onCollapse:function(){
				setTimeout(function(){
					var p = $('#pane-container').layout('panel','expandSouth');
					p.panel('setTitle','Help and tips');
				},0);
			}">
				{% verbatim %}
				<p>
					Widgets can have controls added to allow users to customize the widget to their use. To add a control, click on the controls tab and the Add Control button. This will add a row of fields above the button. You will need to select the type of control you would like to add. For example, if you would like users to customize text, such as a title for the widget or a font colour, select text, but if you want users to enter more text, such as a paragraph or caption, selecting textarea will provide users with a better experience when adding text. Then select a title, variable name, verbose description of the control (optional), and a default value. The final step is to add the varible name into the code. This is done through the use of <a href="http://jinja.pocoo.org/docs/2.10/" target="_blank">jinja2</a>. Simply put the string "{{variable_name_here}}", without quotes, into the code wherever you want user input to replace. For example, if you want users to set font colour, put "font-color: {{variable_name_here}};" in the css panel targeting the element(s) you want users to control. The provided default value will replace the jinja string unless changed by a user when the widget is used in a slide.
				</p>
				<p>
					A best practice when creating controls is to provide titles and descriptions that accurately describe the controls purpose as well as differentiates it from similar controls. For example, it would be confusing is a widget has two controls, one for setting font colour and one for setting background colour, were both named "Colour" and no additional information is provided in the description.
				</p>
				<p>
					For practice, try recreating an existing widget or copying an existing codepen. <a href="https://codepen.io/ostranme/pen/jxzQvp" target="_blank">#codepenchallenge <!-- <del> & <ins> --> by Mark Ostrander</a> is a simple use of html and css. To recreate the pen as a widget simply fill in the required fields in the Settings panel, and paste the html and css code into their respective panels. Clicking the preview tab should reveal the recreated pen. This new widget can then be further customized by adding controls. For example, add a text control with the variable name "strike_colour" and replace "red" with "{{strike_colour}}" on line 16 of the css. This control will now allow users of your widget to set the colour of the strike through the word "you're" when the widget is viewed.
				</p>
				{% endverbatim %}
			</div>
		</div>
	</div>
	</form>
<!--structure end here -->
	

{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#summernote').appendTo('#summernoteWrapper')
			$('#summernote textarea').summernote({
				placeholder: 'Type documentation here...',
				tabsize: 2,
				height: 100,
			})
		})
		$(function(){
			$("#controls-extra").load('{% url 'extra_controls' %}')
			$('#preview-button').click(function(ev){
				{% if layer != None %}
				$('form').attr('action', '/widgets/edit/{{layer.id}}/?preview=True').attr('target', 'preview_frame').submit()
				{% else %}
				$('form').attr('action', '/widgets/new/?preview=True').attr('target', 'preview_frame').submit();
				{% endif %}
			})
			$('#submit-button').click(function(ev){
				{% if layer != None %}
				$('form').attr('action', '/widgets/newedit/{{layer.id}}/').attr('target', '').submit()
				{% else %}
				$('form').attr('action', '/widgets/new/').attr('target', '').submit();
				{% endif %}
			})
			$('#publish').click(function(){
			  var thisCheck = $(this);
			  if ( thisCheck.is(':checked') ) {
			  	$("#changesmodal").appendTo("#layersettings").modal({'show': true})
			  }
			});
			// Change default input html when changing thingies
			$('#controls').on('change', '.type', function(ev){
				var row = $(this).closest('tr')
				row.find('.defaultinput').load('/widgets/editorinput/'+$(this).val())
			})
			$('#addcontrol').click(function(ev){
				ev.preventDefault();
				var count = $('#controls_container > tbody > tr').length;
				var tmplMarkup = $('#empty_form>tbody').html();
				var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
				$('table#controls_container>tbody').append(compiledTmpl);

				// update form count
				$('#id_controls-TOTAL_FORMS').attr('value', count+1);
			})
		})
	</script>
{% endblock %}
