{% load slide_tags %}

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="imageModalLabel">Select or Upload Image</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input id="image_select_url" type="text" class="form-control" placeholder="URL Here">
          <span class="input-group-btn">
            <button id="image_select_ok" class="btn btn-success" type="button">OK</button>
          </span>
        </div><!-- /input-group -->
      	<input id="image_upload" type="file" class="form-control">
      	<table class="table">
      	<tbody id="image_list">
      		{% for image in images %}
            {% if image.image %}
      			<tr>
      				<td class="text-center"><img src="{{image.thumbnail.url}}" class="modal-thumbnails"></td>
              <td>
        				<p><small>{{image.creation_date}}</small></p>
        				<p><small class="image_url" data-url="{{request.scheme}}://{{request.get_host}}{{image.image.url}}">{{image.image.url|url_short}}</small></p>
      				</td>
      			</tr>
            {% endif %}
      		{% endfor %}
      	</tbody>
      	</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="videoModalLabel">Select or Upload Video</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input id="video_select_url" type="text" class="form-control" placeholder="URL Here">
          <span class="input-group-btn">
            <button id="video_select_ok" class="btn btn-success" type="button">OK</button>
          </span>
        </div><!-- /input-group -->
        <input id="video_upload" type="file" class="form-control">
        <table class="table">
        <tbody id="video_list">
          {% for video in videos %}
            {% if video.video %}
            <tr>
              <td class="text-center"><img src="{{video.thumbnail.url}}" class="modal-thumbnails"></td>
              <td>
                <p><small>{{video.creation_date}}</small></p>
                <p><small class="video_url" data-url="{{request.scheme}}://{{request.get_host}}{{video.video.url}}">{{video.video.url|url_short}}</small></p>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


  <script>
  var selected_default;
  $(function(){
    $('#controls_container').on('click', '.textInput[name$="default"]', function(){
      selected_default = $(this);
      var val = $(this).closest('tr').find('.select[name$="input_type"] option:selected').text()
      if (val == 'Image'){
        $('#imageModal').modal('show');
      }
      else if (val == 'Video'){
        $('#videoModal').modal('show');
      }
    })
    // Image
    $('#layersettings').on('click', '.image-select-input', function(){
      selected_default = $(this);
      $('#imageModal').modal('show');
    })
    $("#image_upload").on('change' ,function(){
      var image = $('#image_upload')[0].files[0];
      data = new FormData();
      data.append('image', image)
      data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
      //POST SELECTED TO /update/id
      $.ajax({
          url: "/uploadimage/",
          data: data,
          processData: false,
          contentType: false,
          type: 'POST',
          dataType:'json',
          success: function(data){
            var newrow = $("<tr></tr>");
            newrow.append('<td class="text-center"><img src="'+data.thumb+'" class="modal-thumbnails"></td>')
            newrow.append('<td><p><small>Just Now</small></p><p><small class="image_url" data-url="{{request.scheme}}://{{request.get_host}}'+data.image+'">'+data.image+'</small></p></td>')
            $("#image_list").prepend(newrow);
            newrow.click()
        }
      })
      $(this).parent().siblings('.displayImage').removeAttr('style')
      var item = $(this).attr('name')
      var icon = $("#" + item + "image")
      icon.css({"display":"inline"})
    })
    $("#image_list").on('click', 'tr', function(){
      $('#image_select_url').val($(this).find('.image_url').data('url'));
      $('#image_select_ok').click();
    })
    $("#image_select_ok").click(function(){
      selected_default.val($('#image_select_url').val());
      selected_default.change();
      $('#imageModal').modal('hide');
    })
    // Video
    $('#layersettings').on('click', '.video-select-input', function(){
      selected_default = $(this);
      $('#videoModal').modal('show');
    })
    $("#video_upload").on('change' ,function(){
      var video = $('#video_upload')[0].files[0];
      data = new FormData();
      data.append('video', video)
      data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
      //POST SELECTED TO /update/id
      $.ajax({
          url: "/uploadvideo/",
          data: data,
          processData: false,
          contentType: false,
          type: 'POST',
          dataType:'json',
          success: function(data){
            var newrow = $("<tr></tr>");
            newrow.append('<td class="text-center"><img src="'+data.thumb+'" class="modal-thumbnails"></td>')
            newrow.append('<td><p><small>Just Now</small></p><p><small class="video_url" data-url="{{request.scheme}}://{{request.get_host}}'+data.video+'">'+data.video+'</small></p></td>')
            $("#video_list").prepend(newrow);
            newrow.click()
        }
      })
      $(this).parent().siblings('.displayVideo').removeAttr('style')
      var item = $(this).attr('name')
      var icon = $("#" + item + "video")
      icon.css({"display":"inline"})
    })
    $("#video_list").on('click', 'tr', function(){
      $('#video_select_url').val($(this).find('.video_url').data('url'));
      $('#video_select_ok').click();
    })
    $("#video_select_ok").click(function(){
      selected_default.val($('#video_select_url').val());
      selected_default.change();
      $('#videoModal').modal('hide');
    })
  })
  </script>
