{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Widgets' 'layers' %}
{% endblock %}

{% block style %}
<style>
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<page-header title="Widgets" icon="fa-object-ungroup">
  <a href="{% url 'new_layer' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New widget</a>
</page-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-md-5 col-xs-12">
			<info-panel title="Individually-packaged content delivery">
				Widgets are self-contained customizable objects which can be added to your slides. Things like an image, a youtube video, a calender, or a clock can all be widgets which can be added to slides. Each widget is a simple construct of javascript, css, html, and jinja which allows users to easily develop their own widgets. Here you will find all the widgets that are in the official repository, widgets which you yourself have created, and widgets which you have added to your account.
			</info-panel>
			<button class="btn btn-primary btn-md" onclick="location.href='{% url 'layer_change_log' %}'">View Widget Changelog</button>
		</div>
		<div id="listLayersLoader" class="col-lg-8 col-md-7 col-xs-12">
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share Widget <span id="sharetitle"></span></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listLayersLoader').load('{% url "list_layers" mode="manage" %}')
	$('#listLayersLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/layer/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
		$('#sharetitle').html($(this).data('itemtitle'));
	})
</script>
{% endblock %}
