{% load slide_tags %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Documentation for {{layer.title}}</h4>
</div>
<div class="modal-body">
	{% if documentation %}
		{{documentation|safe}}
	{% else %}
		<p>
			No documentation for this widget.
		</p>
	{% endif %}
</div>