{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Widgets' 'layers' %}
{% breadcrumb_url 'Widget Changelog' 'layer_change_log' %}
{% endblock %}

{% block style %}
<style>

.container {
  padding-top: 50px;
}

</style>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <info-panel title="New and Updated">
      <ul class="fa-ul">
          {% for version in changed_layers %}
          <li><i class="fa-li fa fa-angle-double-right"></i><b>{{ version.layer.title }}</b> - {{ version.edit_date }}
          <br/>
          {% if version.last_edit %}By {{version.last_edit}}: {% endif %}{{ version.changes }}</li>
          {% endfor %}
      </ul>
    </info-panel>
  </div>
</div>
{% endblock %}
