<ul id="layertabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
  <li role="presentation" class="active"><a class="tabLarge" href="#fav_layers" aria-controls="fav_layers" role="tab" data-toggle="tab">Favorite Widgets</a><a class="tabSmall" href="#fav_layers" aria-controls="fav_layers" role="tab" data-toggle="tab">Favorite</a></li>
  <li role="presentation"><a class="tabLarge" href="#pub_layers" aria-controls="pub_layers" role="tab" data-toggle="tab">Public Widgets</a><a class="tabSmall" href="#pub_layers" aria-controls="pub_layers" role="tab" data-toggle="tab">Public</a></li>
  <li role="presentation"><a class="tabLarge" href="#my_layers" aria-controls="my_layers" role="tab" data-toggle="tab">My Widgets</a><a class="tabSmall" href="#my_layers" aria-controls="my_layers" role="tab" data-toggle="tab">Owned</a></li>
  <li role="presentation"><a class="tabLarge" href="#group_layers" aria-controls="group_layers" role="tab" data-toggle="tab">Group Widgets</a><a class="tabSmall" href="#group_layers" aria-controls="group_layers" role="tab" data-toggle="tab">Group</a></li>
</ul>
<div id="layerpanes" class="tab-content" style="">
	<div class="input-group search-wrapper">
	  <input type="text" id="my_layers_search" class="form-control" placeholder="search for widget title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="fav_layers">
      <div class="row">
      <h4 style="margin-top:0;">
         Official widgets
      </h4>
      <div class="col-xs-12 list">
      {% for layer in officials %}
         {% if mode != "edit" %}
           {% layer_item_fav layer 'use' %}
         {% else %}
           {% layer_item_fav layer mode %}
         {% endif %}
      {% endfor %}
      </div>
      <hr>
      <br>
      <h4 style="margin-top:0;">
         Favorites
      </h4>
      <div class="col-xs-12 list">
      {% for layer in favorites %}
         {% if mode != "edit" %}
           {% layer_item_fav layer 'use' %}
         {% else %}
           {% layer_item_fav layer mode %}
         {% endif %}
         {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
      {% endfor %}
      </div>
      </div>


   </div>
   <div role="tabpanel" class="tab-pane" id="pub_layers">
      <h3 style="margin-top: 0;"><small>Search the Public Widget Database above</small></h3>
      <div id="layersearch" class="row list">
      <h3>Popular Widgets</h3>
      {% for layer in popular %}
         {% layer_item_fav layer 'store' %}
      {% endfor %}
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="my_layers">
   	<div class="row list">
   	{% for layer in layers %}
   	{% layer_item_fav layer mode %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% if mode != 'manage' %}
   	{% endif %}

   	{% endfor %}
   	</div>
   </div>
   <div role="tabpanel" class="tab-pane group-pane" id="group_layers">
    <div class="row">
      <div id="expand-wrapper">
        <button id="expand-all" type="button" class="btn btn-default">
          Collapse All <i class="fa fa-chevron-up"></i>
        </button>
      </div>
      {% for group in groups %}
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#{{group.id}}">
            <span class="panel-title">{{group.title}} </span>
            <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span>
            <i class="fa fa-chevron-up"></i>
          </div>
          <div id="{{group.id}}" class="panel-body collapse in">
            <div class="list">
             {% for layer in group.layers.all %}
               {% layer_item_fav layer mode %}
               {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
               {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
   </div>
</div>
<!-- Deletion Modal -->
<div class="modal fade" id="deleteLayerModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>You are currently about to delete <b><span id="layer-delete-modal-title"></span></b>. <p>Are you sure you want to delete?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button> <button id="layer-delete-modal-button" type="button" class="btn btn-danger" data-deleteurl="" data-deleteid="" >DELETE</button>
      </div>
    </div>

  </div>
</div>

<script>
// Handle Deletion
$('.layer-delete-button').click(function(){
  var url = $(this).data('deleteurl');
  var title = $(this).closest('.layerItem').find(".layerTitle").text()
  var modal = $("#deleteLayerModal")
  var id = $(this).closest('.layerItem').data('class')
  $('#layer-delete-modal-title').text(title)
  $('#layer-delete-modal-button').data('deleteurl', url)
  $('#layer-delete-modal-button').data('deleteid', id)
  modal.modal('show')
})

$("#layer-delete-modal-button").click(function(){
  $.post($('#layer-delete-modal-button').data('deleteurl'), {'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
    if (data == "SUCCESS"){
      var deleteid = $('#layer-delete-modal-button').data('deleteid')
      $("[data-class='"+deleteid+"']").remove();
       $("#deleteLayerModal").modal('hide')
    }
  })
})

$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_layers_search', function(e){
 	var search = $(this).val().toLowerCase();
   var thistab = $("#layerpanes div.active")
    if (thistab.attr('id') == "pub_layers"){
      if(e.keyCode == 13){
         $('#layersearch').load('/widgets/search/?q='+search)
      }
   }
   else{
    	if (search.length > 3){
    		clearTimeout(currentTimeout);
    		currentTimeout = setTimeout(function(){

    			$('.layerItem', thistab).each(function(){
    				if ($(this).data('title').toLowerCase().includes(search)){
    					$(this).show()
    				}
    				else {
    					$(this).hide()
    				}
            if ($(this).siblings(':visible').length == 0 && $(this).is(':hidden')){
              $(this).parents('.panel').hide()
            }
            else{
              $(this).parents('.panel').show()
            }
    			})
    		}, 350)
    	}
    	else {
    		var thistab = $("#layerpanes div.active")
    		$('.layerItem', thistab).each(function(){
    			$(this).show()
          $(this).parents('.panel').show()
    			})
    	}
   }
 })
 $("#layerpanes").on('click', '.favtoggle', function(){
   var container = $(this).closest('.layerItem');
   var itemid = container.data('id')
   $.post('{% url 'favlayer' %}', {'id': itemid, 'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
      var affected_layers = $('#layerpanes').find('.layerItem[data-id="'+itemid+'"]>div>div>span>.favtoggle')
      if(data == "ADDED"){
         affected_layers.removeClass('fa-heart-o');
         affected_layers.addClass('fa-heart');
      }
      else{
         affected_layers.removeClass('fa-heart');
         affected_layers.addClass('fa-heart-o');
      }

   })
 })
 $("#layerpanes").on('click', '.offtoggle', function(){
   var container = $(this).closest('.layerItem');
   var itemid = container.data('id')
   $.post('{% url 'offlayer' %}', {'id': itemid, 'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
      var affected_layers = $('#layerpanes').find('.layerItem[data-id="'+itemid+'"]>div>div>span>.offtoggle')
      if(data == "ADDED"){
         affected_layers.removeClass('fa-check-circle-o');
         affected_layers.addClass('fa-check-circle');
      }
      else{
         affected_layers.removeClass('fa-check-circle');
         affected_layers.addClass('fa-check-circle-o');
      }

   })
 })
  $("#layerpanes").on('click', '.previewtoggle', function(){
   var icon = $(this);
   var container = $(this).closest('.layerItem');
   var itemid = container.data('version');
   if (icon.hasClass('fa-eye')){
      $.post('/slides/layerpreview/', {'version': itemid}, function(data){
         var iframe = $('<iframe width="100%" height="200px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

         container.find('.layerpreview>div').html(iframe)
         container.find('.layerpreview').slideDown();

      })
   }
   else{
      container.find('.layerpreview').hide()
      container.find('.layerpreview iframe').remove()
   }
   icon.toggleClass('fa-eye fa-eye-slash')
  })
  $("#layerpanes").on('click', '.rating', function(){
    var rating = parseInt($(this).data('rating'))
    var container = $(this).closest('.layerItem');
    var itemid = container.data('id')
    var avg = container.children('.itemContainer').children('.top-icons').children('.rating-wrapper').children('.rating-average')
    $.post('{% url 'ratelayer' %}', {'id': itemid, 'rating': rating, 'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
      /* Set all instances of this layer's rating correctly. The selected star, and all preceeding stars, should be made whole. */
      /* Additionally, if this is the first rating, ensure .avgRating also changes to indicate there are ratings for it. */
      var affected_layers = $('#layerpanes').find('.layerItem[data-id="'+itemid+'"]>div>div>p>span>.rating')
      if(data.CREATED){
        var avgRating = $('#layerpanes').find('.layerItem[data-id="'+itemid+'"]>div>div>span>.avgRating')
        avgRating.removeClass('fa-star-o');
        avgRating.addClass('fa-star');
        avg.html(data.CREATED)
      }
      else{
        avg.html(data.RATED)
      }
      affected_layers.each(function(){
        if (parseInt($(this).data('rating')) <= rating ){
          $(this).removeClass('fa-star-o');
          $(this).addClass('fa-star');
        }
        else{
          $(this).removeClass('fa-star');
          $(this).addClass('fa-star-o');
        }
      })
    })
  })
  $(function(){
    $('.rating-wrapper').mouseenter(function(e){
      $(this).parent('.top-icons').stop(true, true).addClass('top-icons-expanded', 250, "easeOutSine")
      $(this).siblings('.rating-selection-wrapper').show()
    })
    $('.top-icons').mouseleave(function(){
      $(this).stop(true, true).removeClass('top-icons-expanded', 250, "easeOutSine")
      $(this).children('.rating-selection-wrapper').hide()
    })
  })
})

function btnFlip(){
  if ($('.panel-heading.collapsed').length == ($('.panel-heading').length)){
    $('#expand-all').html('Expand All <i class="fa fa-chevron-down"></i>')
  }
  else if ($('.panel-heading.collapsed').length == 0){
    $('#expand-all').html('Collapse All <i class="fa fa-chevron-up"></i>')
  }
}

function iconFlip(icon){
  var icon = icon
  if (icon.hasClass('collapsed')){
    icon.find('i').removeClass('fa-chevron-down')
    icon.find('i').addClass('fa-chevron-up')
  }
  else{
    icon.find('i').removeClass('fa-chevron-up')
    icon.find('i').addClass('fa-chevron-down')
  }
}

$('.panel-heading').click(function(){
  iconFlip($(this));
  setTimeout(function(){
    btnFlip(),
    100
  })
})

$('#expand-all').click(function(){
  var status = 'Expand'
  var i = String($(this).html())
  if (i.includes('Collapse')){
    $(this).html('Expand All <i class="fa fa-chevron-down"></i>')
    status = 'Expand'
  }
  else{
    $(this).html('Collapse All <i class="fa fa-chevron-up"></i>')
    status = 'Collapse'
  }
  $('.row .panel-heading').each(function(){
    if (!($(this).hasClass('collapsed')) && status == 'Expand'){
      $(this).click()
    }
    else if ($(this).hasClass('collapsed') && status == 'Collapse'){
      $(this).click()
    }
  })
})

</script>
