<div id="layerItem-{{layer.id}}"  data-id="{{layer.id}}" data-title="{{layer.title}}" data-version="{{layer.latest.id}}" data-class="layerItemClass-{{layer.id}}" class=" layerItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3 {% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerLayer row">
	<div class="col-xs-12 top-icons">
		<span class="layer-icon-wrapper"><i class="fa fa-object-ungroup"></i></span>
		<span class="rating-wrapper" title="Average Rating">
			<i class="avgRating fa fa-star{% if not rating %}-o{% endif %}"></i>
			<span class="rating-average">{% if layer.rating != None %}{{layer.rating}}{% endif %}</span>
		</span>
		<span class="pull-right">
			{% if user.is_superuser %}
			<i class="offtoggle fa fa-check-circle{% if layer.official == True%}{% else %}-o{% endif %}" title="Official"></i>
			{% else %}
				{% if layer.official == True %}
					<i class="fa fa-check-circle" title="Official"></i>
				{% endif %}
			{% endif %}
			{% if mode  == 'manage' or mode == "store" or mode == "use" %}
			<a target="_blank" href="{% url 'clone_layer' layer.id %}"><i class="fa fa-copy" title="Clone this widget"></i></a>
			{% endif %}
			<i class="fa fa-eye previewtoggle" title="Preview this widget"></i>
			<i class="favtoggle fa fa-heart{% if favorite != 0%}{% else %}-o{% endif %}" title="Favorite or Unfavorite this widget"></i>
		</span>
		<p class="rating-selection-wrapper" style="display:none;">
			<span style="float: left;">
				<i class="rating rating-5 fa fa-star{% if rating.rating < 5 %}-o{% endif %}" data-rating="5" title="5/5"></i>
				<i class="rating rating-4 fa fa-star{% if rating.rating < 4 %}-o{% endif %}" data-rating="4" title="4/5"></i>
				<i class="rating rating-3 fa fa-star{% if rating.rating < 3 %}-o{% endif %}" data-rating="3" title="3/5"></i>
				<i class="rating rating-2 fa fa-star{% if rating.rating < 2 %}-o{% endif %}" data-rating="2" title="2/5"></i>
				<i class="rating rating-1 fa fa-star{% if rating.rating < 1 %}-o{% endif %}" data-rating="1" title="1/5"></i>
			</span>
		</p>
	</div>

	<div class="col-xs-12 layerpreview" style="display:none; padding:10px;">
		<div class="aspect_maintain" style="">
		</div>
	</div>

	<div class="{% if mode == "manage" or mode == "store" %}col-xs-4{% else %}col-xs-12{% endif %} text-center">
		<img src="{% if layer.icon %}{{layer.icon.url}}{% else %}/static/img/defaultlayericon.png{% endif %}">
		<h5 class = "layerTitle" style="margin:0; margin-top:5px"><b>{{layer.title}}</b>
		<br>
		<small>(by: {% if layer.owner == user %}Me{% else %} {{layer.owner.username}}{% endif %})</small></h5>
	</div>
	{% if mode == "manage" %}
		<div class="col-xs-4 itemDescription">
			<p><small>Latest Version: {% if layer.latest.publish %}{{layer.latest.edit_date|date:"Y/m/d"}}{% else %}DEV{% endif %}</small></p>
			<p>{{layer.description}}</p>
		</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-type="layer" data-itempk="{{layer.id}}" data-itemtitle="{{layer.title}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_layer' layer.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
				{% if perms.delete == True %}<button type="button" class="btn layer-delete-button btn-default btn-sm" data-deleteurl="{% url 'delete_layer' layer.id%}">Delete</a>{% endif %}
			</div>
		</div>
	{% endif %}
	{% if mode == 'store' %}
	<div class="col-xs-6">
		<table class="">
			<tr>
				<td class="text-right"><b>Creator</b></td> <td>&nbsp;&nbsp;{{layer.owner.username}} <small><i class="fa fa-search"></i></small></td>
			</tr>
			<tr>
				<td class="text-right"><b>Official</b></td> <td>&nbsp;&nbsp;{{layer.official}}</td>
			</tr>
			<tr>
				<td class="text-right"><b>Latest</b></td> <td>&nbsp;&nbsp;{{layer.latest.edit_date|date:"Y/m/d"}}</td>
			</tr>
		</table>
	</div><div class="clearfix"></div>
	<div class="col-xs-12 " style="padding:5px 5px 0px 5px;">
		<div class="itemDescription" style="padding:10px 10px 10px 10px;">
		<p>{{layer.description}}</p>
		</div>
	</div>
	<div class="col-xs-12" style="margin-top:8px; margin-bottom: 15px;">
		<b>
		<span><i class="fa fa-plus-square-o" title="Times Used"></i>{{layer.uses}}</span>
		<span class=""><i class="fa fa-heart-o" title="Times Favorited"></i>{{layer.favs}}</span>
		</b>
	<b>Tags:</b>
	{% for tag in layer.tags.all %}
		<span class="label label-default">{{tag}} <small><i class="fa fa-search"></i></small></td></span>
	{% endfor %}
	</div>
	{% endif %}

	<div class="col-xs-12 addbuttoncontainer">
		{% if perms.use == True %}
		<button type="button" class=" btn {% if mode == 'store' %}pull-right{% else %}btn-block{% endif %} btn-sm btn-primary addlayerbutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	</div>
</div>
