{% load slide_tags %}

{% load crispy_forms_tags %}
<form id="versionFeedbackForm" method="POST" action="/versionfeedback/{{version.id}}/">
{% csrf_token %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Feedback for {{version.layer.title}}</h4>
	</div>
	<div class="modal-body">
		<p>Please specify the type of feedback and, in as much detail as possible, any feedback you have regarding this widget. Feedback will be emailed once a week.</p>
		{% crispy versionFeedbackForm %}
	</div>
	<div class="modal-footer">
		<button id="feedbackSubmit" type="button" class="btn btn-default">Submit</button>
	</div>
</form>
<script type="text/javascript">
	$('#feedbackSubmit').click(function(){
		var form = $('#versionFeedbackForm')
		var url = form.attr('action')
		$.ajax({
			type: "POST",
			url: url,
			data: form.serialize(),
			success: function(data){
				if (data == 'SUBMITTED'){
					$('#feedbackmodal').modal('hide')
				}
				else{
					$("#version-feedback .modal-content").html(data)
				}
			}
		})
	})
</script>