<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('creation', {
    chart: {
        borderColor: '#bababa',
        borderWidth: 1,
        style: {
          fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
        }
    },
    title: {
        text: 'Weekly Slide Creation Metrics',
        style: {
          fontSize: '18px'
        }
    },
    yAxis: {
      gridLineColor: '#bababa',
      title: {
          text: 'Number of Creations'
      },
      minTickInterval: 1
    },
    xAxis: {
      type: 'datetime',
      title: 'Week',
      tickInterval: 7*24*3600*1000,
      min: new Date(Date.now()).setMonth(new Date(Date.now()).getMonth() - 3),
      max: Date.now(),
      labels: {
        rotation: -45,
        formatter: function() {
          return Highcharts.dateFormat('%e. %b', this.value);
        }
      }
    },
    series: [{
      type: 'column',
      name: 'Widgets',
      data: {{layers}}
    },
    { type: 'column',
      name: 'Slides',
      data: {{slides}}
    },
    { type: 'column',
      name: 'Slideshows',
      data: {{slideshows}}

    }]
  });
</script>
