{% extends 'UI/skin.html' %}
{% load breadcrumbs %}
{% load slide_tags %}

{% block style %}
<style>
	.container-fluid {
		margin: 1vh;
		align-content: space-around;
		justify-content: space-between;
	}
	.graph {
		height: 100%;
	}
	#top-left {
		height: 38vh;
		padding: 1vh 0.5vh 0.5vh 1vh;
	}
	#top-right {
		height: 38vh;
		padding: 1vh 1vh 0.5vh 0.5vh;
	}
	#bottom-left {
		height: 38vh;
		padding: 0.5vh 0.5vh 1vh 1vh;
	}
	#bottom-mid {
		height: 38vh;
		padding: 0.5vh 0.5vh 1vh 0.5vh;
	}
	#bottom-right {
		height: 38vh;
		padding: 0.5vh 1vh 1vh 0.5vh;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" id="top-left"><div class="graph" id="user"></div></div>
    <div class="col-md-6" id="top-right"><div class="graph" id="creation"></div></div>
    <div class="col-md-6" id="bottom-left"><div class="graph" id="widgets"></div></div>
    <div class="col-md-2" id="bottom-mid"><div class="graph" id="screens_pie"></div></div>
    <div class="col-md-4" id="bottom-right"> <div class="graph" id="screens"></div></div>
	</div>
</div>
{% endblock %}

{% block script %}
      {% include "./user.html" %}
      {% include "./creation.html" %}
      {% include "./widgets.html" %}
      {% include "./screens_pie.html" %}
      {% include "./screens.html" %}
{% endblock %}
