<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>
  Highcharts.chart('screens_pie', {
    chart: {
        type: 'pie',
        borderColor: '#bababa',
        borderWidth: 1,
        style: {
          fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
        }
    },
    title: {
        text: 'Number of Screens Online'
    },
    subtitle: {
        text: 'screens currently online: {{total}}',
        verticalAlign: 'bottom',
    },
    tooltip: {
      followPointer: false,
      backgroundColor: "rgba(255,255,255,0)",
      borderWidth: 0,
      shadow: false,
      useHTML: true,
      formatter: function () {
        return '<div class="MyChartTooltip"> <b>username:</b> '+ this.point.name + '<br><b>user ID:</b> ' + this.point.id + '<br><b>#screens:</b> '+ this.point.y + '<br><br>' + this.point.screens.replace(/,/g, '<br>')+'</div>';
      }
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
            }
        }
    },
    series: [{
        colorByPoint: true,
        data: [{% for entry in screens_pie %}{y: {{ entry.id_count }}, id: {{ entry.owner_id }}, name: '{{ entry.username }}', screens: '{{entry.screen_info}}' }{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});
</script>

<style>
  .highcharts-tooltip {
    pointer-events: all !important;
  }
  .highcharts-container {
    overflow: visible !important;
  }
  .MyChartTooltip {
    position: relative;
    border: 1px solid #18bc9c;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    overflow: auto;
    max-height: 20vh;
  }
</style>
