<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('screens', {
    chart: {
      borderColor: '#bababa',
      borderWidth: 1,
      style: {
        fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
      }
    },
    title: {
        text: 'Weekly Screen Connection Metrics'
    },
    yAxis: {
      gridLineColor: '#bababa',
      title: {
          text: 'Number of Screens'
      },
      minTickInterval: 1
    },
    xAxis: {
      type: 'datetime',
      title: 'Week',
      tickInterval: 7*24*3600*1000,
      min: new Date(Date.now()).setMonth(new Date(Date.now()).getMonth() - 2),
      labels: {
        rotation: -45,
        formatter: function() {
          return Highcharts.dateFormat('%e. %b', this.value);
        }
      }
    },
    series: [{
      type: 'column',
      name: 'Last Connected Count',
      data: {{screens}}
    }]
  });
</script>
