<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('user', {
    chart: {
      borderColor: '#bababa',
      borderWidth: 1,
      style: {
        fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
      }
    },
    title: {
        text: 'Monthly User Metrics'
    },
    yAxis: {
      gridLineColor: '#bababa',
      title: {
          text: 'Number of Users'
      },
      minTickInterval: 1
    },
    xAxis: {
      type: 'datetime',
      title: 'Month',
      tickInterval: 28*24*3600*1000,
      min: new Date(Date.now()).setMonth(new Date(Date.now()).getMonth() - 12),
      labels: {
        rotation: -45,
        formatter: function() {
          return Highcharts.dateFormat('%b', this.value);
        }
      }
    },
    series: [
    {
      type: 'column',
      name: 'User Sign-Up Count',
      data: {{user_signup}}
    },
    {
      type: 'line',
      name: 'Total User Count',
      data: {{total_users}}
    }]
  });
</script>
