<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('widgets', {
    chart: {
        borderColor: '#bababa',
        borderWidth: 1,
        style: {
          fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
        }
    },
    legend: {
        enabled: false
    },
    title: {
        text: 'Most Used Widgets'
    },
    yAxis: {
      gridLineColor: '#bababa',
      title: {
          text: 'Uses Count'
      },
      minTickInterval: 1
    },
    xAxis: {
      type: 'category',
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    series: [{
      type: 'bar',
      name: 'slides',
      data: [{% for entry in widgets %}{y: {{ entry.count }}, name: '{{ entry.title }}' }{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
  });
</script>
