{% extends 'UI/skin.html' %}

{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slideshows' 'slideshows' %}
  {% breadcrumb 'New Slideshow From PDF' %}
{% endblock %}
{% block body %}
  <h1>Create a Slideshow From a PDF</h1>
  <p>Upload a valid pdf file and we'll parse it into a slideshow.</p><br/>
  <p><b>Disclaimer:</b> This is meant to be used with powerpoints that have been
     converted to PDFs and is optimized for such dimensions.
  </p>
  <br/>
  <form method="POST" enctype="multipart/form-data" action="{% url 'upload_pdf' %}">
    {% csrf_token %}
    <label for="slideshow_title">Slideshow Title:</label>
    <input id="slideshow_title" type="text" name="slideshow_title"><br/>
    <label for="slideshow_description">Slideshow Description:</label>
    <input id="slideshow_description" type="text" name="slideshow_description"><br/>
    <label for="slide_duration">Slide duration:</label>
    <input id="slide_duration" type="number" name="slide_duration" value=15 min=1 max=500>
    <input type="file" id="document" name="document">
    <button type="submit" name="submit" value="Upload">Upload File</button>
</form>


{% if error %}
  <p> {{ error_msg }}</p>
{% endif %}

{% endblock %}
