{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slideshows' 'slideshows' %}
	{% if slideshow != None %}
	{% with "Edit: "|add:slideshow.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Slideshow' %}
    {% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/flatpickr.min.css">
	<style>
		body{
			padding: 0;
			margin: 0;
			background-color: #E6E6E6;
		}
		.ui-sidebar-wrapper{
			height:100%;
		}
		#slidelist{
			display: flex;
			flex-wrap: wrap;
		}
		.slideIcon{
			padding: 8px;
			display: none;
			min-width: 300px;
			min-height: 365px;
		}
		.activeIcon{
			display: block;
		}
		.slideIcon>.slideContent{
			border: 1px solid black;
			border-radius: 5px;
			padding:8px;
			background-color: #E6E6E6;
		}
		.addbuttoncontainer{
		  display: block;
		}
		#overlay-info {
			margin-bottom: 60px;
		}
		#overlay-info .addbuttoncontainer {
			width: 200px !important;
		}
		#overlay-info .itemContainer {
			height: 190px;
		}
	</style>
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<form action="" method="POST">
<div class="container-fluid" style="padding:20px;">
	<div class="row">
		<div class="col-lg-6 col-lg-push-6 col-xs-12">
			<h2 style="margin-top: 0px !important;">Editing a Slideshow</h2>
			<p>Slides can have Start and End times set to control when and how long they display. It is important to note that this feature requires there be at least two slides in a slideshow, or the slideshow will break. Additionally, times are in the America/Toronto timezone.</p>
			<p>Slides now wait for all widgets to finish loading before displaying the slide. The consequence of this is that slides may display for longer than specified by their display length setting, and can be thought of as "minimum display lengths". This means that if the next slide, for example, takes 3 seconds to load, the previous slide will display for an additional 3 seconds. Additionaly, subsequent loading of the previously loaded slides will take less time due to the new caching feature.</p>
		</div>
		<div class="col-lg-6 col-lg-pull-6 col-xs-12">
			{% crispy form %}
			<p>New! Add a slide as an overlay and it will appear on top of all the slides in a slideshow</p>
			<div id="overlay-info" class="col-sm-8">
				<button type="button" class=" btn btn-block btn-primary addslidebutton">Add an overlay</button>
			</div>
		</div>
	</div>
	<div class="btn-group" style="margin-bottom: 5px;">
		<button type="button" class="btn btn-primary" id="addslide">Add Slide</button>
		<button type="submit" class="btn btn-success">Save Slideshow</button>
		{% if slideshow != None %}
		<a target="_blank" href="{% url 'view_slideshow' slideshow.id %}?preview=true" class="btn btn-primary">View</a>
		{% endif %}
	</div>
	{% load slide_tags %}
	{% slideshowslides_all %}
</div>

</form>

<div id="slideOverlayModal" class="modal fade" style="z-index:2000;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="slidesModal" class="modal fade" style="z-index:2000;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div id="listSlidesLoader" class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% endblock %}
{% block script %}
<script src="/static/flatpickr.min.js"></script>
	<script>
	$('#slidelist>.activeIcon').each(function(){
		if ($(".slideForm>[id$='-DELETE']", this).is(':checked')){
			$(this).removeClass('activeIcon');
		}
	})
	$('#listSlidesLoader').load('{% url "list_slides" mode="edit" %}', function(){
		// Put the pretty stuff in each icon
		$('#slidelist>.activeIcon').each(function(){
			// Get the matching slide
			var icon = $(this)
			var id = $('.slideForm>.slide', icon).val()
			var search = $('.slideItem').filter(function(){return $(this).data("id") == id })
			if (search.length > 0){
				icon.find('.slideContent').prepend(search.find('.info').html())
			}
		})
		initOverlay();
	})
	function reorder(){
		$('#slidelist>.activeIcon').each(function(index){
			$(".slideForm>.order", this).val(index);
		})
	}

	function initOverlay() {
		// Fill overlay modal with content
		$('#slideOverlayModal .modal-body').html($('#listSlidesLoader').html());
		$('#slideOverlayModal .slideItem .addbuttoncontainer .addslidebutton').text('Change');
		$('#id_overlay').hide();
		onOverlayChange();
	}

	function onOverlayChange() {
		// Run when overlay value changes
		let $overlayIdField = $('#id_overlay');
		let selectedSlideId = $overlayIdField.find(':selected').attr('value');
		if (selectedSlideId) {
			let $selectedSlide = $(`#slideOverlayModal .slideItem[data-id=${selectedSlideId}]`);
			$('#overlay-info').html($selectedSlide.html());
			$('#overlay-info .addbuttoncontainer').append('<button type="button" class=" btn btn-block btn-danger removebutton">Remove</button>');
			$('#overlay-info .addbuttoncontainer .removebutton').click(function(evt){
				evt.preventDefault();
				$overlayIdField.val([]);
				onOverlayChange();
			});
		} else {
			$('#overlay-info').html('<button type="button" class=" btn btn-block btn-primary addslidebutton">Add an overlay</button>');
		}

		// Show overlay slides modal
		$('#overlay-info .addslidebutton').click(function(evt){
			evt.preventDefault();
			$('#slideOverlayModal').modal('show');
		});

		// Change the overlay value
		$('#slideOverlayModal .addslidebutton').click(function(evt){
			evt.preventDefault();
			var slideItem = $(this).closest('.slideItem');
			$overlayIdField.val(slideItem.attr('data-id'));
			$('#slideOverlayModal').modal('hide');
			onOverlayChange();
		});
	}

	$('#slidelist').each(function(){
	    var $this = $(this);
	    $this.append($this.find('.activeIcon').get().sort(function(a, b) {
	        return $('.slideForm>.order', a).val() - $('.slideForm>.order', b).val();
	    }));
	});
	$( "#slidelist" ).sortable({
		containment: '#slidelist',
		cursor: "move",
		revert: true,
		scroll: false,
	    helper: 'clone',
		update: function( event, ui ) {
			reorder();
		}
	});
	$('#addslide').click(function(evt){
		evt.preventDefault();
		$('#slidesModal').modal('show');
	})
	$('#cancel').click(function(evt){
		window.history.back()
	})
	$(document).on('click', '.slidedelete', function(evt){
		evt.preventDefault();
		var slide = $(this).closest('.slideIcon')
		$(".slideForm>[id$='-DELETE']", slide).prop('checked', true);
		slide.removeClass('activeIcon', function(){
			reorder()
		});
	})
	$('#listSlidesLoader').on('click', '.slideItem .addslidebutton', function(evt){
		evt.preventDefault();
		var slideItem = $(this).closest('.slideItem');
		// Get highest layer
		var index_highest = 0;
		$("#slidelist>.activeIcon").each(function() {
		    var index_current = parseInt($(".slideForm>.order",this).val());
		    if(index_current > index_highest) {
		        index_highest = index_current;
		    }
		});
		var count = $('#slidelist>.slideIcon').length;
		var owner = slideItem.find('.owner').text()
		var title = slideItem.find('h4>span>b').text()
		var tmplMarkup = $('#emptyslide').html();
		var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count).replace(/__title__/g, title).replace(/__owner__/g, owner);
		$('#slidelist').append(compiledTmpl);
		//Grab this newest slide we just added...
		var newlayer = $('#slidelist .slideIcon:last-child')
		// Fill it with goodies from the jsonData
		$(".slideForm>.order", newlayer).val(index_highest+1)
		$(".slideForm>.slide", newlayer).val(slideItem.data('id'))
		$('.slideContent', newlayer).prepend(slideItem.find('.info').html())
		// update form count
		$('#id_slide-TOTAL_FORMS').attr('value', count+1);
		$('#slidesModal').modal('hide');
		reorder();
		newlayer.find('.timeselect').flatpickr({enableTime: true});
	})
	$(".timeselect").flatpickr({enableTime: true});
	$("#slidelist").on('click', '.clear-time', function(){
		$(this).closest('.input-group').find('input').val("")
	})
	</script>
{% endblock %}
