{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slideshows' 'slideshows' %}
{% endblock %}

{% block style %}
<style>
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<page-header title="Slideshows" icon="fa-th-list">
  <a href="{% url 'new_slideshow' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New slideshow</a>
  <a href="{% url 'create_slideshow_from_pdf' %}" class="btn btn-primary btn-sm"><i class="fa fa-file-pdf"></i>Create from PDF</a>
</page-header>
<div class="container-fluid">
	<div class="row">
    <div class="col-lg-4 col-md-5 col-xs-12">
			<info-panel title="Standing slide-by-slide">
				<p>Slideshows are a simple collection of slides, each slide having an allocated time to display. A slideshow will loop infinitely through these slides.</p>
			  <p class="text-muted">Please keep in mind that slideshows will not automatically switch to the emergency display in case of an on-campus emergency.</p>
			</info-panel>
		</div>
		<div id="listSlideshowsLoader" class="col-lg-8 col-md-7 col-xs-12">
		</div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share Slideshow <span id="sharetitle"></span></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="transferModalLabel">Transfer Slideshow <span id="transfertitle"></span></h4>
      </div>
      <div id="transferModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listSlideshowsLoader').load('{% url "list_slideshows" mode="manage" %}')
	$('#listSlideshowsLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/slideshow/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
		$('#sharetitle').html($(this).data('itemtitle'));
	})
	$('#listSlideshowsLoader').on('click', '.transferbutton', function(){
		$('#transferModalBody').load('/transfer/slideshow/'+$(this).data('itempk')+'/', function(){
			$('#transferModal').modal('show');
		})
		$('#transfertitle').html($(this).data('itemtitle'));
	})
</script>
{% endblock %}