<div id="slideshow-{{slideshow.id}}" data-id="{{slideshow.id}}" data-title="{{slideshow.title}}" class="slideshowItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerSlideshow row">
		<div class="col-xs-12">
			<span class=""><i class="fa fa-th-list"></i></span>
			<span class="pull-right">
			{% if mode == "manage" %}
			<a target="_blank" href="{% url 'clone_slideshow' slideshow.id %}"><i class="favtoggle fa fa-copy" title="Clone this slideshow"></i></a>
			{% endif %}
			</span>
		</div>
		<div class="{% if mode == "manage" %}col-xs-8{% else %}col-xs-12{% endif %}">
				<h4 style="margin:0; margin-top:5px" class="slideshowTitle"><span title="{{slideshow.title}}"><b>{{slideshow.title}}</b></span>
				<br>
				<small>(by: {% if slideshow.owner == user %}Me{% else %} {{slideshow.owner.username}}{% endif %})
					{% load slide_tags %}
					<br>
					Used in Screens:
					<a href="#!" data-toggle="popover" data-trigger="focus" title="Screens" data-html = "true" style="display: inline; cursor: pointer;"
						data-content="{% slideshow_item_screen slideshow %}</div>">
						view</a>
					<br>
				Last Edited: {{slideshow.edit_date|date:"Y/m/d"}} by {% if slideshow.last_edit %}{{slideshow.last_edit}}{% else %}{{slideshow.owner.username}}{% endif %}
				</small>
				</h4>
		{% if mode == "manage" %}
			<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
				<p><small></small></p>
				<p>{{slideshow.description}}</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button type="button" class="sharebutton btn btn-primary btn-sm" data-type="slideshow" data-itempk="{{slideshow.id}}" data-itemtitle="{{slideshow.title}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_slideshow' slideshow.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
				<a href="{% url 'view_slideshow' slideshow.id %}?preview=true" class="btn btn-primary btn-sm">View</a>
				{% if slideshow.owner == user %}
				<button type="button" class="transferbutton btn btn-primary btn-sm" data-type="slideshow" data-itempk="{{slideshow.id}}" data-itemtitle="{{slideshow.title}}">Transfer</button>
				{% endif %}
				{% if perms.delete == True %}<button type="button" class="btn slideshow-delete-button btn-default btn-sm" data-deleteurl="{% url 'delete_slideshow' slideshow.id%}">Delete</button>{% endif %}
			</div>
		</div>
		{% else %}
		</div>
		{% endif %}
		<div class="col-xs-12 addbuttoncontainer">
			{% if perms.use == True %}
			<button type="button" class=" btn btn-block btn-primary addslideshowbutton">Add</button>
			{% else %}
			<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
			{% endif %}
		</div>
	</div>
</div>

<script>
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>

<style>
	.popover {
    max-height: 20vh;
    overflow-y: auto;
    white-space:pre-wrap;
}
</style>
