<html>
<head>
	<style type="text/css">
	body{
		margin:0;
		padding:0;
		{% if request.GET.preview %}
		background-color: black;
		overflow: auto;
		{% else %}
		background-color: #474d57;
		overflow: hidden;
		{% endif %}
		min-height: 100vh;
		height: 100vh;
		max-height: 100vh;
		width: 100vw;
		max-width: 100vw;
	}
	.element{
		width: 100%; height: 100%; position:absolute; left: 0; top: 0;
	}
	#element-wrapper{
	{% if request.GET.preview %}

		margin: auto;
		position: relative;
		background-color: #474d57;

		width: {{dimensions.0}}%;
	}
	#element-wrapper:before {padding-top: {{dimensions.1}}%;
	    content: '';
	    display: block;
	{% endif %}
		padding-top: {{dimensions.1}}%;
	}
	.fade{
		opacity: 1;
		-webkit-transition: opacity 0.6s ease-in-out;
	    -moz-transition: opacity 0.6s ease-in-out;
	    -ms-transition: opacity 0.6s ease-in-out;
	    -o-transition: opacity 0.6s ease-in-out;
	}
	</style>
</head>
<body>
<div id="element-wrapper">
	{% comment %} iFrame for overlay {% endcomment %}
	<iframe src="{{overlay_src}}" class="element" style=" z-index:10;" allowtransparency="true"
	scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" sandbox="allow-scripts allow-same-origin">
	</iframe>

	<div id="bg" class="element fade" style="z-index:5; background-color: #000000;"></div>


	<iframe src="about:blank" class="element current" style=" z-index:4;"
	scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" sandbox="allow-scripts allow-same-origin">
	</iframe>

	<div id="bg" class="element" style="z-index:2; background-color: #474d57;"></div>

	<iframe src="about:blank" class="element next" style="z-index:1;"
	scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" sandbox="allow-scripts allow-same-origin">
	</iframe>

</div>
<script src="/static/js/jquery-2.2.0.min.js"></script>

<script>
function nextframe(source, time, index){
	$('.next').attr('src', source)
	$('.next').load(function postLoad(){
		$('.next').off('load', postLoad)
		$('#bg').css('opacity', 1);
		setTimeout(function(){
			var current = $('.current');
			$('.next').css('z-index', 4);
			$('.next').toggleClass('next current')
			current.attr('src', 'about:blank').load().css('z-index', 1).toggleClass('next current');
			function getIt(){
				$.get('/slideshows/nextslide/{{slideshow.id}}/'+String(index)+'/', function(data){
					$('#bg').css('opacity', 0);
					setTimeout(function(){
						setTimeout(function(){nextframe(data.slide, data.time, data.index)}, time)
					}, 600);
				}).fail(function(error){
					console.log('fail', this)
					setTimeout(function(){
						getIt()
					}, 6000)
				})
			}
			getIt()
		}, 600)
	})
}
$(function(){
	nextframe('{{fs_src}}', {{fs_time}}, 0)
})
</script>
</body>
</html>
