
<div class="slideIcon activeIcon col-lg-3 col-md-4 col-xs-12">
	<div class="itemContainer itemContainerSlide row" {% if form.instance.slide.trashed_at %}style="background-color: #ff9999;"{% endif %}>
		<div class="col-xs-12">
			<span class=""><i class="fa fa-object-group"></i></span>
			{% if form.instance.slide.trashed_at %}
			<span style="right: 0; position: absolute; padding-right: 15px;"><i class="fa fa-exclamation" style="padding-right: 3px;"></i><b>Slide in trashbin</b></span>
			{% endif %}
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
				<h4 style="margin:0; margin-top:5px" class="slideTitle" title="{% if form.instance.slide.title %}{{form.instance.slide.title}}{% else %}__title__{% endif %}"><b>{% if form.instance.slide.title %}{{form.instance.slide.title}}{% else %}__title__{% endif %}</b>
				<br>
				<small>(by: <span class="owner">{% if form.instance.slide.title %}{% if form.instance.slide.owner == user %}Me{% else %} {{form.instance.slide.owner.username}}{% endif %}{% else %}__owner__{% endif %}</span>)
				</small>

				</h4>

			</div>
			<div class="slideContent">
				<div class="col-xs-8" style="margin-bottom: 5px;"><b>Display length (seconds):</b></div>
				<div class="col-xs-4" style="padding-left: 3px !important;">{{form.length}}</div>
				<div class="col-xs-8"><b>Start Date:</b>{{form.time_start.errors}}</div>
				<div class="col-xs-12" style="margin-bottom: 5px;">
					<div class="input-group">
						{{form.time_start}}
						<span class="input-group-btn">
				        	<button class="btn btn-default clear-time" type="button">X</button>
				      	</span>
			      	</div>
			    </div>
				<div class="col-xs-8"><b>End Date:</b>{{form.time_end.errors}}</div>
				<div class="col-xs-12" style="margin-bottom: 5px;">
					<div class="input-group">
						{{form.time_end}}
						<span class="input-group-btn">
		        			<button class="btn btn-default clear-time" type="button">X</button>
		      			</span>
		      		</div>
		      	</div>
		      	<div class="remove-after-wrapper">
				    <div class="col-xs-10"><b>Remove after end date?</b>{{form.end_removal.errors}}</div>
				    <div class="col-xs-2" style="margin-bottom: 5px;">
				    	<div class="input-group">
				    		{{form.end_removal}}
				    	</div>
				    </div>
			    </div>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<!-- Need to improve the edit button -->
						{% if form.instance.slide.title %}
							{% if form.instance.slide.trashed_at %}
							<button type="button" class="btn btn-primary disabled">Edit</button>
							{% else %}
							<a href="/slides/edit/{{form.instance.slide.id}}/" target="_blank" class="btn btn-primary">Edit</a>
							{% endif %}
						{% else %}
							<button type="button" class="btn btn-primary disabled">Edit</button>
						{% endif %}
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary slidedelete">Remove</button>
					</div>
				</div>
			</div>
			<div class="slideForm" style="display:none;">
				{{form.slide}}{{form.id}}{{form.DELETE}}{{form.order}}
			</div>
		</div>
	</div>
</div>
