{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slideshows' 'slideshows' %}
{% endblock %}

{% block style %}
<style>
    div.no-slides {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>

{% endblock %}

{% block body %}
<div class="no-slides">
    <h2>This slideshow has no slides!</h2>
    <a href={% url 'slideshows' %} class="btn btn-primary btn-lg">Back to Slideshows</a>
</div>
{% endblock %}
