{% extends 'UI/skin.html' %}
{% load slide_tags %}
{% load breadcrumbs %}
{% block breadcrumbs %}
	{% breadcrumb_url 'Images' 'images' %}
{% endblock %}

{% block style %}
	<style type="text/css">
		#listImagesLoader > .tab-content {
			margin-top: 10px;
		}
		.tab-content {
			background-color: white;
			border-left: 1px solid ddd;
			border-right: 1px solid ddd;
			border-bottom: 1px solid ddd;
			margin-left: 1px;
		}
		.tab-pane {
			padding: 30px;
		}
		.itemContainer {
			padding: 2px;
			background-color: #f8bfff;
		}
		.info-td,
		.image-url {
			max-width: 200px;
		}
		.image-url {
			width: 100%;
			word-wrap: break-word;
		}
	</style>
{% endblock %}

{% block body %}
	<body>
		<page-header title="Images" icon="fa-picture-o">
			<button id="upload-image" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Upload image</button>
		</page-header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-xs-12">
					<info-panel title="Upload and delete images.">
						Images can be used in widgets using the image control. Images can be
						supplied via url or by uploading the image. Images can also be deleted
						(if they are not in use).
					</info-panel>
				</div>
				<div class="col-lg-8 col-md-7 col-xs-12">
					<div id="listImagesLoader">
						<div class="tab-content">
							<div class="input-group" style="padding:20px;">
								<input
									type="text"
									id="my_images_search"
									class="form-control"
									placeholder="search for image title"
								/>
								<span class="input-group-addon"><i class="fa fa-search"></i></span>
							</div>
							<div class="tab-pane active">
								<table class="table">
									<tbody id="image_list">
										{% for image in images %} {% if image.image %}
										<tr
											class="itemContainer"
											data-id="{{image.id}}"
											data-url="{{image.image.url}}"
										>
											<td class="text-center">
												<img
													src="{{image.thumbnail.url}}"
													style="min-height: 60px; max-height: 120px; max-width: 200px; height: auto; width: auto; display: block;"
												/>
											</td>
											<td class="info-td">
												<p><small>{{image.creation_date}}</small></p>
												<p>
													<small class="image-url"
														>{{image.image.url|url_short}}</small
													>
												</p>
											</td>
											<td>
												<button class="btn image-delete-button btn-default btn-sm">
													Delete
												</button>
											</td>
										</tr>
										{% endif %} {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div id="upload-modal"></div>
				<!-- Deletion Modal -->
				<div class="modal fade" id="deleteImageModal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body">
								<p>
									You are currently about to delete
									<b><span id="image-delete-modal-title"></span></b>.
								</p>
								<p>
									Deleting this image is <b>permenant</b>, and could effect active
									slides using this image.
								</p>
								<p>Are you sure you want to delete?</p>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-default"
									data-dismiss="modal"
								>
									Nevermind
								</button>
								<button
									id="image-delete-modal-button"
									type="button"
									class="btn btn-danger"
									data-deleteurl=""
									data-deleteid=""
								>
									DELETE
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	{% endblock %} {% block script %}
	<script type="text/javascript">
		window.addEventListener("load", windowLoadHandler, false);

		function windowLoadHandler() {
			$("#upload-modal").load('{% url 'image_upload' %}')
		}

		$(function(){
		var currentTimeout

		$(document).on('change propertychange keyup', '#my_images_search', function(){
			var search = $(this).val().toLowerCase();
			if (search.length > 3){
				clearTimeout(currentTimeout);
				currentTimeout = setTimeout(function(){
					var thistab = $("div.active")
					$('.itemContainer', thistab).each(function(){
						if ($(this).data('url').toLowerCase().includes(search)){
							$(this).show()
						}
						else {
							$(this).hide()
						}
					})
				}, 350)
			}
			else {
				var thistab = $("div.active")
				$('.itemContainer', thistab).each(function(){
					$(this).show()
				})
			}
		})
		})

		// Handle Deletion
		var id = ''
		$('.image-delete-button').click(function(){
			var title = $(this).closest('.itemContainer').find(".image-url").text()
			var modal = $("#deleteImageModal")
			id = $(this).closest('.itemContainer').data('id')
			$('#image-delete-modal-title').text(title)
			$('#image-delete-modal-button').data('deleteid', id)
			modal.modal('show')
		})

		$("#image-delete-modal-button").click(function(){
			id = $('#image-delete-modal-button').data('deleteid')
			if (id != ''){
				$.get("/images/delete/" + id + "/", function(){
				}).done(function(){
					location.reload()
				}).fail(function(){
				})
			}
		})
	</script>
{% endblock %}
